<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$B$*$/$A$e!#$NCK;R%=%U%H%F%K%9It(B</title>
<link rel="contents" href="./" />
<?xml-stylesheet href="../okuchuu-style"?>
<link rel="stylesheet" href="../okuchuu-style" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rel="copyright" href="../c" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|Cf(B, $B%F%K%9(B, $B%=%U%H%F%K%9(B, $BFp<0%F%K%9(B, $BFp%F(B, $BIt3h(B, $BIt3hF0(B, $BIt(B, $B%/%i%V(B, $B$*$/$A$e!#(B, $B1|EDCf3X9;(B, $B@>(BT, $B=.C]>D(B, $BL+M[2p(B, $B%3!<%H(B, $B%M%C%H(B, $B?3H=(B, $B1~1g(B" />
</head>
<body>
<h1><a href="../"><img class="minilogo" src="../logo" alt="$B$*$/$A$e!#(B" /></a> $BCK;R%F%K%9It(B</h1>

<h2>$B@o@S(B</h2>

<h3>$BJ?@.(B10(1998)$BG/EY(B</h3>

<ul>
	<li>$BIY;3;T%=%U%H%F%K%96(2qGU(B(7$B7n(B) 3$B0L(B</li>
	<li>$B=)5(CO6hAm9g6%5;Bg2q(B
		<ul>
		<li>$BCDBN$NIt(B 3$B0L(B</li>
		<li>$B=.C]!&L+AH(B 3$B0L(B</li>
		</ul>
	</li>
<!-- $B$$$D$b(B3$B0L$@!&!&(B -->
</ul>

<h2>$B%3!<%H@0Hw(B</h2>

<p>$B<+J,C#$N%3!<%H$N@0Hw$O<+J,C#$G(B, $B$H!"$^$"Ev$?$jA0$J$3$H$J$s$G$9$,!"(B
$B7k9=BgJQ$J$s$G$9$J!#(B</p>
<p>$BFC$K?7%3!<%H$O%M%C%H$rLZ$KG{$C$?$j9:$rBG$C$?$j$7$FH>$P6/0z$K(B
$BD%$C$F$?!"$*<j@=$_$?$$$J%3!<%H$G$7$F!"K?>eB<@hGZ$,NI$/LZEP$j(B
$B$7$F$^$7$?$M!#(B</p>
<p>$B$H$3$m$,!"J?@.(B10$BG/=)$NBgIw$G!"?7%3!<%H(B($B5lBN0i4[@W(B)$BOF$K$"$C$?%]%W%i$,(B
$B$V$CE]$l$F!"Bg%@%a!<%8$r<u$1$^$7$F!"$=$l$G$J$/$F$b!"%0%i%s%IB&$O(B
$B;Y$($kLZ$,L5$/$F!"9:BG$C$F$"$C$?$N$G$9$,!"LV$K$+$+$kNO$r9M$($k$H(B
$B$I$&9M$($F$bL5M}$,$"$C$F!"L50UL#2=$7$F$-$F$$$?$o$1$G$9!#(B</p>
<p>$B$=$s$J$o$1$G!"(B<span class="red">$B$o$+$P$/$s(B</span>$B$,!"(B
$B?7%3!<%H<~0OLV@0Hw@lG$(B($B$)$#(B)$B$H$J$C$F!"4hD%$C$?$N$G$7$?!#(B</p>
<p>$B$G$b!"@^3Q4hD%$C$F$b!"Iw$,?a$$$FE]$l!"B46H<0$J$I$GCs<V>l(B?$B$K(B
$B;H$o$l30$5$l!"$G$b$C$F(B<a href="../1999z/">$BJ?@.(B11$BG/EYA04|(B</a>$B$K(B
$B@8EL2q$N;E;v$KK;$7$/Mh$l$J$/$J$C$?$iC/$b<jF~$l$,=PMh$J$/$J$C$F(B
$B85$N$b$/$"$_!#$U$%!#(B</p>

<p>$B$=$NE@!"5l%3!<%H$OM>Dx$N$3$H$,L5$$8B$j$V$CHt$V$3$H$OL5$$$G$7$g$&$+$i!"(B
$B3Z$G$9$M!#$G$b!"=|Ap$,$H$C$F$bBgJQ$G$9$o!#(B</p>

<p>$B$=$NB>$N<~JU@0Hw%A%'%C%/%]%$%s%H$H$7$F$O!"5l%3!<%H$H(B($B?7(B)$BBN0i4[(B
$B$N4V$NF;$K$"$k9B$G$7$g$&$+!#85!9$O$A$c$s$H$7$?9B$,$"$C$F1+$J$I$O(B
$B$=$3$rN.$l$F$$$?$i$7$$$N$G$9$,!"(B<span class="red">$B$o$+$P$/$s(B</span>$B$,(B
$BF~It$7$?:"$K$O4{$KJ?$i$K$J$C$F$$$?$=!<$G$9(B($B>P(B)$B!#(B</p>
<p>$B$^$?!"$=$3$NF;$NB&9B(B($B$,$"$C$?$H?dDj$5$l$k>l=j(B)$B$K$O!"EZ$r>/$77!$k$H(B
$B@P(B($B%3%s%/%j!<%H(B)$B$N0d9=$,8=$l$^$9!#F;$rEO$C$F$$$kJ}$N9B$,(B
$BKd$^$C$?$N$O$3$A$i$,40A4$KKd$^$C$F$$$k$;$$$N$h$&$J$N$G!"(B
$B$3$C$A$b4hD%$C$F7!$j$^$7$?!#$G$b!"7k6I40A4$K85$N>uBV(B
($B$H?dDj$5$l$k>uBV(B)$B$K$OLa$;$J$/$F!";DG0$G$7$?$M!#(B</p>

<h2>$B%F%K%9%3!<%H<~JU$N0d@W(B</h2>

<p>$B$$$D$@$C$?$+!"Cn$+$J$s$+$,$$$8$a$i$l$F!"$=$l$,%F%K%9%3!<%H(B
$BOF$NJU$j$K7j7!$C$FKd$a$i$l!"$=$N>e$K@P:\$;$?$jK@N)$F$?$j(B
$B$5$l$F$^$7$?!#(B</p>
<p>$B$=$l$rLLGr$,$C$?(B($B5TBT$r$8$c$J$/$F!"$=$N(B($BDL>N(B)$BJh$r!#(B)
<span class="red">$B$o$+$P$/$s(B</span>$B$,!"(B
$B99$K@P>v$K$7$h$&$H;n$_$F$_$?$j!"$($2$l$9$N$/$K$K$"$k$HEA$(J9$/(B
$B@P$NNX$H$$$U$b$N$r??;w$F$_$h$&$H;n$_$?$j$7$?$s$G$9$,!"(B
$B2x$7$$$+$i$d$a$m$H$+$$$o$l$A$^$$$^$7$?(B($B>P(B)$B!#(B</p>
<p>$B:#$G$b$=$NJU$j(B($BDL>N8EJ/(B)$B$O!"2?$+IT;W5D$J46$8$K$J$C$F$$$k$H(B
$BEA$($i$l$F$$$^$9(B($BFf(B)$B!#(B</p>
<p>$B"($=$N@9$jEZ$O!"=PMh$?$P$+$j$N:"$d=|Ap$N;~$OFEF,$K(B
$B$?$H$($i$l$^$7$?!#(B</p>

<h2>$B1~1g(B</h2>

<p>$BBg2q$J$s$+$K9T$/$H!"=w;R$O2?=h$N3X9;$G$bBgBN1~1g$N2N$H$$$&$+3]$1@<(B
$B$H$$$&$+$^$"$=$s$J$N$,$"$k$s$G$9$1$I!"CK;R$@$H$"$k3X9;$O$=$s$J$K(B
$BB?$/$J$$$_$?$$$G$9!#(B</p>

<p>1997$BG/$N$"$k;~!"(B1$BG/@8$NC/$+$,(B3$BG/@8(B($B$@$C$?$C$1(B?)$B$N@hGZ$K(B
$BJ9$-$^$7$?!#(B($B1~1gN}=,$7$F$$$k=w;R$N$h$&$K(B) $BN}=,$7$J$$$N$G$9$+(B?
$B$H!#@hGZ$O$3$l$KEz$($F$*$C$7$c$$$^$7$?!#$"$s$J3J9%$N0-$$$3$H$r(B
$B$7$?$$$N$+!"$H!#$G!"1~1g$OE,Ev$K!V%i%C%-!<!W$H$+!V%J%$%9%5!<%V!W$H$+(B
$B8@$C$F$l$PNI$$$s$@$=$&$G$9!#(B</p>

<p>$B$H$3$m$GB>$N3X9;$N1~1g$O(B($B$&$k$5$$$G$9$1$I(B)$B?'!98D@-$,$"$C$F(B
$BLLGr$$$G$9$M!#(B</p>

<address>
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>
<a href="./" rel="contents">$B%F%K%9It(B</a>]
</address>
<div class="update">2001-09-27, 2001-12-04
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/tennis/danshi.ja.html&amp;profile=css2" xml:lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
</body></html>
