<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="/s/simpledoc.css" type="text/css" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>401 $BG'>Z$,I,MW$G$9!#(B</title>
<link rel="contents" href="./" title="$BEA@b$N$*$/$A$e!#(B" />
<link rel="stylesheet" href="/s/simpledoc.css" type="text/css" />
<link rev="made" href="mailto:w@suika.fam.cx" />
<link rel="copyright" href="/c/pd" title="$B$3$N%a%b<+BN$O(B Public Domain $B$G$9!#(B" />
<meta name="author" content="$B<cMU(B" />
<style type="text/css">

.postmsg
	{margin-left: 4em;
	border: blue thin double;
	padding: .2em}

.postmsg input
	{font-size: 100%;
	border-style: none none dashed none;
	border-color: gray; border-width: thin;
	padding-bottom: .1em}

.postmsg .readsubmit
	{margin: .1em;
	border: dotted red thin;
	padding: .1em;
	background-color: inherit; color: inherit;
	cursor: hand}

.postmsg .ids, .postmsg .names, .postmsg .comments, .postmsg .passwords
	{margin-right: 1.5em}
</style>
</head>
<body>
<h1><a href="/okuchuu/"><img class="minilogo" src="/okuchuu/logo" alt="$B$*$/$A$e!#(B" /></a> $BG'>Z$,I,MW$G$9!#(B</h1>

<p>$B?=$7Lu$"$j$^$;$s$,!"$3$N;q8;$r$4MxMQ$K$J$k$3$H$,G'$a$i$l$F$$$k$H3NG'$G$-$^$;$s$G$7$?!#(B</p>
<p><a href="/okuchuu/"><cite>$BEA@b$N$*$/$A$e!#(B</cite></a>$B$G$O!"(B
$B8D?M>pJsJ]8n$=$NB>$NM}M3$G!"0lIt$N;q8;$NMxMQ$K@)8B$r2]$7$F$$$^$9!#(B
$B8=:_Kt$O2a5n$N$*$/$A$e!#4X78<T$GMxMQ$5$l$?$$J}$O!"(B
$B$=$N;]$r(B &lt;<a href="mailto:okuchuu@suika.fam.cx">okuchuu@suika.fam.cx</a>&gt;
$B$^$G$4O"Mm2<$5$$!#@^$jJV$7$40FFb$7$^$9!#(B</p>

<div><!--
<form class="postmsg" method="post" action="/~wakaba/sendmsg" accept-charset="iso-2022-jp, us-ascii">
	<input type="hidden" name="subject" value="[$B$*$/$A$e!#(B] $B9g8@MUH/9T4uK>(B" />
	<label class="names">$BL>A0(B: <input type="text" name="name" value="" /></label><br />
	<label class="mails">$BEE;R%a%$%k(B: <input type="text" name="mail" value="" /></label><br />
	<label class="ids">$B4uK>$9$k<1JL;R(B (A$B!A(BZ, a$B!A(Bz, 0$B!A(B9 $B$NJ8;z$N$_;HMQ=PMh$^$9!#(B): <input type="text" name="id" value="" /></label><br />
	<label class="passwords">$B4uK>$9$k9g8@MU(B(A$B!A(BZ, a$B!A(Bz, 0$B!A(B9 $B$NJ8;z$N$_;HMQ=PMh$^$9!#(B): <input type="password" name="password" value="" /></label><br />
	<label class="comments">$B$*$/$A$e!#$H$N4X78(B: <input type="text" name="comment" value="($BNc(B) 199x$BG/B46H(B, 3-Y" /></label><br />
	
	<input type="submit" value="$B?=@A(B" class="readsubmit" title="$B2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
</form>
-->
</div>

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="./">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>]
<img src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
  alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" />
<img style="width: 88px; height: 31px" id="w3c-css"
  src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
</div>
<div class="update">$Date: 2003/08/15 23:27:35 $</div>
<ul class="myuri">
<li>&lt;URL:<a href="http://suika.fam.cx/okuchuu/401">http://suika.fam.cx/okuchuu/401</a>&gt;</li>
<li>&lt;CVS:<a href="http://suika.fam.cx/gate/cvs/okuchuu/401.ja.html">suika.fam.cx:/home/cvs/okuchuu/401.ja.html</a>&gt;</li>
</ul>
</body></html>
