<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML><HEAD>
<TITLE>ERROR: The requested URL could not be retrieved</TITLE>
</HEAD><BODY>
<H1>ERROR</H1>
<H2>The requested URL could not be retrieved</H2>
<HR>
<P>
The following error was encountered:
<UL>
<LI>
<STRONG>
Access Denied.
<br>
$B$3$N%5%$%H$K$O%"%/%;%9$G$-$^$;$s!#(B
</STRONG>
<P>
Access control configuration prevents your request from
being allowed at this time.  Please contact your service provider if
you feel this is incorrect.
<br>
$B650i>e$3$N$^$7$/$J$$%5%$%H$X$N%"%/%;%9$r@)8B$7$F$$$^$9!#(B
$B$^$?!"A4$F5-O?$K;D$7$F$$$^$9!#(B<br>
<!--$BIY;38)650i>pJsDL?.%M%C%H%o!<%/5rE@(B-->$BEA@b$N$*$/$A$e!#%M%C%H%o!<%/5rE@(B<br>
</UL>
<hr>
<address>
webmaster@suika.fam.cx
<!--noc@tym.ed.jp-->
</address>
<!--
</body>
</html>
-->

<br clear="all">
<hr noshade size=1>
Generated <!--Wed, 16 Jan 2002 08:43:55 GMT-->now by suika<!--NOC11 (Squid/2.3.STABLE4)-->
</BODY></HTML>
