<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$B$*$/$A$e!#$NIt3hF0(B</title>
<link rel="stylesheet" href="okuchuu-style" media="all" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rel="copyright" href="/c/pd" />
<link rel="contents" href="./" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|Cf(B, $B$*$/$A$e!#(B, $BIt(B, $BIt3hF0(B, club, $B%/%i%V(B, $B1?F0It(B, $BJ82=It(B" />
</head>
<body>
<h1>$BIt3hF0(B</h1>

<p>$B8=:_(B, $B$^$?$O2a5n$KB8:_$7$?It3hF0$NI=$G$9!#(B</p>
<p>$B2a5n$N$b$NA4$F$rLVMe$7$F$$$k$o$1$G$O$"$j$^$;$s!#(B
$BH4$1$,$"$j$^$7$?$i(B<a href="mailto:okuchuu@suika.fam.cx">$B8f;XE&(B</a>$B2<$5$$!#(B</p>

<!-- $BIt$N=g=x$C$F!"2?$H$J$/B8:_$7$F$k$h$&$J5$$,$7$F$?$1$I!"(B
     $B<B$OL5$$(B!? ($B@lLg0Q0w2q$O7h$^$C$F$k$N$K!#(B) -->

<h2 id="undou">$B1?F0It(B</h2>

<!-- $B!X$"$*$0$b(B45$B!Y(B(1998) $B=g=x(B:
  $BLn5e(B $B%=%U%H(B $B=@F;(B $B%P%l!<(B $B7uF;(B $BN&>e(B $B%O%s%I(B $B%F%K%9(B $BBn5e(B
  $B%P%9%1(B $B%P%I(B $BBNA`(B $B?e1K(B $B%5%C%+!<(B $BAjKP(B
 -->
<!-- $B!X$"$*$0$b(B47$B!Y(B(2000) $B=g=x(B:
  $BLn5e(B $B%=%U%H(B $B=@F;(B $B7uF;(B $BN&>e(B $B%O%s%I(B $B%F%K%9(B $BBn5e(B $B%5%C%+!<(B
  $B%P%9%1(B $B%P%l!<(B $BBNA`(B $B%P%I(B $B?e1K(B
 -->

<!-- $BAT9T2q(B99$B=g=x(B -->
<ul>
<li>$B%5%C%+!<It(B ($BCK(B)</li>
<li>$BLn5eIt(B ($BCK(B)</li>
<li>$B%=%U%H%\!<%kIt(B ($B=w(B)</li>
<li>$B%O%s%I%\!<%kIt(B ($BCK(B, $B=w(B)</li>
<li>$BN&>eIt(B ($BCK(B, $B=w(B)</li>
<li><a href="tennis/">$B%=%U%H%F%K%9It(B</a> 
(<a href="tennis/danshi" title="$BCK;R%=%U%H%F%K%9It(B">$BCK(B</a>, $B=w(B)</li>
<li>$B%P%I%_%s%H%sIt(B ($BCK(B, $B=w(B)</li>
<li>$B%P%9%1%C%H%\!<%kIt(B ($BCK(B, $B=w(B)</li>
<li>$B%P%l!<%\!<%kIt(B ($BCK(B, $B=w(B)</li>
<li>$BBn5eIt(B ($BCK(B, $B=w(B)</li>
<li>$BBNA`It(B ($BCK(B, $B=w(B)</li>
<li>$B=@F;It(B ($BCK(B, $B=w(B)</li>
<li>$B7uF;It(B ($BCK(B, $B=w(B)</li>
<li>$B?e1KIt(B ($BCK(B, $B=w(B)
	<p>$B%W!<%k$,$J$/$J$C$F$+$i$O!"(B
	$BBg2q;22C0J30$G$O3F<+%9%$%_%s%0!&%9%/!<%kEy$GN}=,$7$F$$$^$9!#(B</p></li>
<li>$B?7BNA`It(B ($BCK(B)
	<p>$B2a5n$K0l;~4|B8:_$7$F$$$?$i$7$$$G$9!#(B</p></li>
</ul>

<h3 id="UNDOU-SPECIAL">$BFC@_$NIt(B</h3>

<p>
$B<!$NIt$O7A<0E*$KB8:_$7$^$9$,!"Bg2q=P>l;~$K%a%s%P!<$,=8$a$i$l$k$@$1$N(B
<q>$BFC@_(B</q> $B$NIt$G$9!#(B
</p>

<ul>
<li>$BAjKPIt(B ($BCK(B)</li>
<li>$B1XEAIt(B ($BCK(B, $B=w(B)
	<ul>
	<li><a href="1999/ekiden/ekiden">$BJ?@.(B11$BG/EY(B</a></li>
	</ul></li>
<li>$B%9%-!<It(B ($BCK(B, $B=w(B)</li>
</ul>

<h2 id="bunka">$BJ82=It(B</h2>

<!-- $B!X$"$*$0$b(B45$B!Y(B(1998) $B=g=x(B:
  $B?aAU3Z(B $B>-4}(B $BH~=Q(B  $B9g>'(B $B1i7`(B $B%[!<%`%a%$%-%s%0(B($B%^%^(B) $BCcF;(B $B%$%iJ8(B
  $B%Q%=%3%s(B
 -->
<!-- $B!X$"$*$0$b(B47$B!Y(B(2000) $B=g=x(B -->
<ul>
<li>$BCcF;It(B</li>
<li><a href="blue-oceans/">$B?aAU3ZIt(B (Blue Oceans)</a></li>
<li>$B9g>'It(B</li>
<li>$B1i7`It(B</li>
<li>$BH~=QIt(B</li>
<li>$B%$%i%9%HJ87]It(B (<abbr>$B%$%iJ8(B</abbr>)
	<p>$BIt0wITB-$K$h$j(B2000$BG/EY$^$G$G>CLG!#(B</p></li>
<li><a href="personal-computer/">$B%Q%=%3%sIt(B</a></li>
<li>$B%[!<%`%a!<%-%s%0It(B</li>
<li>$B>-4}It(B
	<p>$BIt0wITB-$K$h$j(B1999$BG/EY$^$G$G>CLG!#(B</p></li>
</ul>

<h2>$B85(B/$B8=It0w$N3'MM$X(B</h2>

<p>$B$*$/$A$e!#$NIt3hF0$K4XO"$7$?(B Web $B%5%$%H$N>l=j$rL5NA$G8fMQ0UCW$7$^$9!#(B
<a href="mailto:okuchuu@suika.fam.cx">$B8fAjCL(B</a>$B2<$5$$!#$^$?!"(B
$B4{$K(B Web $B%5%$%H$,$"$k>l9g$b!"@'Hs8fO"Mm2<$5$$!#%j%s%/$5$;$F$$$?$@$-$^$9!#(B</p>

<div class="footer">
<div class="navigation">
[<a href="/">/</a>] [<a href="./">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>]
</div>
<div class="update">$Date: 2004/08/17 06:58:09 $</div>
</div>
</body></html>
