<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="/s/simpledoc.css" type="text/css" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$BCx:n8"$=$NB>$K$D$$$F(B</title>
<link rel="contents" href="./" title="$BEA@b$N$*$/$A$e!(B#" />
<link rel="stylesheet" href="/s/simpledoc.css" type="text/css" />
<link rev="made" href="mailto:w@suika.fam.cx" />
<link rel="copyright" href="/c/pd" title="$B$3$N%a%b<+BN$O(B Public Domain $B$G$9!#(B" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|EDCf3X9;(B, $B1|Cf(B, $B$*$/$A$e!#(B, $B@8EL2(Bq, $BCx:n8"(B, Copyright, copyleft, $BJ#@=8(B", $BCx:nNY@\8(B", $BCNE*=jM-8"(B, $B>SA|8"(B" />
<meta name="description" content="$BEA@(Bb($BFf(B)$B$N!V$*$/$A$e!#!W$K$"$k!"$*$/$A$e!#$JJ8=q$NCx:n8"$K$D$$$F!#(B" />
</head>
<body>
<h1><a href="/okuchuu/"><img class="minilogo" src="/okuchuu/logo" alt="$B$*$/$A$e!#(B" /></a> $BEA@(Bb($BFf(B)$B$N!V$*$/$A$e!#!W$K$"$kJ8=q$N8"MxEy$K$D$$$F(B</h1>

<p>$B!VEA@b$N$*$/$A$e!#!(BW 
(&lt;<a href="http://suika.fam.cx/okuchuu/">http://suika.fam.cx/okuchuu/</a>&gt; $B0J2<(B)
$B$K$"$k3F<o;q8;$OJT=8%9%?%C%U$r4^$`4X78<T$,@):nKt$O<}=8$7$?$b$N$G$9!#=>$C$F!"$b$H$N@):n<T(B
($B3X9;(B, $B@8EL2(Bq, $B@):n<T8D?M$J$I!#6qBNE*$K$O$=$N;q8;$K$h$k!(B#)
$B$KCx:n8"$,$"$j$^$9!#(B
($B!VEA@b$N$*$/$A$e!#!WJT=8%9%?%C%U$KJT=8Cx:n8"$,H/@8$9$k2DG=@-$,$"$j$^$9$,!"FCJL$K8@5Z$N$"$k$b$N$r=|$-!"$3$l$r<gD%$7$J$$$3$H$H$7$^$9!#(B)</p>

<p>$BEA@b$N$*$/$A$e!#$N;q8;$O!"JLCJ$NDj$a$,$"$k>l9g$r=|$-!"<!$N$h$&$K<h$j07$&$3$H$H$7$^$9!(B#</p>

<ol>
<li>$BJT=8%9%?%C%U$,LdBj$J$$$HH=CG$7$?;q8;$O!"<+M3$K1\Mw2DG=$H$7$^$9!#(B</li>
<li>$BA09`$N;q8;$K$D$$$F!";dE*$JJ#@(B= 
($BF|K\9qCx:n8"K!;2>H(B<!-- $BCx:n8"K!$O!V;dE*!W$G$h$+$C$?$h$M(B? -->) $B$N:n@.$HJ]M(B-,
$BB>$NJ8=q$+$i$N;2>H$d0zMQ$r<+M3$K9T$C$F9=$$$^$;$s!#(B</li>
<li>$BA0!99`$N;q8;$K$D$$$F!"4X78<T(B 
($BEv3:;q8;$N@):n$*$h$SMxMQ$K$D$$$F!"1|Cf$K$*$$$F2?$i$+$N9W8%$r$7$?<T!#$^$?$O8=:_1|Cf$K@8ELKt$O?&0w$H$7$F:_@R$7$F$$$k<T!(B#)
$B$O!"<+M3$K$3$l$rJ#@=$7$?$(Bj, $B0lIt$r=$@5$7$F;HMQ$9$k$3$H$,=PMh$^$9!(B#</li>
</ol>

<p>$B>e5-$K3:Ev$7$J$$MxMQ$N>l9g$O!";vA0$N5v2D$rF@$kI,MW$,$"$j$^$9!(B#</p>

<p>Copyright 1997-2002 $B1|EDCf3X9;(B/$B1|Cf@8EL2(Bq/<a href="/okuchuu/">$BEA@(Bb($BFf(B)$B$N!V$*$/$A$e!#!W(B</a></p>

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="./">$BEA@(Bb($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>]
<a href="http://validator.w3.org/check/referer" xml:lang="en">
<img src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
  alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" />
</a>
<a href="http://jigsaw.w3.org/css-validator/check/referer" xml:lang="en">
<img style="width: 88px; height: 31px" id="w3c-css"
  src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
</a>
</div>
<div class="update">$Date: 2002/08/27 08:28:21 $</div>
<ul class="myuri">
<li>&lt;URL:<a href="http://suika.fam.cx/okuchuu/c">http://suika.fam.cx/okuchuu/c</a>&gt;</li>
<li>&lt;CVS:<a href="http://suika.fam.cx/gate/cvs/webroot/okuchuu/c.ja.html">suika.fam.cx:/home/cvs/webroot/okuchuu/c.ja.html</a>&gt;</li>
</ul>
</body></html>
