<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>GoodFriends$B1?F0(B</title>
<link rel="contents" href="./" />
<?xml-stylesheet href="okuchuu-style"?>
<link rel="stylesheet" href="okuchuu-style" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rel="copyright" href="c" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B$*$/$A$e!#(B, $B1|Cf(B, $B@8EL2q(B, GoodFriends, GF, $B%0%C%I%U%l%s%:(B, $B1?F0(B, $B$$$8$a(B, 0, $B@k8@(B, $B=82q(B" />
</head>
<body>
<h1><a href="./"><img class="minilogo" src="logo" alt="$B$*$/$A$e!#(B" /></a> GoodFriends (GF) $B1?F0(B</h1>

<p>GoodFriends $B1?F0(B ($BDL>N(B GF) $B$O!"$*$/$A$e!#FH<+$N1?F0$G!"(B
$B?H6a2a$.$F$D$$K:$l$,$A$J!VM'C#!W$r8+D>$7!"M'>p$NNX$r(B
$B$h$j9-$/!"$h$j?<$/$7$F$$$3$&$H$$$&3hF0$G$"$j$^$9!#(B</p>

<p>$BKhG/(B6$B7n$K9T$o$l$^$9!#Cf=\(B1$B=54V$r(BGF$B=54V$HDj$a!"(B
$B$=$N;~4|$K$$$m$$$m$J9T;v$,=8Cf$7$^$9!#:G8e$KAm7h;;$H$J$k(B
GF$BA49;=82q$,9T$o$l$^$9!#(B</p>

<table summary="$B3FG/$N%9%m!<%,%s0lMw(B">
<thead>
<tr><th abbr="$BG/(B">$BG/EY(B</th><th>$B%9%m!<%,%s(B</th></tr>
</thead>
<tbody>
<tr><th abbr="H9">$BJ?@.(B9$BG/EY(B</th><td></td></tr>
<tr><th abbr="H10">$BJ?@.(B10$BG/EY(B</th><td>$B;Y$($"$&Bg$-$JNX(B $B!A;d$NNY$KBg@Z$JM'!A(B</td></tr>
<tr><th abbr="H11"><a href="1999z/gf/" title="$BJ?@.(B11(1999)$BG/EY$N(BGF">$BJ?@.(B11$BG/EY(B</a></th><td>Friends make me SMILE $B!AKM$i$O0l?M$8$c$J$$!A(B</td></tr>
</tbody>
</table>

<h2 id="history">$BHk$a$i$l$?(BGF$B1?F0$N2a5n(B</h2>

<p>GF$B1?F0$NNr;K$O!"<B$N=j$[$H$s$IL@$i$+$K$5$l$F$$$^$;$s!#(B
$B$3$l$+$i@bL@$9$k$N$O!"CGJRE*$J;qNA$r85$K?dDj$5$l$k7P2a$G$9!#(B
$BBg$^$+$JN.$l$O4V0c$C$F$$$J$$$H$O;W$$$^$9$,!";29MDxEY$K(B
$B8fFI$_2<$5$$!#(B</p>

<p>$B><OB(B63$BG/(B12$B7n!"Ev;~(B1$BG/@8$@$C$?!"4dOF42;R$5$s$,!"$$$8$a$r(B
$B6l$K$7$F<+;&$7$^$7$?!#$3$N;v7o$r$a$0$C$F$OL$$@$K:[H=$,(B
$BB3$1$i$l$F$$$^$9!#(B (2001$BG/(B1$B?3H=7h(B, $B869p(B=$B0dB2$,95AJ!#(B)</p>

<p>$B$3$l$,!"(BGF$B1?F0$N5/8;$H$5$l$F$$$^$9!#!V$$$8$a(B0$B1?F0!W(B, $B!V(BWe
are Good Friends $B1?F0!W$J$I2?EY$+L>A0$rJQ$($?8e!"(B
$B8=:_$N!V(BGood Friends $B1?F0!W$H$7$FDjCe$7$F$$$^$9!#(B</p>

<p>$B;O$^$C$?Ev=i$N;qNA$O;D$5$l$F$$$^$;$s!#@8EL2q$N;qNA$O(B
$B3X9;>eAXIt$N;X<($K$h$j!"GK4~$5$l$F$$$^$9!#>e5-$NAF6Z$O(B
$B:G8e$N;qNA$,GK4~$5$l$kD>A0$KD4$Y$?$b$N$G$9!#@^3Q$G$9$+$i(B
$BJ#@=$9$k$J$I$7$F$*$/$Y$-$G$7$?!#(B</p>

<p>GF$B$N5/8;(B, $B$9$J$o$A$$$8$a;v7oEv;~$N$3$H$O!"8=:_$N(B
$B$*$/$A$e!#$K$OA4$/$H$$$C$F$$$$$[$IEA$o$C$F$$$^$;$s!#(B
$B5/$3$C$FD>$0$O!"?7J9$J$I$GBg$-$/JsF;$5$l$?$G$7$g$&$+$i!"(B
$B4X?4$b9b$+$C$?$K0c$$$"$j$^$;$s!#@8EL2q$,(BGF$B1?F0(B($B$N85$K$J$k$b$N(B)
$B$r;O$a$?$N$OI,A3E*$J$3$H$G$9!#(B</p>

<p>$B$7$+$7$=$N8e!"$$$8$a;v7o$=$N$b$N$O!"$"$^$j?($l$?$,$i$l$J$$!"(B
$B$$$o$P6X6g$H$J$C$F$$$C$?$N$G$O$J$$$G$7$g$&$+!#@UG$LdBj$G:[H=(B
$B:;BA$K$^$G$J$C$F$$$^$9$7!"$=$&$G$J$/$F$b@Q6KE*$KOC$7$?$$$h$&$J(B
$BOCBj$G$O$J$$$G$7$g$&!#$=$l$KD>@\$NEv;v<T0J30$N4X?4$O$=$N$&$A$K(B
$BB>$X0\$C$?$3$H$G$7$g$&!#(B</p>

<p>$B$=$&$3$&$9$k$&$A$K!"@8EL$OB46H$7!"@h@8$OE>6P!"C/$bCN$k?M$O(B
$B$$$J$/$J$C$?!=!=$3$&$7$?%7%J%j%*$NA[A|$OMF0W$J$3$H$G$9!#(B</p>

<p>$BD4$Y$h$&$H;W$($P!"Ev;~$N@8EL2q;o!X$"$*$0$b!Y$O;D$C$F$$$k$O$:$G$9$7!"(B
$BB46H@8$dEv;~$N65;U$rK,$M$l$P$^$@5-21$NFb$K$"$k$H;W$$$^$9!#(B
$B$$$D$+!"@8EL2q$G$=$&$7$?Nr;K8!>Z$r9T$C$F$$$?$@$-$?$$$b$N$G$9!#(B
$B8=BN@)2=$G$OL5M}$+$b$7$l$^$;$s$,!#(B</p>

<p>$B$H$3$m$G(BGF$B1?F0$,;O$^$C$F(B10$BG/!"$=$N5/8;$H$J$C$?;v7o$O4{$KIw2=$7!"(B
$B$=$N$h$j$I$3$m$O<:$o$l$^$7$?!#$3$l$,!"(BGF$B1?F0$N8+D>$7$KEv$?$C$F(B
$B$V$AEv$?$C$?:$Fq$G$7$?!#(BGF$B1?F0$O2a5n$N$7$,$i$_$r40A4$KCG$A@Z$j!"(B
$B8=:_$N@8EL<+?H$K$h$jJ}8~IU$1$5$l$6$k$rF@$J$/$J$C$?$N$G$9!#(B</p>

<p>$B$H$O$$$(!"0MA3!"$3$N3X9;$+$i$O$$$8$a$O>C$($F$$$^$;$s!#(B
$B$G$"$k0J>e!"2a5n$N$3$NBg$-$J1xE@$O!":#8e2?EY$b;2>H$5$l$k$Y$-$b$N(B
$B$G$"$k$O$:$G$9!#(BGF$B1?F0$N86E@$KN)$AJV$k$H$-!"I,$:8+$J$1$l$P$J$i$J$$(B
$B$b$N$G$"$k$N$G$9!#$G$"$k$K$b4X$o$i$:!"$3$N;v7o$H(BGF$B$N@8$$N)$A$K4X$o$k(B
$B0l@Z$N5-O?$,;D$5$l$J$+$C$?$3$H!";DG0$G4.$j$^$;$s!#(B</p>

<address>
[<a href="/">/</a>]
[<a href="./" rel="contents">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>]
</address>
<div class="update">2001-09-26
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid HTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/gf.ja.html&amp;profile=css2" xml:lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
</body></html>
