<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="style/simpledoc.css" type="text/css" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$BEA@b(B($BFf(B)$B$N$*$/$A$e!#(B</title>
<link rel="stylesheet" href="style/simpledoc.css" type="text/css" />
<link rel="alternate" href="index.en" hreflang="en" />
<link rel="bookmark" href="http://suika.fam.cx/okuchuu/" />
<link rel="shortcut icon" href="/icons/okuchuu.ico" type="image/x-icon" title="$B$*$/$A$e!#9;>O$N3((B" />
<link rev="made" href="mailto:okuchuu@suika.fam.cx" />
<link rel="copyright" href="/c/pd" title="$B$3$NJ8=q<+BN$O(B Public Domain $B$G$9!#(B" />
<link rel="next" href="change-log" title="$BJQ99MzNr(B" />
<meta name="keywords" content="$B$*$/$A$e(B, $B$*$/$A$e$&(B, $B$*$/$A$e!<(B, $B$*$/$@(B, $B$r$/$@(B, $B$*$/$@$N(B, $B%N!<%A%c%$%`(B, $B%]%W%i(B, $BEA@b(B, $B1|Cf(B, $B@8EL2q(B, $BI=;f(B, $BIY;3(B, $B;TN)(B, $B1|EDCf(B, $B1|EDCf3X(B, $B1|EDCf3X9;(B, $B;TN)1|EDCf3X9;(B, $BIY;3;TN)1|EDCf3X9;(B, $B9SC+?J(B, $B1|ED(B, $B1|EDCf3X@8(B, $B1|Cf@8(B, $B1|Cf@8EL2q(B, $BIY;3;T(B, $BIY;3;TN)(B, $B$"$*$0$b(B, $B@D1@(B, $B@V9>@n(B, $B1s5W[4Ln(B, $B1|EDLn(B, $BF1Ak2q(B, $B1|CfF1Ak2q(B, $B1|EDCf3X9;F1Ak2q(B, OKUCHUU, okuda, Okuda Junior High School, Okuda JHS, Okuda High School, no-chime, ARATANI Susumu, Okudano, Aogumo, Good Friends, GF" /><!-- $B$A$HB?$9$.$+$J(B? -->
<meta name="description" content="$B$*$/$A$e!#(B($BIY;3;TN)1|EDCf3X9;(B)$B$K$D$$$F$NAm9g>pJs%5%$%H(B($B13(B)" />
<style type="text/css">
body	{background-image: url(bg-ssm)}
#first
	{margin-right: 1em; margin-left: 20%;
	text-align: right}
img.r	{float: right}
img.l	{float: left}
div	{clear: both}
#past
	{margin-left: 30%}
#densetsu
	{margin-right: 30%}
#talk
	{margin-left: 30%}
</style>
</head>
<body>

<p id="first">$BMZ$+@N!"1s5W[4Ln$NH`J}$G!"ATBg$JKA81$,9T$o$l$F$$$?!&!&!&(B</p>

<h1>$BL@$k$/=a$$$N$"$k(B<br />
<img src="logo-l" alt="[$B$*$/$A$e!#(B]" />
<!--<object data="nazo-title" type="video/x-mng" style="width: 439px; height: 62px">-->
<img src="nazo-title-1" style="width: 439px; height: 62px; padding: 0" alt="$BEA@b(B($BFf(B)$B$N$*$/$A$e(B" />
<!--</object>-->$B!#(B
</h1>

<div class=section id=info20120110>
<h2>$B$*$7$i$;(B (<time>2012-01-10</time>)</h2>

<p>$B?7$7$$%5!<%P!<$K0\E>$7$^$7$?!#(B
<a href="mailto:w@suika.fam.cx">$BIT6q9g$J$I$"$l$P$*CN$i$;2<$5$$(B</a>$B!#(B
</div>

<div class=section id=whatsthis>
<h2>$B$3$N%5%$%H$K$D$$$F(B</h2>

<p>$B$3$N(B Web $B%5%$%H$O(B1990$BG/Be=*$o$j:"$N(B<strong>$BIY;3;TN)1|EDCf3X9;(B</strong>$B$K$D$$$F07$C$F$$$^$9!#(B
$BEv;~$N@8EL2q$J$I$N;qNA$d<L??$,!"$[$\Ev;~$N$^$^CV$$$F$"$j$^$9!#(B
$B$3$N(B Web $B%5%$%H<+BN$O(B2000$BG/Be$N=i$a:"$K:n$i$l$^$7$?!#(B
</div>

<div id="past"><img src="ball-kousha" class="r" alt="[$B9;<K(B]" />
<h2>$B$*$/$A$e!#$NF|!9!#(B</h2>

<ul>
	<li><a href="1997/">$BJ?@.(B9(1997)$BG/(B</a>
	    <a href="1997z/" title="$BJ?@.(B9$BG/EYA04|(B">$BA04|(B</a>
	    <a href="1997k/" title="$BJ?@.(B9$BG/EY8e4|(B">$B8e4|(B</a></li>
	<li><a href="1998/">$BJ?@.(B10(1998)$BG/(B</a>
	    <a href="1998z/" title="$BJ?@.(B10$BG/EYA04|(B">$BA04|(B</a>
	    <a href="1998k/" title="$BJ?@.(B10$BG/EY8e4|(B">$B8e4|(B</a></li>
	<li><a href="1999/">$BJ?@.(B11(1999)$BG/(B</a>
	    <a href="1999z/" title="$BJ?@.(B11$BG/EYA04|(B">$BA04|(B</a>
	    <a href="1999k/" title="$BJ?@.(B11$BG/EY8e4|(B">$B8e4|(B</a></li>
	<li><a href="2000/">$BJ?@.(B12(2000)$BG/(B</a>
	    <a href="2000z/" title="$BJ?@.(B12$BG/EYA04|(B">$BA04|(B</a>
	    <a href="2000k/" title="$BJ?@.(B12$BG/EY8e4|(B">$B8e4|(B</a></li>
	<li><a href="2001/">$BJ?@.(B13(2001)$BG/(B</a>
	    <a href="2001z/" title="$BJ?@.(B13$BG/EYA04|(B">$BA04|(B</a>
	    <a href="2001k/" title="$BJ?@.(B13$BG/EY8e4|(B">$B8e4|(B</a></li>
</ul>
</div>

<div id="densetsu"><img src="ball-koukun.png" class="l" alt="[$B9;71Hj(B]" />
<h2>$B$*$/$A$e!#EA@b(B</h2>

<ul>
	<li><a href="about/shunkashuutou/">$B$*$/$A$e!#$N=U2F=)E_(B</a></li>
	<li><a href="bu">$BIt3hF0(B</a></li>
	<li><a href="gf">Good Friends $B1?F0(B</a></li>
	<li><a href="sf">$BBN0iBg2q(B</a></li>
	<li><a href="souzouten">$B1|CfAOB$E8!&9g>'%3%s%/!<%k(B</a></li>
	<li><a href="guinness/">$B1|Cf%.%M%9$KD)@o(B!</a></li>
	<li><a href="lc">Let's Clean ($BCO0h@6A](B)</a></li>
	<li><a href="about/kouka" title="MIDI $B$d(B MP3 $B7A<0$G9;2N$rD0$/;v$b=PMh$^$9!#(B">$B9;2N(B</a></li>
	<!--<li><a href="shinsetsu/">$B>.$5$J?F@Z%l%]!<%H(B</a></li>-->
	<li><a href="link">$B4XO"%5%$%H=8(B</a><!-- <a href="kyuuritomikan/" title="$B5l$*$/$A$e!#7O(B Web $B%5%$%H$N99?7>pJs$rDs6!$7$F$$$^$9!#(B">$B8U1;$HL*4;(B ($B99?7>pJs=8(B)</a>--></li>
</ul>
</div>

<!--<div id="talk">
<h2>$B$*$/$A$e!#$r8l$k(B</h2>-->

<!--<ul>
	<li>$B%K%e!<%9AH(B ($BEE;R%K%e!<%9(B) <a href="news://suika.fam.cx/suika.okuchuu">suika.okuchuu (NNTP)</a> (<a href="/~wakaba/-temp/newsportal/thread/suika.okuchuu/">HTTP</a>)</li>-->
	<!--<li>IRC ($B%A%c%C%H(B) <a href="irc://suika.fam.cx/%23okuchuu">#okuchuu</a></li>-->
	<!--
	<li>Web $B$N7G<(HD(B
		<ul>
		<li><a href="http://tcup70.tripod.co.jp/7024/reiweb.html">Yuuki $B$N7G<(HD(B</a> (<a href="http://members.tripod.co.jp/reiweb/">Yuuki $B$N%Q%=%3%sF|5-(B</a>$B$h$j!#$*$/$A$e!#$K4X$9$kOCBj$,$7$P$7$P=P$^$9!#(B)</li>
		<li><a href="blue-oceans/board-t/board">BlueOceans $B7G<(HD(B</a> (<a href="blue-oceans/">$B?aAU3ZIt(B</a>$B$N7G<(HD!#(B)</li>
		</ul>
	</li>
	-->
<!--</ul>
</div>-->

<div>
<h2>$B!XEA@b(B($BFf(B)$B$N$*$/$A$e!#!Y$K$D$$$F(B</h2>

<ul>
	<li><a href="change-log">$B99?7MzNr(B</a>
	<!--#config timefmt="%Y/%m/%d" -->
	<!--(--><!--#flastmod file="ChangeLog.ja.html" --><!--)--></li>
	<li><a href="msg">$B5l$*$/$A$e!#@8$N$_$J$5$^$X(B</a></li>
	<li><a href="c">$BCx:n8"(B, $B%G%$%?$N7A<0$J$I(B</a></li>
	<li><a>$B!XEA@b$N$*$/$A$e!#!Y%A!<%`(B</a></li>
</ul>
</div>

<div class="section">
<h2>$B$*$7$i$;(B (2003-07-19)</h2>

<ul>
<li>$B$3$N!XEA@b$N$*$/$A$e!#!Y$N$"$k%5!<%P!<$,%a%s%F%J%s%9$N$?$aD94|4VDd(B
$B;_$7$F$$$?$?$a!"D9$$4V8+$l$J$/$J$C$F$$$^$7$?!#(B
$B1\Mw<T$N$_$J$5$^$K$O8fLBOG$r$*3]$1$7$^$7$?!#(B</li>
<li>$B0JA0$NFbMF$O=g<!I|5l$5$;$F9T$-$^$9$,!"(B
$B$7$P$i$/$O8+$l$J$$$^$^$NFbMF$bB??t$"$j$^$9!#(B
$B8fN;>52<$5$$!#(B</li>
</ul>
</div>

</body></html>
