<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title xml:lang="en">Let's Clean</title>
<link rel="contents" href="./" />
<?xml-stylesheet href="okuchuu-style"?>
<link rel="stylesheet" href="okuchuu-style" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rel="copyright" href="/c/pd" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|Cf(B, $B$*$/$A$e!#(B, Let's Clean, $B%l%C%D%/%j!<%s(B, LC, $BCO0h(B, $B@6A](B, $BJt;E(B, $B3hF0(B, $B%\%i%s%F%#%"(B, $B1X(B, $BF;O)(B, $B8x1`(B, $B=|Ap(B, $B%8%e!<%9(B, $B6u$-4L(B, $B3XM'6h(B, $BD.Fb2q(B, $B@8EL2q(B, $B;yF82q(B, $B2F5Y$_(B, $B1d4|(B" />
</head>
<body>
<h1><a href="./"><img class="minilogo" src="./logo" alt="$B$*$/$A$e!#(B" /></a> Let's Clean</h1>

<p>Let's Clean ($B%l%C%D%/%j!<%s(B) $B$H$O4JC1$K8@$($PCO0h@6A]3hF0$G!"(B
$B9;2<Fb$N@6A]!&=|Ap$J$I$r9T$$$^$9!#(B</p>

<p>6$B7n!&(B7$B7n:"$K9T$o$l$k(B Let's Clean I $B$O3XM'6h(B ($BD.FbJL@8EL2q(B)
$B$4$H$K$=$l$>$l$NCO0h$G3hF0$7$^$9!#86B'$H$7$FA40w;22C$G$9!#(B
$BCO0h$K$h$C$F$O=*N;8e$K%8%e!<%9$J$I$,$b$i$($k$3$H$b$"$j$^$9!#(B
$B$=$NG/$K$h$C$F!"EP9;A0$K9T$o$l$?$jEZMKF|$N8a8e$+$i(B
$B9T$o$l$?$j$7$^$9!#9;D9$N5$J,$G2F5Y$_$K$7$h$&$+$J$"!&!&(B
$B$J$s$F$3$H$b$"$j$^$9!#(B($B$b$C$H$b$=$l$OLTH?BP$G7k6I(B
1$B3X4|Cf$K<B;\$5$l$^$7$?!#(B)</p>

<p>11$B7n:"$K9T$o$l$k(B Let's Clean II $B$O!"3X9;<~JU$d;:6HF;O)!"(B
JR$B$N1X$J$I$N8x6&$N>l$rCf?4$H$7$F!"4uK><T$K$h$j9T$o$l$^$9!#(B
$B4uK>@)$K$b4X$o$i$:KhG/B?$/$N@8EL$,;22C$7$^$9!&!&!&$C$F!"(B
$BB?$/$N@bL@J8$K$O=q$$$F$"$j$^$9!#<B:]$K$O3F3X5i$NC4G$$,6/@)(B
$B$7$?$j$9$k$3$H$bL5$/$O$"$j$^$;$s$,!&!&$^$"$=$l$O0lIt$NOC$G!"(B
$B4pK\E*$K$O$=$N@bL@J8$NDL$j$G$7$g$&$M!#(B</p>

<ul>
	<li>$BJ?@.(B11$BG/EY(B <a href="1999z/lc/" title="$BJ?@.(B11(1999)$BG/EY$N%l%C%D%/%j!<%s(BI">I</a> <a href="1999k/lc/" title="$BJ?@.(B11(1999)$BG/EY$N%l%C%D%/%j!<%s(BII">II</a></li>
</ul>

<p>Let's Clean I $B$O@8EL2q<99TIt$H3XM'6hD92q(B, Let's Clean II
$B$O@8EL2q<99TIt$,Cf?4$H$J$C$F1?1D$7$^$9!#J?@.(B11$BG/EY$N(B
Let's Clean I $B$O<99TIt$r30$7!"@6A]H~2=@lLg0Q0w2q$HJt;E@lLg0Q0w2q$,(B
$B1?1D$7$^$7$?!#(B</p>

<p>$B3XM'6h(B ($BCO0hJL@8EL2q(B) $B$O!"<B<AE*$K(B Let's Clean I $B$N$?$a$K(B
$BB8:_$9$k5!9=$G$9!#3F3XM'6h$N6hD9$O3XM'6hD92q$r9=@.$7$^$9!#(B
$BJ?@.(B11$BG/EY$N(B LCI $B$NMM;R$r8+$k$H!"@6A]H~2=!&Jt;EN>@lLg0Q0w2q(B
$B$,$3$N6hD92q$r;E@Z$C$F$$$k$h$&$G$7$?!#(B</p>

<p>$B$7$+$7!"3XM'6h2q$N@8EL2qFb$G$N0LCVIU$1$OITL@$G$9!#(B
$BB>$G$OA4$/EP>l$7$J$$5!4X$G$9$+$i$I$&$G$bNI$$$H8@$o$l$l$P(B
$B$=$NDL$j$J$N$G$9$,!"$J$s$H$bg%$KMn$A$^$;$s!#J?@.(B13$BG/EY;\9T$N(B
$B?7@8EL2q2qB'$G$b$@$s$^$j$r7h$a9~$s$G$$$^$9!#(B</p>

<p>LCI $B$O@8EL?t$N8:>/$G3XM'6h$,E}9g$5$l!"0l$D$N3XM'6hD9$,(B
$BJ#?t$ND.Fb2q(B($B<+<#2q(B)$B$r<u$1;}$D$H$+!">.3X9;$bF1$8MM$J(B
$B3hF0$r9T$C$F$$$k$H$+!"?'!9LdBj$,$"$j$^$9!#GQ;_$b;kLn$K(B
$BF~$l$?Bg5,LO$J8+D>$7$,I,MW$@$H;W$o$l$k$N$G$9$,!"(B
$B$I$&$J$s$G$7$g$&!#(B</p>

<p>$BJ?@.(B11$BG/EY$K$O!"(B LCI $B$r2F5Y$_$K<B;\$9$k$H$+8@$&1=$,N.$l!"(B
$BBgp~m&$rGc$$$^$7$?!#$=$N8eOC$O1d4|$N>l9g$O2F5Y$_$K$9$k$@$H$+!"(B
$B?'!98@$o$l$^$7$?!#7k6I!"(B1$B3X4|$K<B;\$7!"1+E7$N>l9g$O1d4|$9$k$,(B
$B4|F|L$Dj!"$H7hCe$7$^$7$?!#E75$$O@8EL$KL#J}$7$F!"EvF|$O(B
$B@6A]F|OB(B($BFf(B)$B$@$C$?$N$G$9$,!"$=$&$G$J$+$C$?$i7s$M$F$+$i(B
$B8@$o$l$F$$$?DL$j!"%\%$%3%C%H$H$$$&$3$H$K$J$C$F$$$?$G$7$g$&!#(B
$B$J$*!"$3$l$i$O$$$:$l$b9;D9EB$N$4H=CG$@$H$$$&$3$H$G$4$6$$$^$9$,!"(B
$BI.<T$,9;D9EB$+$iD>@\$&$+$,$C$?$o$1$G$O$4$6$$$^$;$L$N$G!"(B
$B$J$s$H$b?=$;$^$;$s!#(B</p>

<p>$B@8EL2q$H$7$FKhG/3X9;$r5s$2$F9T$C$F$$$kCO0h@6A]3hF0$O(B
LCI, LCII $B$NN><T$N$_$G$9$,!"$3$NB>$K$b3F3XG/$d(B
$B$=$NB>$NCO0h@6A]3hF0$,<B;\$5$l$F$$$^$9!#(B</p>

<ul>
	<li><a href="1999k/seibi/seisou-0306/">$B3X9;<~JU$4$_=&$$(B</a> ($BJ?@.(B11$BG/EY!&@8EL2q@6A]H~2=@lLg0Q0w2q(B)</li>
	<li><a href="2000k/kokutai-volunteer/">$B9qBN@6A]%\%i%s%F%#%"3hF0(B</a> ($BJ?@.(B12$BG/EY!&9qBN@8EL2q%\%i%s%F%#%"0Q0w2q(B)</li>
</ul>

<h2 id="slogan">$B;29M(B: Let's Clean $B%9%m!<%,%s0lMw(B</h2>

<table>
<thead>
<tr><th abbr="$BG/(B" rowspan="2">$BG/EY(B</th><th abbr="LCI" colspan="2">Let's Clean I</th><th abbr="LCII" colspan="2">Let's Clean II</th></tr>
<tr><th abbr="$BF|(B">$B<B;\F|(B</th><th>$B%9%m!<%,%s(B</th><th abbr="$BF|(B">$B<B;\F|(B</th><th>$B%9%m!<%,%s(B</th></tr>
</thead>
<tbody>
<tr><th abbr="H10">$BJ?@.(B10$BG/EY(B</th><td abbr="7/8">7$B7n(B8$BF|D+(B</td><td>$B1|Cf%/%j!<%sBb(B $B:F$S=PF0(B $B!ANP$NBgCO$H@D$$Iw$r5a$a$F!A(B</td><td abbr="12/5">12$B7n(B5$BF|8a8e(B</td><td>$BMY$kBgA]=|@~(B $B!A26$,$d$i$M$PC/$,$d$k!A(B</td></tr>
<tr><th abbr="H11">$BJ?@.(B11$BG/EY(B</th><td><a href="1999z/lc/" title="$BJ?@.(B11(1999)$BG/EY$N%l%C%D%/%j!<%s(BI">7$B7n(B</a></td><td>We make our town Clean $B!AK-$+$J?4$HH~$7$$39$rL\;X$7$F!A(B</td><td><a href="1999k/lc/" title="$BJ?@.(B11(1999)$BG/EY$N%l%C%D%/%j!<%s(BII">11$B7n(B</a></td><td>$B51$1(B!$B$\$/$i$ND.(B $B!A?4$bBN$b%j%U%l%C%7%e!A(B</td></tr>
</tbody>
</table>

<address>
[<a href="/">/</a>]
[<a href="../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>]
</address>
<div class="update">2001-09-26
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid HTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/lc.ja.html&amp;profile=css2" xml:lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
</body></html>
