<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$BBN0iBg2q(B</title>
<link rel="contents" href="./" />
<?xml-stylesheet href="okuchuu-style"?>
<link rel="stylesheet" href="okuchuu-style" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rel="copyright" href="c" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B$*$/$A$e!#(B, $B1|Cf(B, $B@8EL2q(B, $BBN0iBg2q(B, $B1?F02q(B,  $B6%5;Bg2q(B" />
</head>
<body>
<h1><a href="./"><img class="minilogo" src="logo" alt="$B$*$/$A$e!#(B" /></a> $BBN0iBg2q(B</h1>

<div>
<table summary="$B3FG/EY$NBN0iBg2q$N%9%m!<%,%s(B, $BM%>!CD$J$I$N0lMwI=!#(B">
<thead>
<tr><th abbr="$BF|(B">$BG/7nF|(B</th><th></th><th>$B%9%m!<%,%s(B</th><th>$BM%>!(B</th><th>$B1?1D(B</th></tr>
</thead>
<tbody>
	<tr><th abbr="H9">$BJ?@.(B9$BG/EY(B</th><td abbr="$BAO9;(B50$B<~G/!&Bh(B51$B2s(B"><a href="1997z/sf51/">$BAO9;(B50$B<~G/5-G0!&Bh(B51$B2sBN0iBg2q(B</a></td><td>$BF.?@9_NW(B</td><td><span class="sf-red">$B@VI?(B</span></td><td abbr="$B1?1D0Q(B">$BBN0iBg2q1?1D0Q0w2q(B</td></tr>
	<tr><th abbr="H10">$BJ?@.(B10$BG/(B9$B7n(B8$BF|(B</th><td abbr="$BBh(B52$B2s(B"><a href="1998z/sf52/">$BBh(B52$B2sBN0iBg2q(B</a></td><td>$BF.?@;OF0(B $B!A:#!"40A4L57g$N@;=C=8$&!A(B</td><td><span class="sf-red">$B@VI?(B</span></td><td abbr="$B<B9T0Q(B">$BBN0iBg2q<B9T0Q0w2q(B</td></tr>
	<tr><th abbr="H11">$BJ?@.(B11$BG/(B9$B7n(B5$BF|(B</th><td abbr="$BBh(B53$B2s(B"><a href="1999z/sf53/">$BBh(B53$B2sBN0iBg2q(B</a></td><td>$B<@IwE\Es(B $B!ANr;K$K9o$`G.$-7c@o!A(B</td><td><span class="sf-blue">$B@DN6(B</span></td><td abbr="$B<B9T0Q(B">$BBN0iBg2q<B9T0Q0w2q(B</td></tr>
	<tr><th abbr="H12">$BJ?@.(B12$BG/(B9$B7n(B7$BF|(B</th><td abbr="$BBh(B54$B2s(B"><a href="2000z/sf54/">$BBh(B54$B2sBN0iBg2q(B</a></td><td></td><td><span class="sf-blue">$B@DN6(B</span></td><td abbr="$B<B9T0Q(B">$BBN0iBg2q<B9T0Q0w2q(B</td></tr>
	<tr><th abbr="H13">$BJ?@.(B13$BG/EY(B</th><td abbr="$BBh(B55$B2s(B"><a href="2001z/sf55/">$BBh(B55$B2sBN0iBg2q(B</a></td><td></td><td><span class="sf-yellow">$BsJN[(B</span></td><td></td></tr>
</tbody>
</table>
</div>

<div>
<h2>$B$*$/$A$e!#$NBN0iBg2q$NEAE}(B</h2>
<img src="1999z/sf53/e" alt="($BBh(B53$B2sBN0iBg2q%W%m%0%i%`A^3((B)" style="width: 222px; height: 305px; float: right" />

<h3>$B;MBg@;=C(B</h3>

<p>$B3FCD$N<i8n?@!&(B<span class="sf-red">$B@VI?(B</span>, 
<span class="sf-white">$BGr8W(B</span>, <span class="sf-blue">$B@DN6(B</span>, 
<span class="sf-yellow">$B%i%$%*%s(B/$BsJN[(B</span>$B$N$3$H$G$9!#(B
<span class="sf-yellow">$B2+CD(B</span>$B$OBh(B51$B2s$K!"(B
$B%i%$%*%sCD$+$isJN[CD$K2~$a$i$l$^$7$?!#(B
($BB>$NCD$r4^$`A49;@8EL$X$N%"%s%1!<%H7k2L$+$i7h$^$j$^$7$?!#(B)</p>

<h3>$B7k2L$O$I$&$G$"$C$F$b!"8_$$$N7rF.$r>N$(9g$*$&!#(B</h3>

<p>$B$3$s$J8@MU$,$"$C$?$h$&$J5$$,$7$^$9!#(B</p>

<h3>$B@8EL<+?H$N<j$K$h$k1?1D(B</h3>

<p>$BBh8^==2s$@$+$+$i$O!"Bg2q$N$[$H$s$I$r@8EL<+?H$N<j$G(B
$B1?1D$7$F$$$^$9!#(B</p>

<h3>$B2F5Y$_JV>e$G1~1g$N=`Hw!&%G%3%l!<%7%g%s$N@):n(B</h3>

<p>$B$9$4$$$3$H$J$s$@$=!<$G$9!#1~1g9g@o$O(B
$B1~1g%j!<%@!<Cf?4$GB>$NCD0w$OOFLr$_$?$$$J$b$N$G$7$?$,!"(B
$BBh(B55$B2s$+$i$OCD0wA40w$,<h$jAH$`$h$&$K$J$C$?$h$&$G$9!#(B</p>

<p>$BA4$/$b$C$FM>CL$G$O$"$j$^$9$,!"(B<a href="http://www2.justnet.ne.jp/~chubuks/">$BK?9b9;(B</a>$B$N65M!$O9b9;@bL@2q$G$*$/$A$e!#$rK,$l$?@^!"(B
<span class="red">3$BG/@8(B</span>$B$NA0$G!"$*$/$A$e!#$NBN0iBg2q$O(B
$B@($$$1$I!"$&$A$s$H$3$N$O$b$C$H@($$$>!<$H$+<+K}$7$F$$$-$^$7$?!#(B</p>
<p>$BJL$K$=$N9b9;$h$j$*$/$A$e!#$NJ}$,@($$$H$O4V0c$C$F$b;W$$$^$;$s$,!"(B
$B8e$+$i9M$($k$H?oJ,$H<:Ni$JJ*8@$$$G$9!#$*$/$A$e!#$O$=$N9b9;$_$?$$$K(B
$B6b$NL5BL8/$$$O$7$^$;$s!#HqMQ$NLL$^$G9M$($KF~$l$k$H!"$5$F!#(B</p>
</div>

<address>
[<a href="/">/</a>]
[<a href="./" rel="contents">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>]
</address>
<div class="update">2001-09-24, 2001-09-26
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid HTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/sf.ja.html&amp;profile=css2" xml:lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
</body></html>
