<html lang="ja">
<head>
<title lang="en">Good Friends '99</title>
<link rel="stylesheet" href="../../style/simpledoc" media="all" />
<link rev="made" href="mailto:okuchuu@suika.fam.cx" />
<link rev="copyright" href="../../c" />
<link rel="prev" href="intro" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|Cf(B, $B@8EL2q(B, GF, Good Friends" />
<style type="text/css" media="all">
#intro
	{margin: 2em 4em;
	text-align: center; font-style: italic; font-size: 170%}
#slogan_smile
	{width: 260px; height: 75px; border-style: none}
#slogan_smile_a
	{width: 260px; height: 75px; border-style: none}
.spara
	{margin-left: 10%; margin-right: 10%}
cite
	{display: block; text-align: right}
</style>
</head>
<body>
<h1>Good Friends $B1?F0(B</h1>

<!-- Slogan -->

<div id="intro">
Friends make me
<div>
<a href="intro">
<object data="slogan-smile-v4" id="slogan_smile" type="video/x-mng">
<img src="slogan-smile-v4-1" alt="SMILE" id="slogan_smile_a" />
</object>
</a>
</div>
</div>


<div id="kaichou" class="spara">
<p>Good friends $B1?F0$NNr;K$rD4$Y$F$_$k$H!"(B 10 $BG/0J>eA0$K;O$^$C$?(B $B!H$$$8$a(B<ruby><rb>0</rb><rp>(</rp><rt>$B%<%m(B</rt><rp>)</rp></ruby>$B@k8@!I$K9T$-$D$-$^$9!#$*8_$$$KB:=E$7$"$$!"M'>p$"$U$l$?3X9;@83h$r@8ELA40w$,Aw$l$k!"$=$s$J1|Cf$K$7$h$&!#!&!&!&$=$s$JA[$$$+$i;O$^$C$?$N$,$3$N(B $B!H$$$8$a(B<ruby><rb>0</rb><rp>(</rp><rt>$B%<%m(B</rt><rp>)</rp></ruby>$B@k8@!I$G$7$?!#(B</p>

<p>$B$$$8$a$r$J$/$=$&$H$$$&%9%m!<%,%s$@$1$GKM$?$A$O!"$$$C$?$$$I$l$@$1$N$3$H$r9TF0$GI=$7$F$$$1$k$N$G$7$g$&$+!#$3$N$h$&$J$3$H$r$8$C$/$j$H9M$(!"Aj<j$N$3$H$r;W$$$d$k9TF0$r$H$m$&$H$$$&$N$,:#$^$G$N1?F0$G$7$?!#G.?4$K!"$=$7$F>pG.E*$K$3$N3hF0$K<h$jAH$s$G$3$i$l$?@hGZ$N$*$+$2$G!"KM$?$A$O$3$s$J$K$b3Z$7$$KhF|$rAw$k$3$H$,$G$-$k$h$&$K$J$j$^$7$?!#(B</p>
<p>$BKM$O(B 1999 $BG/$N(B Good Friends $B1?F0$r$5$i$K?J$s$@$b$N$K$7$J$1$l$P$$$1$J$$$H9M$($F$$$^$9!#CO0h<R2q$H$N$+$+$o$j$d!"@$3&$N;R$I$b$?$A$X$N;W$$$d$j$J$I!"1|EDCf3X9;$NCf$H$$$&OH$K$H$i$o$l$J$$3hF0$,$G$-$l$P$H;W$$$^$9!#:#!"KM$?$A$,;}$DM'C#$H$N9,$;$J4X78$r$b$C$HB?$/$NM'C#$H!"$b$C$H9-$$HO0O$N?M!9$HAO$j$"$2$F$$$/$3$H$,$G$-$?$J$iAG@2$i$7$$$H;W$$$^$;$s$+!#(B</p>
<p>$BKM$?$A$N(B Good Friends $B1?F0$O$3$&$$$C$?=j$K$bL\$r8~$1$k$3$H$,=PMh$k$O$:$G$9!#9-$$;kLn$H=@Fp$J9M$($r$b$C$F3hF0$7$F$$$1$P!"1|EDCf3X9;$N(B Good Friends $B1?F0$O!"$h$jAG@2$i$7$$$b$N$K$J$C$F$$$/$N$G$O$J$$$G$7$g$&$+!#(B</p>
<p>$BM'>p$OL\$K$O8+$($^$;$s$,!"$=$l$J$7$K$O@8$-$F$$$/$3$H$,=PMh$^$;$s!#?M4V4X78$K$7$F$bM'>p$,$"$C$F$3$=@.$jN)$D$b$N$@$H;W$$$^$9!#<+J,$r?.$8!"Aj<j$rM}2r$7$FOC$;$P!"$=$3$+$i$-$C$HM'>p$,@8$^$l$F$/$k$H;W$$$^$9!#<+J,0l?M$8$c$J$$!"$_$s$J$G0l?M$H$$$&9M$(J}$,!"$3$l$+$i$bBg;v$J$N$G$O$J$$$G$7$g$&$+!#(B</p>

<cite>$B@8EL2qD9(B $BDaMh9'0l(B/$B@8ELAm2q$K$F(B</cite>
</div>


<div id="zenkou_katsudou">
<h2>GoodFriends $B1?F0=t3hF0(B</h2>

<ul>
  <li>$B@8EL2q<99TIt(B<ul>
      <li>$BKhG/91Nc(B! <a href="#anke">Good Friends $B%"%s%1!<%H(B</a></li>
      <li><a href="#zenkou">$BA49;=82q(B</a></a></li>
    </ul>
  </li>
  <li><a href="../zaimu/">$B:bL3@lLg0Q0w2q(B</a><ul>
      <li>$B%f%K%;%U%P%6!<!&Jg6b(B
          [<a href="../zaimu/gf-unicef-ann">$B$*CN$i$;(B</a>]
	  [<a href="../zaimu/photo/LIST">$BIw7J(B</a>]</li>
    </ul>
  </li>
  <li><a href="../bunka/">$BJ82=@lLg0Q0w2q(B</a><ul>
      <li>Japan Culture Festival (JCF)</li>
    </ul>
  </li>
  <li><a href="../kouki/">$B9;5,@lLg0Q0w2q(B</a><ul>
      <li>GF $B$N%A%c!<%H(B
        [<a href="../kouki/gfchart-p1">$BI=(B</a>
          (<a href="../kouki/gfchart-p1.ja.jpeg">JPEG</a> 135Koctet),
         <a href="../kouki/gfchart-p1">$BN"(B</a>
          (<a href="../kouki/gfchart-p1.ja.jpeg">JPEG</a> 150Koctet)]</li>
    </ul>
  </li>
  <li><a href="../tosho/">$B?^=q@lLg0Q0w2q(B</a><ul>
      <li>$BAaD+FI=q=54V(B</li>
    </ul>
  </li>
  <li><a href="../kyuushoku/">$B5k?)@lLg0Q0w2q(B</a><ul>
      <li>$B@JBX$(5k?)(B
          [<a href="../kyuushoku/sekigae-oete">$B@JBX$(5k?)$r=*$($F(B</a>
            (<a href="../kyuushoku/sekigae-oete.ja.jpeg">JPEG</a>
             36.9Koctet)]</li>
    </ul>
  </li>
  <li><a href="../taiiku/">$BBN0i@lLg0Q0w2q(B</a><ul>
      <li>$BAaD+%P%9%1%C%H%\!<%kBg2q(B ($B%9%]!<%D%U%'%9%F%#%P%k(B1)</li>
    </ul>
  </li>
</ul>
</div>

<div id="anke">
<h2>GoodFriends $B%"%s%1!<%H(B</h2>
<p>$BKhG/$[$\F1$8FbMF$G9T$o$l$F$$$k91Nc$N%"%s%1!<%H$G$9!#(B
$B=87W$O(B<a href="../kouhou/">$B9-Js@lLg0Q0w(B</a>$B$,C4Ev$7$^$7$?!#(B
($BEvF|$$$-$J$j2?$NCG$j$bL5$/J|Aw$G0Q0w$r8F$S=P$5$l$F0Q0wD9$,(B
$BE\$C$F$$$?$N$O:#$d@N!#(B)</p>

<ul>
	<li>$B<ALd!&2sEzMQ;f(B
	  [<a href="ankeq-p1">1$BJG(B</a>
	     (<a href="ankeq-p1.ja.jpeg">JPEG</a> 126Koctet),
	   <a href="ankeq-p2">2$BJG(B</a>
	     (<a href="ankeq-p2.ja.jpeg">JPEG</a> 109Koctet),
	   <a href="ankeq-p3">3$BJG(B</a>
	     (<a href="ankeq-p3.ja.jpeg">JPEG</a> 90.3Koctet)]</li>
	<li>$B=87W7k2L(B (<a href="gf.s/anke.ja.pdf">PDF</a> 231Koctet, <a href="gf.s/anke.ja.xls">Microsoft Excel</a> 387Koctet)
	<p>$BBg85$N=87W7k2L$O:n6HCf$KGKB;$7$^$7$?!#(B (Macintosh $B$N(B PC FD $BFI$_9~$_5!G=JU$j$NAj@-$+1?$+2?$+$,860x$H9M$($i$l$^$9(B($BFf(B)$B!#(B) GF $BA49;=82q$G$O;D$C$F$$$?%G%$%?$r9=@.$7$FH/I=$5$l$^$7$?!#(B</p>
	<p>$B$3$3$K$"$k;qNA$O!"$=$N8e=87W$rC4Ev$7$?(B<a href="../kouhou/">$B9-Js@lLg0Q0w2q(B</a>$B$N0Q0wD9$G$"$C$?<cMU$,I|85$7!"@07A$7$?$b$N$G$9!#(B</p></li>
</ul>
</div>

<div id="zenkou">
<h2>GoodFriends $BA49;=82q(B</h2>
<p>$B!y(B6$B7n(B18$BF|(B($B6b(B)5,6$B8B!y(B</p>

<ul>
	<li><a href="zenkou-youkou">$B<B;\MW9K(B</a>
	    (<a href="zenkou-youkou.ja.jpeg">JPEG</a> 77.7Koctet)</li>
	<li><a href="zenkou-program">$B%W%m%0%i%`(B</a>
	    (<a href="zenkou-program.ja.jpeg">JPEG</a> 54.7Koctet)</li>
	<li><a href="zenkou-owari">$B=*$o$j$N8@MU(B</a>
	    ($B@8EL2qI{2qD9(B $B0p3@E0$5$s(B)
	    (<a href="zenkou-owari.ja.pdf">PDF</a> 76.7Koctet,
	     <a href="zenkou-owari.ja.doc">Microsoft Word</a> 
	       19.5Koctet)</li>
	<li><a href="gf.s/zenkou-shuukai">$B:F8=(B($BFf(B)</a></li>
	<li><a href="gf.s/zenkou/LIST">$BA49;=82qIw7J(B</a></li>
</ul>

</div>

<div>
<h2>$BN"J}(B($BFf(B)$B;qNA(B</h2>
<p>GoodFriends $B1?F0$N1?1D$KEv$?$C$?@8EL2q<99TItFb$N;qNAEy$G$9!#(B</p>

<ul>
	<li><a href="slogan-boshuu">GF $B1?F0%9%m!<%,%sJg=8(B</a>
	    (<a href="slogan-boshuu.ja.jpeg">JPEG</a> 55.6Koctet)</li>
	<li><a href="memo-schedule">GF $B1?F0$^$G$NM=Dj(B</a>
	    (<a href="memo-schedule.ja.jpeg">JPEG</a> 51.3Koctet)
	    <p>$B3F<99TIt0w$,$=$NM=Dj$K$D$$$F=q$-9~$`$?$a$K:n@.!&G[I[$5$l$?!#@8EL2qI{2qD9$NDT$5$s$K$h$k$b$N$G$"$C$?$h$&$J5$$,$9$k$,!"Dj$+$G$O$J$$!#(B</p></li>
	<li><a href="schedule">$BJ?@.(B11$BG/EYA04|@8EL2q$NF0$-(B (5$B!&(B6$B7n(B)
	   $B!Z(BGF $B1?F0$K$D$$$F![(B</a>
	    (<a href="schedule.ja.jpeg">JPEG</a> 220Koctet)
	    <p>$B@8EL2q8\Ld$NKY(BT $B$K$h$k$^$H$a!#(B</p></li>
	<li><a href="memo-seitogikai">$B@8EL5D2q$NN.$l(B</a>
	    (<a href="memo-seitokai.ja.jpeg">JPEG</a> 70.7Koctet)
	    <p>GF $B1?F0$NJ}?KEy$N@bL@$H>5G'$rF@$k$Y$/9T$o$l$?@8EL5D2q$G$N?J9T(B($BM=Dj(B)$B$K$D$$$F$N@bL@$N%a%b!#@8EL2q8\Ld$NKY(BT $B$K$h$k!#(B</p></li>
	<li><a href="memo-otime">($B1|Cf%?%$%`(B)$B3F@lLg0Q0w2q$NJs9pFbMF(B</a>
	    (<a href="memo-otime.ja.jpeg">JPEG</a> 63.4Koctet)
	    <p>GF $B1?F0$N6qBNE*3hF0$K$D$$$F$N@bL@$N$?$a$N1|Cf%?%$%`$G$N3F@lLg0Q0w2q$+$i$NJs9pFbMF$K4X$9$k%a%b!#@8EL2q;J2q$NCfC+$5$s$K$h$k!#(B</p></li>
	<li><a href="oete">GF $B1?F0$r=*$($F(B</a>
	    (<a href="oete.ja.jpeg">JPEG</a> 105Koctet)
	    <p>GF $B1?F0A49;=82q=*N;8e$KG[I[$5$l$?!"(B GF $B1?F0$NH?>J$r=q$$$F$b$i$&MQ;f!#(B</p></li>
</ul>
</div>

<address>[<a href="/">/</a>] [<a href="../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>/<a href="../">$BJ?@.(B11$BG/EYA04|@8EL2q(B</a>]</address>
<div class="update">2001-06-22</div>
</body></html>
