<html lang="ja">
<head>
<title>GoodFriends $B1?F0(B</title>
<link rel="stylesheet" href="style" />
<link rel="stylesheet" href="intro-style" />
<link rev="made" href="mailto:wakaba@61.201.226.127" />
<link rev="copyright" href="../../c" />
<link rel="next" href="gf99" />
<link rel="index" href="gf99" />
<meta name="keywords" content="$B1|Cf(B, $B@8EL2q(B, $BJ?@.(B11$BG/(B, 1999$BG/(B, $BA04|(B" />
<meta name="keywords" content="Good Friends" />
<meta name="description" content="$BJ?@.(B11(1999)$BG/EY(B GoodFriends $B1?F0!#(B" />
</head>

<body>

<div class="realbody">

<div id="slogan" lang="en">

<span class="a1">F</span>RIENDS <span class="a2">M</span>AKE <span class="a3">M</span>E

<strong><span class="c1">S</span><span class="c2">M</span><span class="c3">I</span><span class="c4">L</span><span class="c5">E</span></strong>

<span lang="ja" id="slogansub">$B!AKM$i$O0l?M$8$c$J$$!A(B</span>

</div>


<div id="theme1" class="theme">
<span class="pg">Step 1</span>
<strong>$B9M$($k(B</strong>
<span class="mg">- $B!VM'C#!W$C$F$J$s$@$m$&(B? -</span>
</div>

<div id="theme2" class="theme">
<span class="pg">Step 2</span>
<strong>$BH/8+(B</strong>
<span class="mg">- $BM'C#$N?7$7$$0lLL$r8+$D$1$h$&(B -</span>
</div>

<div id="theme3" class="theme">
<span class="pg">Step 3</span>
<strong>$BH/E8(B</strong>
<span class="mg">- $BM'C#$N!VOH!W$r9-$2$h$&(B -</span>
<span class="mg">$B<+J,<+?H$NCf$NOH!"$=$7$F(B</span>
<span class="mg">$B1|Cf$NOH$rD6$($??M4V4X78(B</span>
</div>


<h1>
<span class="gfundou">
<span class="g1">G</span><span class="g2">O</span><span class="g3">O</span><span class="g4">D</span> <span class="g5">F</span><span class="g6">R</span><span class="g7">I</span><span class="g8">E</span><span class="g9">N</span><span class="g10">D</span><span class="g11">S</span> <span class="g12">$B1?(B</span><span class="g13">$BF0(B</span>
</span>
</h1>

<div id="anke">
<h2>$B91Nc$N(BGoodFriends $B%"%s%1!<%H(B</h2>

<p>$B!VF|>o@83h$NCf$N$A$g$C$H$7$?$3$H!W$+$i<+J,$N@83h$r?6$jJV$j!"$"$J$?$K$H$C$F!VM'C#!W$H$O$I$s$JB8:_$J$N$+!"9M$($F$_$^$7$?!#(B</p>
<p><img src="anke-1" style="width: 252px; height: 179px; float: left" alt="$B@6A]$N8e!"NY$N?M$N0X;R$@$1$,4y$K>h$C$?$^$^$K$J$C$F$$$^$7$?!#$5$F!"$I$&$7$^$9$+!#(B" />
4$BJ,$N(B1$B0J>e$N?M$,!V$[$C$F$*$/!W$HEz$($F$$$^$9!#<+J,$,B>$N>l=j$NA]=|$+$i5"$C$F$-$?;~$K!"0X;R$,$=$N$^$^$@$H7y$J5$;}$A$K$J$j$^$;$s$+(B?</p>
<p>$BB>$N?M$KM%$7$/=PMh$k?M$O!"$_$s$J$KM%$7$/$7$F$b$i$($k$N$G$O$J$$$G$7$g$&$+!#5a$a$k$P$+$j$G$J$/!"<+J,$+$i?J$s$GM%$7$/$9$k$3$H$,!"NI$$?M4V4X78$r>z@.$7!"29$+$$3X5i$r:n$k$N$@$H;W$$$^$9!#(B</p>

<p><img src="anke-2" style="width: 254px; height: 181px; float: right" alt="$B<+J,$NK\Ev$N5$;}$A$r8l$l$kM'C#$O$$$^$9$+!#(B" />
$BLs(B 20% $B$N?M$,!"<+J,$N5$;}$A$r?M$KEA$($i$l$:$K6l$7$$;W$$$r$7$F$$$k$3$H$K$J$j$^$9!#(B</p>
<p>$B3'$5$s$N<~$j$K$O!"$$$D$b0E$$I=>p$r$7$?Cg4V$O$$$^$;$s$+!#IT0B$2$JCg4V$O$$$^$;$s$+!#$b$7!"$=$s$JCg4V$,$$$?$i!"M%$7$$0l@<$r$+$1$FM_$7$$$H;W$$$^$9!#(B</p>
<p>$B1|Cf$,$b$C$H3Z$7$$3X9;$K$J$k$?$a$K$b!"L@$k$/0';"$,8r$o$;$k(B, $B$$$m$s$J;W$$$rAGD>$KEA$($l$k(B, $B0l?M0l?M$,G'$a9g$($k3X9;$rL\;X$7$?$$$b$N$G$9!#(B</p>

<p><img src="anke-3" style="width: 255px; height: 181px; float: left" alt="$BM'C#$,$$$F$h$+$C$?$H;W$C$?$3$H$O$"$j$^$9$+!#(B" />
No $B$HEz$($??M$O!"M'C#$H7y$J$3$H$G$b$"$C$?$N$G$7$g$&$+!#(B</p>
<p>$B?M$O0l?M$G$O@8$-$F$$$1$^$;$s!#$$$m$s$J>lLL$G!"$_$s$J$G;Y$($"$C$F@8$-$F$$$k$N$G$9!#(B</p>
<p>$BM'C#$,$$$FNI$+$C$?$H46$8$?$3$H$N$J$$?M$b!"$$$D$+$-$C$H!"$=$&46$8$i$l$kM'C#$K=P2q$($k$3$H$G$7$g$&!#$_$s$J$,$h$+$C$?$H46$8$i$l$k!"!"$=$s$J1|Cf$K$J$k$H$$$$$G$9$M!#(B</p>

</div> <!-- id="anke" -->

<div class="bar">
[<a href="gf99">$B<!$X(B</a>]
</div>

<address>[<a href="/">/</a>] [<a href="../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>/<a href="../">$BJ?@.(B11$BG/EYA04|@8EL2q(B</a>]</address>
<div class="update">2001-06-22 $BD{(B</div>
</div> <!-- id="body" -->

</body>
</html>
