
#slogan
	{text-align: center;
	margin: 3em 5%;
	border: double gray medium;
	padding-top: 2em; padding-bottom: 2em;
	font-family: "Efont Serif", serif;
	font-size: 120%;
	font-weight: bolder}

.a1, .a2, .a3
	{font-size: 140%}

#slogan strong
	{display: block;
	margin: .1em;
	text-align: center;
	font-size: 300%;
	font-weight: bolder;
	line-height: 140%;
	letter-spacing: 1.2em}

#slogan strong .c1
	{color: red}
#slogan strong .c2
	{color: #FF00FF}
#slogan strong .c3
	{color: yellow}
#slogan strong .c4
	{color: #00FF00}
#slogan strong .c5
	{color: blue}

#slogansub
	{margin: .2em}

div.realbody
	{margin-left: 136px}

.theme
	{margin: 2em 10%;
	font-size: 120%}

.theme span.pg
	{display: block;
	text-align: left;
	background-color: inherit;
	font-style: italic;
	font-weight: bolder}

.theme strong
	{display: block;
	text-align: center;
	padding: 1em;
	font-size: 250%;
	letter-spacing: 1.5em}

.theme span.mg
	{display: block;
	text-align: center;
	padding: 0 1em 1em 1em;
	font-size: 100%}

#theme1 span.pg	{color: red}
#theme2 span.pg	{color: orange}
#theme3 span.pg	{color: blue}

h1
	{text-align: center;
	border-style: none;
	font-size: 200%}

h1 span.gfundou
	{display: block;
	font-weight: bolder}

h1 span.gfundou .g1,
h1 span.gfundou .g5,
	{font-size: 130%}

h1 span.gfundou .g1	{color: #FF0000; background-color: inherit}
h1 span.gfundou .g2	{color: #FF8080; background-color: inherit}
h1 span.gfundou .g3	{color: #FF8040; background-color: inherit}
h1 span.gfundou .g4	{color: #FCC829; background-color: inherit}
h1 span.gfundou .g5	{color: #F2FF00; background-color: inherit}
h1 span.gfundou .g6	{color: #D5FB60; background-color: inherit}
h1 span.gfundou .g7	{color: #00FF00; background-color: inherit}
h1 span.gfundou .g8	{color: #008000; background-color: inherit}
h1 span.gfundou .g9	{color: #2D11EE; background-color: inherit}
h1 span.gfundou .g10	{color: #0000A0; background-color: inherit}
h1 span.gfundou .g11	{color: #8080FF; background-color: inherit}
h1 span.gfundou .g12	{color: #8080C0; background-color: inherit}
h1 span.gfundou .g13	{color: #8000FF; background-color: inherit}
/* #400080 */

.bar
	{text-align: right;
	margin-left: 20%}
