
@import '/s/simpledoc';

body
	{background-image: url(goodfriends99-v);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top left;
	background-color: white;
	color: black}


h2
	{text-align: left;
	margin-top: 2em;
	border-style: none;
	padding-left: 33px;
	background-image: url(/okuchuu/logo);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top left;
	font-size: 150%}

cite
	{display: block;
	text-align: right}
