
/*
.red, .blue, .green
	Gakunen colors
.sf-red, .sf-white, .sf-blue, .sf-yellow
	Team colors of the sports festival
*/
/* .red, .blue, .green,
.sf-red, .sf-white, .sf-blue, .sf-yellow
	{border-style: none none solid none;
	border-width: thin;
	padding-bottom: 0.01em}

.red	{border-color: red}
.blue	{border-color: blue}
.green	{border-color: green}


.sf-red	{border-color: red}
.sf-white	{border-color: white}
.sf-blue	{border-color: blue}
.sf-yellow	{border-color: yellow}
*/

.red, .green, .blue
	{background-position: top right;
	background-repeat: no-repeat;
	background-color: transparent;
	padding-right: 10px; margin-right: 2px}
.red:hover, .green:hover, .blue:hover {
	padding-right: 10px; margin-right: 2px;
}

.red	{background-image: url(ribbon-red)}
.green	{background-image: url(ribbon-green)}
.blue	{background-image: url(ribbon-blue)}

.sf-red, .sf-white, .sf-blue, .sf-yellow
	{background-position: top right;
	background-repeat: no-repeat;
	background-color: transparent;
	padding-right: 14px; margin-right: 2px}

.sf-red	{background-image: url(flag-red)}
.sf-white	{background-image: url(flag-white)}
.sf-blue	{background-image: url(flag-blue)}
.sf-yellow	{background-image: url(flag-yellow)}

/* Additional information by Densetsu-okuchuu team */
ins.densetsu
	{font-style: normal; text-decoration: none;
	color: inherit}

/*

Style sheet for Okuchuu HTML documents

License: Public Domain.

$Date: 2003/11/07 09:02:51 $

*/
