
@import '/s/simpledoc.css';
@import 'okuchuu.css';

h1, body > h {
	margin-left: auto;
	margin-right: auto;
	padding-left: 35px;
	padding-right: 35px;
	min-height: 35px;
	min-width: 35px;
	background-image: url(../logo);
	background-repeat: no-repeat;
	background-position: top left;
	text-align: center;
}
