<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$B$*$/$A$e!#$N=U2F=)E_!=!==U(B</title>
<link rel="contents" href="./" />
<link rel="prev" href="./" />
<link rel="next" href="summer" />
<?xml-stylesheet href="../../okuchuu-style"?>
<link rel="stylesheet" href="../../okuchuu-style" />
<?xml-stylesheet href="style"?>
<link rel="stylesheet" href="style" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rel="copyright" href="../../c" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|Cf(B, $B$*$/$A$e!#(B, $B1|EDCf3X9;(B, $B=U2F=)E_(B, $B>R2p(B, 1$BG/(B, $B@8EL2q(B, $BF~2q<0(B, $BBPLL<0(B" />
</head>
<body>
<h1><a href="../../"><img class="minilogo" src="../../logo" alt="$B$*$/$A$e!#(B" /></a> $B$*$/$A$e!#$N=U2F=)E_!=!==U(B</h1>

<div>
<h2><img src="spring-01" class="r" alt="$B=U(B spring" /></h2>

<p>$B=U$N$*$/$A$e!#(B: <a href="#nyuugaku">$BF~3X<0(B</a>, 
$B@8EL2qF~2q<0(B, $BA04|@8EL2qLr0wA*5s(B, 
<a href="#soukai">$B@8ELAm2q(B</a>, <a href="#shuugaku">$B=$3XN99T(B</a>$B!&=IGq3X=,(B,
$B=U5(AmBN!&AT9T2q(B, <a href="#gf">GoodFriends$B1?F0(B</a></p>
</div>

<div id="nyuugaku">
<h2>$BF~3X<0(B</h2>

<img src="spring-nyuugaku-01" class="l" alt="$BF~3X<0(B" />

<p>$B$*$/$A$e!#$G$N(B3$BG/4V$N0lHV:G=i(B, $BF~3X<0!#$*$/$A$e!#$K$O!"(B
5$B$D$/$i$$$N>.3X9;$+$i!"@8EL$,4|BT$K6;$rKD$i$^$;$FF~3X$7$FMh$^$9!#(B</p>
</div>

<div id="soukai">
<h2>$B@8ELAm2q(B</h2>

<img src="spring-soukai-01" class="l" alt="$BJ?@.(B9$BG/EY@8ELAm2q(B($B@5LL(B)" />

<p>$BKhG/(B4$B7n$N=*$o$j$+(B5$B7n$N$O$8$a$K!"@8ELA40w$,BN0i4[$K=8$^$j!"(B
$B@8ELAm2q$,3+:E$5$l$^$9!#$3$3$G!"@8EL2q$NG/4V%9%m!<%,%s!&G/4V7W2h$J$I(B
$B$,7hDj$5$l$^$9!#(B</p>

<img src="spring-soukai-02" class="r" alt="$BJ?@.(B9$BG/EY@8ELAm2q(B($B5s<j:N7h(B)" />

<p>$B$3$l$O@8EL2qG/4V%9%m!<%,%s$N:N7h$r$7$F$$$k>lLL$G$9!#(B</p>
<p>$B3F4|@8EL2q$O!V?H6a$J@8EL2q!W$J$I$=$l$>$l$NL\I8$r7G$2!"(B
$B@8EL$N0U8+$r:GBg8B5[<}$7!"C/$b$,L@$k$/=a$$$N$"$k3X9;@83h$r(B
$B3Z$7$a$k$h$&F|!9$N3hF0$KNe$s$G$$$^$9!#(B</p>

<ul>
	<li><a href="../../1999z/soukai/" title="$BJ?@.(B11(1999)$BG/EYA04|$N@8ELAm2q(B">$BJ?@.(B11$BG/EYA04|(B</a></li>
</ul>
</div>

<div id="shuugaku">
<h2>$B=$3XN99T(B</h2>

<img src="spring-shuugaku-01" class="l" alt="$B6b3U;{$r%P%C%/$K5-G0;#1F(B" />

<p>5$B7n$K$O!"(B3$BG/@8$N=$3XN99T$,$"$j$^$9!#9T$-@h$OKhG/0[$J$j$^$9$,!"(B
$B$3$3?tG/$O@>F|K\(B($B4X@>!A6e=#(B)$BJ}LL(B, $BFC$K5~ET$K9T$C$F$$$^$9!#(B</p>
<p><a href="http://www.spaceworld.co.jp/">$B%9%Z!<%9%o!<%k%I(B</a>,
<a href="http://www.daiei.co.jp/n_dreamland/">$BF`NI%I%j!<%`%i%s%I(B</a>,
<a href="http://www.usj.co.jp/">USJ</a> $B$J$I$X9T$C$?$j!"(B
$BLn5e4Q@o$d(B<a href="http://www.pcf.city.hiroshima.jp/peacesite/">$B9-Eg(B
$BJ?OB5-G0;qNA4[(B</a>$B$N8+3X(B, $B;{<RJ)3U$NGR4Q$J$I!"FbMF$O@9$jBt;3!#(B</p>

<img src="spring-shuugaku-02" class="r" alt="$B%8%'%C%H%3!<%9%?!<(B!!" />

<p>$B:G6a$O$h$jB?$/$N;~4V$,HIJL3X=,$K3d$+$l$k$h$&$K$J$C$F$$$^$9!#(B
$BHI0w$N6=L#!&4X?4$K$h$j%3!<%9$r<+$i@_Dj$7!"=$3XN99T$r3Z$7$s$G$$$^$9!#(B</p>
<!-- $B$J$s$@!"$3$N>R2pJ8$O(B? :-) -->

<ul>
	<li><a href="../../1999/3/shuugaku/" title="$BJ?@.(B11(1999)$BG/EY$N=$3XN99T(B" class="red">$BJ?@.(B11$BG/EY(B</a></li>
</ul>
</div>

<div id="gf">
<h2>GoodFriends$B1?F0(B</h2>

<img src="spring-gf-01" class="l" alt="GF$BA49;=82q$G$N0U8+H/I=(B" />

<p>6$B7nCf=\$K$O!"(BGoodFriends$B1?F0(B ($BDL>N(BGF) $B$H$7$FMM!9$J3hF0$,(B
$B9T$o$l$^$9!#$3$N1?F0$O!"$+$D$F$$$8$a$K$h$j<+;&<T$,=P$k$K;j$C$?(B
$BH?>J$+$i!"M'C#$N$3$H$rNI$/9M$(!"$"$k$$$OM'>p$NNX$r9-$2$k$3$H$r(B
$BL\E*$H$7$F$$$^$9!#(B</p>
<p>$B<L??$O!"(BGoodFriends$BA49;=82q$N0U8+H/I=$NMM;R$G$9!#(B
$B3F%/%i%9(B, $B3XG/$GA*$P$l$?BeI=<T$,!"3XG/!&A49;=82q$G0U8+H/I=(B
$B$r$7$^$9!#$=$N0U8+J8$O$I$l$b9C25$D$1$,$?$/!"46F0$7$?$H8@$&(B
$B@<$bNI$/J9$+$l$^$9!#(B</p>

<img src="spring-gf-02" class="r" alt="GF$BA49;=82q$N7`(B" />

<p>$B$3$NB>!"(BGF$B$G$OKhG/91Nc$N%"%s%1!<%H$d%P%9%1%C%H%\!<%kBg2q!"(B
$B3XG/$N%l%/%j%(!<%7%g%s$d@JBX$(5k?)$J$I!"$$$m$$$m$J$3$H$,(B
$B9T$o$l$^$9!#(B</p>
<p>$B<L??$O%"%s%1!<%H$r85$K:n$i$l$?7`$NLOMM$G$9!#%"%s%1!<%H$N(B
$B<ALd9`L\$OKhG/$[$\F1$8$J$N$G!"M'C#$X$N9M$($N0\$jJQ$o$j$r(B
$B$_$k$3$H$b$G$-$^$9!#(B</p>

<ul>
	<li><a href="../../1999z/gf/" title="$BJ?@.(B11(1999)$BG/EY$N(BGF">$BJ?@.(B11$BG/EY(B</a></li>
</ul>
</div>


<address>
[<a href="/">/</a>]
[<a href="../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>
<a href="../" rel="contents">$B$*$/$A$e!#EA@b(B</a>]
</address>
<div class="update">2001-09-24
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid HTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/about/shunkashuutou/intro.ja.html&amp;profile=css2" xml:lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
</body></html>
