<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ja">
<head>
<title>$B%V%k!<%*!<%7%c%s%:(B,$BJ?@.(B13$BG/EY(B</title>
<link rel="stylesheet" href="/s/simpledoc">
<link rel="stylesheet" href="../bo-style">
<link rev="made" href="mailto:wakaba@suika.fam.cx">
<link rel="index" href="../">
<link rel="prev" href="../">
<link rel="bookmark" href="http://suika.fam.cx/okuchuu/blue-oceans/2001/">
<link rel="copyright" href="/c/?c=BlueOceans">
<link rel="shortcut icon" href="/~wakaba/art/icon/okuchuu-bl.ico">
<meta name="author" content="$B<cMU(B">
</head>
<body>
<h1>$BJ?@.(B13(2001)$BG/EY$N3hF0(B</h1>

<ul>
	<li><a href="04" title="2001$BG/(B4$B7n(B">4$B7n(B</a></li>
	<li>5$B7n(B</li>
	<li>6$B7n(B</li>
	<li><a href="04" title="2001$BG/(B4$B7n(B">7$B7n(B</a></li>
	<li><a href="04" title="2001$BG/(B4$B7n(B">8$B7n(B</a></li>
	<li><a href="09" title="2001$BG/(B9$B7n(B">9$B7n(B</a></li>
	<li><a href="10" title="2001$BG/(B10$B7n(B">10$B7n(B</a></li>
	<li><a href="11" title="2001$BG/(B11$B7n(B">11$B7n(B</a></li>
	<li><a href="12" title="2001$BG/(B12$B7n(B">12$B7n(B</a></li>
	<li><a href="../2002/01" title="2002$BG/(B1$B7n(B">1$B7n(B</a></li>
	<li><a href="../2002/02" title="2002$BG/(B2$B7n(B">2$B7n(B</a></li>
	<li><a href="../2002/03" title="2002$BG/(B3$B7n(B">3$B7n(B</a></li>
</ul>


<ul>
	<li><a href="taikai">$BK\G/EYBg2q;22CM=Dj(B</a></li>
	<li><a href="taikai">$B%^!<%A%s%0$N%F!<%^(B</a></li>
	<li><a href="../katsudou/koushi">$B9V;U>R2p(B</a></li>
</ul>

<address>
[<a href="../" rel="index">$B%V%k!<%*!<%7%c%s%:(B</a>]
</address>
<div class="update">2001-08-22, 2001-09-14, 2001-12-26,
$Date: 2002/04/02 04:31:04 $
<a href="http://validator.w3.org/check/referer" lang="en"><img
        src="http://www.w3.org/Icons/valid-html401" id="w3c-html"
        alt="Valid HTML 4.01!" style="height: 31px; width: 88px"></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/blue-oceans/2001/index.ja.html" lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!"></a>
</div>
</body></html>
