<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="../okuchuu-style.css" type="text/css" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<link rel="contents" href="./" />
<link rel="stylesheet" href="/s/simpledoc.css" type="text/css" />
<link rel="stylesheet" href="../style/okuchuu.css" type="text/css" />
<link rev="made" href="mailto:w@suika.fam.cx" />
<link rel="copyright" href="/c/pd" title="Public Domain." />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|Cf%.%M%9$KD)@o(B!, $B%.%M%9$KD)@o(B, Guinness$B$KD)@o(B, $B%.%M%9(B, guinness, $B%.%M%95-O?(B, $BE_$NBN0iBg2q(B, $B1|Cf(B, 3$B3X4|(B, $B5-O?(B, $BBg2q(B, $BBN0i(B, $B1?F02q(B, $B6%5;(B, $B@8EL2q(B, $B%.%M%9%V%C%/(B, $B1|Cf%.%M%9%V%C%/(B, $B%.%M%9K\(B, $B1I4'(B, $B1IM@$r>N$($k(B" />
</head>
<body>
<h1><a href="../"><img class="minilogo" src="../logo" alt="$B$*$/$A$e!#(B" /></a> $B1|Cf%.%M%9$KD)@o(B!</h1>

<!-- $B$o$+$P$N@bL@!#$b$C$H$+$C$3$$$$@bL@%-%\%s%L!#(B
($B$"$*$0$b$H$+$K:\$C$F$?$iM_$7$$$H$3$m!#(B) -->
<p>$B1|Cf%.%M%9$KD)@o(B!$B$O!"KhG/(B2$B7n$K9T$o$l!"3XG/6%5;!&3X5i6%5;$rA*$s$G%/%i%9$4$H$KD)@o$7$^$9!#A0G/EY$^$G$N5-O?$rDI$$1[$;$P!"$=$l$,1|Cf%.%M%95-O?$KG'Dj$5$l$^$9!#(B</p>
<p>$B%.%M%95-O?99?7%/%i%9$N5-O?$H<L??$O!"6%5;Kh$K3[1o$KF~$l$i$l!"(B($B<!$K5-O?$,99?7$5$l$k$^$G(B) A$BEo(B2$B3,$N2q5D<<!&AjCL<<A0$NO-2<$K7G<($5$l$^$9!#(B
($B$,!"J?@.(B12$BG/0J9_$N$I$?$P$?$G$=$N8e$I$&$J$C$?$+ITL@$G$9!#(B)</p>

<!--$B;29MJ88%(B
- $B%.%M%9$KD)@o%W%j%s%H(B ($B3FG/EY6%5;7hDj;~$KG[I[(B)
	- $B6%5;@bL@$OJ?@.(B10$BG/EYHG$h$j(B
- $B!X$"$*$0$b!Y$N%.%M%9$KD)@o$NJG(B ($B!X1|Cf%.%M%9%V%C%/!Y(B)
	- 45 ($BJ?@.(B10$BG/EY(B)
	- 46 ($BJ?@.(B11$BG/EY(B)
	- $B5-O?99?7%/%i%9CLOC$O$"$*$0$b$h$j!#(B
- $B1|Cf%.%M%9%V%C%/(B
	- $BJ?@.(B11$BG/EY8e4|@8EL2q:n@.(B
-->

<h1 id="nanafunkan-shiritori">7$BJ,4V$7$j$H$j(B</h1>

<p>$B%/%i%9A40w$G(B7$BJ,4V$7$j$H$j$r$7$F2?2sB3$/$+$r6%$$$^$9!#(B</p>

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B4$BG/(B2$B7n(B18$BF|(B</th><td>3$BG/(B8$BAH(B</td><td>247$B2s(B</td></tr>
<tr><th>$BJ?@.(B12$BG/(B2$B7n(B18$BF|(B</th><td>2$BG/(B5$BAH(B</td><td>291$B2s(B</td></tr>
</tbody>
</table>

<h1 id="nanafunkan-magical-banana">7$BJ,4V%^%8%+%k%P%J%J(B</h1>

<p>7$BJ,4V$G$I$l$@$1%^%8%+%k%P%J%J$rB3$1$i$l$k$+$r6%$$$^$9!#(B</p>

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B8$BG/(B2$B7n(B19$BF|(B</th><td>1$BG/(B3$BAH(B</td><td>79$B2s(B</td></tr>
</tbody>
</table>

<h1 id="hachinoji-oonawatobi">8$B$N;zBgFlD7$S(B</h1>

<p>$BBgFl$r0l?M$:$D(B8$B$N;z$KD7$S!"2s?t$r6%$$$^$9!#(B</p>

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th><th>$B%3%a%s%H(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B8$BG/(B2$B7n(B19$BF|(B</th><td>1$BG/(B7$BAH(B</td><td>53$B2s(B</td></tr>
<tr><th>$BJ?@.(B12$BG/(B2$B7n(B19$BF|(B</th><td>1$BG/(B2$BAH(B</td><td>733$B2s(B</td>
	<td>$BFsAH$O!"0l%/%i%9$@$10c$&<oL\$r$9$k$3$H$K$J$j!"6%AhAj<j$,$$$J$/L\I8$O%.%M%9?75-O?$H$$$&$3$H$7$+$"$j$^$;$s$G$7$?!#N}=,$N;~$+$i%9%`!<%:$K3Z$7$/$G$-$?$3$H$,!"K\HV$G$NBg5-O?$K$J$C$?$N$@$H;W$$$^$9!#(B</td></tr>
</tbody>
</table>

<h1 id="nijuunin-nijuuikkyaku">20$B?M(B21$B5S(B</h1>
<!-- $B$"$*$0$b(B45 $B!V(B20m 20$B?M(B21$B5S!W(B -->

<p>2$B?M(B3$B5S$NBg?M?tHG!#(B 2 $B%A!<%`$KJ,$+$l$F!"(B 20m $B$rAv$kB.$5$r6%$$$^$9!#(B</p>

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B3$BG/(B2$B7n(B18$BF|(B</th><td>2$BG/(B8$BAH(B</td><td>8.86$BIC(B</td></tr>
</tbody>
</table>

<h1 id="nijuumeter-oomukade">20m $BBg$`$+$G(B</h1>

<p>$BCK=wJ,$+$l$F(B<ruby><rb>$BI4B-(B</rb><rt>$B$`$+$G(B</rt></ruby>$B$K$J$C$FB-$rG{$j!"(B 20m $BAv$j$^$9!#(B</p>

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B7$BG/(B2$B7n(B16$BF|(B</th><td>2$BG/(B4$BAH(B</td><td>26.2$BIC(B</td></tr>
</tbody>
</table>

<h1 id="senaka-watari-kyousou">$BGXCfEO$j6%Ah(B</h1>

<p>$B3X5i$NCf$N0l?M$,B>$N?M$,O"$M$?GXCf$N>e$rEO$j$^$9!#(B</p>

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B8$BG/(B2$B7n(B19$BF|(B</th><td>1$BG/(B5$BAH(B</td><td>12.74$BIC(B</td></tr>
</tbody>
</table>

<h1 id="zoukin-relay">$B;(6R%j%l!<(B</h1>

<p>20m $B$r(B 2 $B%A!<%`$KJ,$+$l$F;(6R$,$1$G%j%l!<$7$^$9!#(B</p>

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B7$BG/(B2$B7n(B16$BF|(B</th><td>2$BG/(B3$BAH(B</td><td>3$BJ,(B58$BIC(B</td></tr>
</tbody>
</table>

<h1 id="tama-hakobi">$B$?$^$O$3$S(B</h1>

<!--<p></p>-->

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B5$BG/(B2$B7n(B18$BF|(B</th><td>1$BG/(B8$BAH(B</td><td>4$BJ,(B</td></tr>
</tbody>
</table>

<h1 id="volleyball-renzoku-pass">$B%P%l!<%\!<%kO"B3%Q%9(B</h1>

<p><!-- $B%S!<%A%P%l!<O"B3%Q%9$N@bL@$+$i(B: -->$B3F3X5i(B 2 $B%A!<%`$KJ,$+$l$F!"$=$N9g7W$r5-O?$H$7$^$9!#(B</p>
<!-- $B@bL@=PE5ITL@(B: $BCK=wJ,$+$l$F6%$$$^$9!#(B -->

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B5$BG/(B2$B7n(B28$BF|(B</th><td>2$BG/(B6$BAH(B</td><td>623$B2s(B</td></tr>
</tbody>
</table>

<h1 id="beach-volley-lifting">$B%S!<%A%P%l!<!&%j%U%F%#%s%0(B</h1>

<!--<p></p>-->

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B6$BG/(B2$B7n(B19$BF|(B</th><td>1$BG/(B3$BAH(B</td><td>25$B2s(B</td></tr>
</tbody>
</table>

<h1 id="beach-volley-renzoku-pass">$B%S!<%A%P%l!<O"B3%Q%9(B</h1>

<p>$B3F3X5i(B 2 $B%A!<%`$KJ,$+$l$F!"$=$N9g7W$r5-O?$H$7$^$9!#(B</p>

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th><th>$B%3%a%s%H(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B11$BG/(B2$B7n(B17$BF|(B</th><td class="red">2$BG/(B7$BAH(B</td><td>93$B2s(B</td></tr>
<tr><th>$BJ?@.(B12$BG/(B2$B7n(B19$BF|(B</th><td class="red">3$BG/(B4$BAH(B</td><td>881$B2s(B</td>
	<td>$B%.%M%95-O?$r:n$k;v$,$G$-$k$H$O;W$C$F$$$J$+$C$?$N$G!"4r$7$+$C$?$G$9!#;d$?$A$N5-O?$,GK$i$l$k$3$HL5$/!"1J1s$K1|Cf$NNr;K$K;D$C$F$$$/$3$H$r5'$C$F$$$^$9!#(B<!-- $B$[$s$H$K$=!<$J$j$=$&$G$9!#(B -->
	<!-- 3-1 $B$b5l%.%M%95-O?$K>!$C$F$$$?$,!"(B 3-4 $B$O99$KNI$$5-O?$@$C$?!#(B --></td></tr>
</tbody>
</table>

<h1 id="hito-moji">$B?MJ8;z(B</h1>

<!--<p></p>-->

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.85G/(B2$B7n(B9$BF|(B</th><td>1$BG/(B5$BAH(B</td><td>$B!V%M!W$r(B16.35$BIC(B</td></tr>
</tbody>
</table>

<h1 id="min-na-de-jump">$B$_$s$J$G(B JUMP</h1>

<p>$B3X5i$NCf$+$i(B 2 $B?M$,D9Fl$r2s$7$FB>$N?M$,2?2sD7$Y$k$+$r6%$$$^$9!#(B</p>

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B7$BG/(B2$B7n(B16$BF|(B</th><td>2$BG/(B5$BAH(B</td><td>43$B2s(B</td></tr>
</tbody>
</table>

<h2 id="shin-min-na-de-jump">$B?7!&$_$s$J$G(B JUMP</h2>

<!-- $B$o$+$PJd40@bL@(B -->
<p>$B3F3X5i(B 2 $B%A!<%`$KJ,$+$l!"$=$l$>$l$N%A!<%`$NHt$s$@2s?t$N9g7W$r6%$$$^$9!#(B</p>
<p>$B5l$_$s$J$G%8%c%s%W$O%/%i%9A40w$,0l$D$NFl$GHt$V$?$a(B<!-- $B$[$s$H$+$h(B?
$BH>J,$G$b$+$J$j$.$e$&$.$e$&5M$a$@$C$?$>!#(B -->$B!"5-O?$N8~>e$OK>$a$J$$$H$7$F!"J?@.(B9$B<B;\F|$K%k!<%k$,2~@5$5$l$^$7$?!#(B</p>
<!-- $BB>$N6%5;$b3N$+%k!<%k$N=$@5$O9T$o$l$F$$$?$N$K!"$J$<$_$s$J$G%8%c%s%W$@$1(B
$B?76%5;$K$J$C$?$N$+$OFf$G$9!#$+$J$jBg$-$JJQ99$@$+$i$G$7$g$&$+(B? -->
<p>$B$_$s$J$G%8%c%s%W$O?M5$6%5;$G!"KhG/I,$:3X5i6%5;$d3XG/6%5;$KA*$P$l$F$$$^$7$?!#(B</p>

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th><th>$B%3%a%s%H(B</th></tr>
</thead>
<tbody>
<!-- 43$B2s(B ($B$"$*$0$b(B45) -->
<tr><th>$BJ?@.(B11$BG/(B2$B7n(B17$BF|(B</th><td class="red">2$BG/(B6$BAH(B</td><td>93$B2s(B</td>
	<td><p>60$B!&(B61$B!&(B62$B!&(B63$B!&(B64$B!#(B<br />
	$B$_$s$J$N@<$,Bg$-$/$J$k!#!V$d$C$?$!!W(B2$B%A!<%`$N9g7W$,(B93$B!#%.%M%9$N5-O?99?7$N=V4V$G$9!#(B</p>
	<p>$B:#2s$N%.%M%9$G$O!"CK=w6&$KA4NO$r$@$7$F<h$jAH$_!"$$$$;W$$=P$r:n$k$3$H$,$G$-$^$7$?!#(B</p>
	<p>$B$_$s$J$,$3$&;W$C$?$O$:$G$9!#(B2$BG/(B6$BAH$G$h$+$C$?!&!&!&$H!#(B</p></td></tr>
<!-- $B$"$*$0$b(B45($BJ?@.(B10$BG/EY(B) $B8m?"(B 9$B2s(B ($B$R$I$$4V0c$$$@!#(B) -->
</tbody>
</table>

<h1 id="yubi-kasa-race">$B;X$+$5%l!<%9(B</h1>

<!--<p></p>-->

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B6$BG/(B2$B7n(B19$BF|(B</th><td>1$BG/(B5$BAH(B</td><td>4$BJ,(B45$BIC(B</td></tr>
</tbody>
</table>

<h1 id="ren-dako">$BO"$@$3(B</h1>

<!--<p></p>-->

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$BAH(B</th><th>$B5-O?(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B4$BG/(B2$B7n(B12$BF|(B</th><td>2$BG/(B1$BAH(B</td><td>216$BKg(B</td></tr>
</tbody>
</table>

<h1>$B%9%m!<%,%s(B &amp; $B3XG/<oL\(B</h1>

<table>
<thead>
<tr><th>$B<B;\F|(B</th><th>$B%9%m!<%,%s(B</th><th>1$BG/3XG/<oL\(B</th><th>2$BG/3XG/<oL\(B</th><th>3$BG/3XG/<oL\(B</th></tr>
</thead>
<tbody>
<tr><th>$BJ?@.(B11$BG/(B2$B7n(B17$BF|(B</th>
	<td>$B:2$K2P$r$D$1$m!A@c$r$b$H$+$9$3$NG.$-;W$$!A(B</td>
	<td>$B%S!<%A%P%l!<O"B3%Q%9(B</td>
	<td>$B?7$_$s$J$G(BJUMP</td><td>$B?7$_$s$J$G(BJUMP</td></tr>
<tr><th>$BJ?@.(B12$BG/(B2$B7n(B19$BF|(B</th>
	<td>$BHt$S=P$=$&(B! $BJI$N8~$3$&$X!AE4$N$-$:$J$,@8$^$l$k(B<ruby><rb>$B=V4V(B</rb><rt>$B$H$-(B</rt></ruby>$B!A(B</td>
	<td>($B$J$7(B)</td>
	<td>$B?7$_$s$J$G(BJUMP</td><td>$B?7$_$s$J$G(BJUMP</td></tr>
</tbody>
</table>

<p>$BJ?@.(B11$BG/EY$O;~4V$NET9g$G(B1$BG/@8$O3X5i<oL\$N$_9T$$$^$7$?!#(B</p>
<p>$BJ?@.(B12$BG/EY0J9_1|Cf%.%M%9$KD)@o(B!$B$O<B;\$5$l$F$$$^$;$s!#(B</p>

<h1 id="see-also">$B4XO"(B URI</h1>

<ul>
<li><a href="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?%B1%FC%C3%E6%A5%AE%A5%CD%A5%B9%A4%CB%C4%A9%C0%EF%21">$B1|Cf%.%M%9$KD)@o(B!$B$K$D$$$F$^$?!<$j$H8l$k(B</a> (<a href="http://suika.fam.cx/~wakaba/-temp/wiki/wiki">$B$9$$$+$p$-(B</a>$B$h$j(B)</li>
</ul>

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>]
<a href="http://validator.w3.org/check/referer" xml:lang="en">
<img src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
  alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" />
</a>
<a href="http://jigsaw.w3.org/css-validator/check/referer" xml:lang="en">
<img style="width: 88px; height: 31px" id="w3c-css"
  src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
</a>
</div>
<div class="update">$Date: 2002/09/05 09:26:16 $</div>
<ul class="myuri">
<li>&lt;URL:<a href="http://suika.fam.cx/okuchuu/guinness/intro">http://suika.fam.cx/okuchuu/guinness/intro</a>&gt;</li>
<li>&lt;CVS:<a href="http://suika.fam.cx/gate/cvs/okuchuu/guinness/intro.ja.html">suika.fam.cx:/home/cvs/okuchuu/guinness/intro.ja.html</a>&gt;</li>
</ul>
</body></html>
