<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>

   <meta name="GENERATOR" content="Mozilla/4.5 [ja] (Win95; I) [Netscape]">
   <title>top page</title>

<!-- 2001-06-23: START Shift JIS part in original -->
<p align="center"><font color="#0033CC" size="4" face="MS P$B%4%7%C%/(B"><strong>$B$"$J$?$O(B</strong> 
<!--<img src="/cgi-bin/Count.cgi?df=iinet259.dat" alt="***">--><img src="Count" alt="***"> <strong>$B?ML\$NK,Ld<T$G$9!#(B</strong></font> 
<strong><font face="MS P$B%4%7%C%/(B" color="#800040" size="2"><br>
$B!T(B1999$BG/(B7$B7n(B7$BF|$+$i%[!<%`%Z!<%8$r3+@_$7$^$7$?!#(B</font><font
face="MS P$B%4%7%C%/(B" color="#800040"><small><small>$B!U(B </small></small></font></strong></p>
<!-- 2001-06-23: END Shift JIS part in original -->




<!--This file created 99.1.29 1:01 AM by Claris Home Page version 2.0J-->
<X-SAS-WINDOW TOP=42 BOTTOM=621 LEFT=246 RIGHT=776>
</head>
<body background="0003">
Sorry Japanese only./Isn't it a chance to learn Japanese.
<center>
<p><img SRC="0001" X-SAS-UseImageWidth X-SAS-UseImageHeight height=113 width=408 align=BOTTOM></center>

<center><table BORDER >
<tr>
<td WIDTH="411" HEIGHT="312">
<center><img SRC="0002" X-SAS-UseImageWidth X-SAS-UseImageHeight height=306 width=406 align=BOTTOM></center>
</td>
</tr>
</table></center>

<center>
<p><a href="idx.htm"><img SRC="0004" BORDER=0 height=47 width=65 align=CENTER></a><a href="idx.htm">$B$3$A$i$+$i(B,$B$*F~$j$/$@$5$$!#(B</a>
<br>
<hr WIDTH="100%">
<p><img SRC="0006" BORDER=0 height=31 width=25 align=CENTER>&nbsp; 930-0846 $BIY;3;T1|0fD.(B25-10
<br> &nbsp;&nbsp;&nbsp; TEL 076-441-3628&nbsp; FAX 441-3684
<p>(C) Okuda Junior High School/1999</center>

</body>
</html>

<!-- Note: Original document is consist of Shift JIS part and
           ISO-2022-JP part.  (M$IE interrupt "correctly" while
           other WWW UAs such as Mozilla does not.)
           In addition, some broken relative URI references is
           also recovered.  2001-06-23  Wakaba  <wakaba@suika.fam.cx>. -->
