<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?xml-stylesheet href="/s/simpledoc"?>
<?xml-stylesheet href="../../bo-style" ?>
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Okuda Blue Oceans 1st Concert / 2002$BG/(B3$B7n(B24$BF|(B</title>
<link rel="contents" href="../" />
<link rel="stylesheet" href="/s/simpledoc" />
<link rel="stylesheet" href="../../bo-style" />
<link rev="made" href="mailto:w@suika.fam.cx" />
<link rel="shortcut icon" href="../../../favicon.ico" type="image/vnd.microsoft.icon" />
<meta name="author" content="Blue Oceans" />
<meta name="keywords" content="$B1|EDCf3X9;(B, $B1|Cf(B, $B?aAU3ZIt(B, BlueOceans, BO, $B%3%s%5!<%H(B, concert, $BDj4|1iAU2q(B" />
</head>
<body>
<h1>Okuda Blue Oceans 1st Concert </h1>

<dl>
<dt>$B>l=j(B</dt>
	<dd><a href="http://www.nsknet.or.jp/toyamahall/event/tymkyoik/tymkyoik.htm">$BIY;38)650iJ82=2q4[(B</a> ($BIY;3;T=.66KLD.(B7-1) $B%[!<%k(B</dd>
<dt>$B;~4V(B</dt>
	<dd>13$B;~(B30$BJ,3+>l(B, 14$B;~3+1i(B, 16$B;~JD1i(B</dd>
<dt>$B=P1i(B</dt>
	<dd>$B1|Cf?aAU3ZIt0w(B + OB$B!&(BOG</dd>
<dt>$B<g:E(B</dt>
	<dd>$B1|EDCf3X9;!&(BBlue Oceans $B8e1g2q(B</dd>
<dt>$B8e1g(B</dt>
	<dd>$BIY;38)650i0Q0w2q!&IY;3;T650i0Q0w2q!&IY;38)3X9;?aAU3ZO"LA!&A4F|K\%^!<%A%s%0%P%s%I!&%P%H%s%H%o%j%s%0IY;38)O"LA(B</dd>
<dt>$B6(;?(B</dt>
	<dd>$B1|EDCf3X9;(BPTA$B!&KLF|K\?7J9<R(B</dd>
<dt>$BF~>lL5NA(B</dt>
<dt>$B!X(B<a href="announce">$B1|EDCf3X9;?aAU3ZIt%V%k!<%*!<%7%c%s%:(B
$BBh0l2s1iAU2q$N$40FFb(B</a>$B!Y(B</dt>
	<dd>(<a title="$B1|EDCf3X9;?aAU3ZIt%V%k!<%*!<%7%c%s%:Bh0l2s1iAU2q$N$40FFb(B (Microsoft Word)" href="announce.ja.doc" type="application/msword" hreflang="ja">Microsoft Word</a> 32.50kilooctets;
	<a title="$B1|EDCf3X9;?aAU3ZIt%V%k!<%*!<%7%c%s%:Bh0l2s1iAU2q$N$40FFb(B (PDF)" href="announce.ja.pdf" hreflang="ja" type="application/pdf">PDF</a> 115.76kilooctets)</dd>
</dl>

<h1 id="konshin">$B:)?F2q(B</h1>
<dl>
<dt>$B>l=j(B</dt>
	<dd>$B$H$d$^<+M74[(B</dd>
<dt>$B;~4V(B</dt>
	<dd>17 $B;~$h$j(B19 $B;~:"$^$G(B ($BM=Dj(B)</dd>
<dt>$B2qHq(B</dt>
	<dd>$B0l?M(B2000$B1_(B ($BM=Dj(B)</dd>
<dt>$B!X(B<a href="uchiage-announce">$BDj1i8eBG$A>e$2:)?F2q(B($B2>>N(B)$B$K$D$$$F(B</a>$B!Y(B</dt>
	<dd>(<a title="$BDj1i8eBG$A>e$2:)?F2q(B($B2>>N(B)$B$K$D$$$F(B (Microsoft Word)" href="uchiage-announce.ja.doc" hreflang="ja" type="application/msword">Microsoft Word</a> 31.50kilooctets; 
	<a title="$BDj1i8eBG$A>e$2:)?F2q(B($B2>>N(B)$B$K$D$$$F(B (PDF)" href="uchiage-announce.ja.pdf" type="application/pdf" hreflang="ja">PDF</a> 105.56kilooctets)</dd>
</dl>

<h2 id="tv">$B%F%l%SJ|1G(B</h2>

<p>2002$BG/(B4$B7n(B4$BF|!"%1!<%V%k%F%l%SIY;3(B 5ch $B%3%_%e%K%F%#!<(B
$B%A%c%s%M%k(B $B!XIY;3$^$k$4$H%M%C%H%o!<%/!Y(B (6:00, 9:00, 12:00,
19:15, 21:00)</p>

<blockquote title="$BKLF|K\?7J9D+4)(B22$BLL$+$i(B">
<p>$BIY;3;T1|EDCf3X9;?aAU3ZIt!V%V%k!<%*!<%7%c%s%:!W$N(B
$B%U%!!<%9%H%3%s%5!<%H$,!"8)650iJ82=2q4[$G3+$+$l$?!#(B</p>
<p>$B1iAU2q$O0l7n$NA4F|K\%^!<%A%s%0%P%s%I!&%P%H%s%H%o%j%s%0%3%s%F%9%H(B
$BA49qBg2q$X$N;MG/O"B3=P>l$r5!$K3+$-!"0l!"FsG/@8$H(B OB $B$i<7==H,?M(B
$B$,=P1i$7$?!#F19;$N9bEgFAJ]@lG$9V;U$i$N;X4x$G(B
$B!V>!Mx$N8F$S@<!W!VBgCO$H?e$H6u$N2N!W!V%5%6%($5$s%"!&%i!&%+%k%H!W(B
$B$J$I;0It9=@.$G1iAU$rHdO*!#HVAH$G$OA0!"8eH>$KJ,$1$F!"(B
$B$3$N$&$AH,6J$NG.1i$rJ|Aw$9$k!#(B</p>
</blockquote>

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../../">Blue Oceans</a>
<a href="../">2002$BG/(B</a>
<a href="../03" rel="contents">3$B7n(B</a>]
[&lt;<a href="mailto:blue-oceans@suika.fam.cx">blue-oceans@suika.fam.cx</a>&gt;]
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/blue-oceans/2002/0324/index.ja.html" xml:lang="en">
  <img style="width: 88px; height: 31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a>
</div>
<div class="update">$Date: 2004/08/17 06:58:10 $</div>
<ul class="myuri">
<li>&lt;URL:<a href="http://suika.fam.cx/okuchuu/blue-oceans/2002/0324/">http://suika.fam.cx/okuchuu/blue-oceans/2002/0324/</a>&gt;</li>
<li>&lt;CVS:<a href="http://suika.fam.cx/gate/cvs/okuchuu/blue-oceans/2002/0324/">suika.fam.cx:/home/cvs/okuchuu/blue-oceans/2002/0324/</a>&gt;</li>
</ul>
</body></html>
