<html>

<head>
<title>$BJ?@.(B11$BG/EY@8ELAm2q(B</title>
<meta name="GENERATOR" content="Microsoft FrontPage 3.0">
<meta name="author" content="$B<cMU(B">
<link rel="stylesheet" href="../../okuchuu-style" />
<link rel="copyright" href="../../c" />
<link rel="prev" href="../index" />
<link rel="next" href="nenkan" />
<link rev="made" href="wakaba@suika.fam.cx" />
</head>

<body>

<h1>$BJ?@.(B11$BG/EY@8ELAm2q(B</h1>

<p><img src="kaijou" alt="$BAm2qIw7J(B" style="width: 192px; height: 144px; float: right" />$B!y(B5$B7n(B1$BF|(B($BEZ(B) (<a href="photo.s/LIST">$B2q>lIw7J(B</a>)</p>

<ol>
  <li>$B3+2q@k8@(B</li>
  <li>$B@8EL2qD9$N0';"(B</li>
  <li>$B5DD9A*=P(B</li>
  <li><a href="#slogan">$BJ?@.(B11$BG/EY@8EL2qG/4V%9%m!<%,%s7hDj(B</a></li>
  <li><a href="#nenkan">$BJ?@.(B11$BG/EY@8EL2q3hF0G/4V7W2h(B</a><br>
    $BDs0F!&@bL@!&<A5?1~Ez!&>5G'(B</li>
  <li><a href="#gf">$B%0%C%I%U%l%s%:1?F0$K8~$1$F$NDs8@(B</a></li>
  <li>$BI{2qD90';"(B</li>
  <li>$B9;D9@h@8$N$*OC(B</li>
  <li>$BJD2q@k8@(B</li>
</ol>

<h2><a name="slogan">$BJ?@.(B11$BG/EY@8EL2qG/4V%9%m!<%,%s8uJd(B</a></h2>

<p><strong><big><big>a</big></big> 99' $B1|Cf%S%C%0%P%s(B 
$B!A:#$3$N=V4V$K@8$^$lJQ$o$k!A(B</strong></p>

<p> $B%S%C%0%P%s$H$O2?2/G/$bA0$K1'Ch$G5/$-$?GzH/$N$3$H$G$9!#$=$NGzH/$K$h$j$?$/$5$s$N?7$7$$@1$,@8$^$l$^$7$?!#(B<br>
 $BKM$?$A$O1|Cf$K$b%S%C%0%P%s$r5/$3$7?7$7$$4uK>$N@1$,@8$^$l$F$/$l$l$P$H;W$$L>$E$1$^$7$?!#@8EL$_$s$J$G3WL?$N$h$&$J$b$N$r$*$3$7?7$7$$EAE}$rC[$-1|Cf$r?7$7$/@8$^$lJQ$o$i$;$k$H$$$&4j$$$,$3$a$i$l$F$$$^$9!#(B</p>

<p><strong><big><big>b</big></big> $B@Z$jBs$1L$Mh$NHb(B 
$B!A?7$?$JNr;K$r$$$^$3$N<j$G!A(B</strong></p>

<p> $B1|Cf@8EL2q$O!"$3$l$^$GMM!9$J3hF0$r9T$C$F$-$^$7$?!#$7$+$7!"$=$N3hF0$,$@$s$@$s%^%s%M%j2=$7$F$-$F$$$k$h$&$J5$$,$7$^$9!#2L$?$7$F!"$3$l$G$$$$$N$G$7$g$&$+(B?$B!#:#G/EY$O@'Kx$N3hF0$+$i0lJbA0?J$7$?3hF0$r9T$C$F$$$-$?$$$H9M$($F$$$^$9!#:#!"KM$?$A$NL\$NA0$KL$Mh$X$NHb$,$"$j$^$9!#$=$l$r3+$/$3$H$,=PMh$k$N$O$_$J$5$s<+?H$G$9!#$3$N%9%m!<%,%s$K$O!V1|Cf@8$,0l4]$H$J$C$F?7$?$JNr;K$rC[$-L$Mh$X$NHb$r3+$3$&!W$H$$$&;W$$$,$3$a$i$l$F$$$^$9!#(B</p>

<h3><a name="slogan_kekka">$BEjI<7k2L(B</a></h3>

<ul>
  <li>a$B0F(B&nbsp; 527$BI<(B</li>
  <li>b$B0F(B&nbsp; 117$BI<(B</li>
</ul>

<p>$B$h$C$F!"J?@.(B11$BG/EY@8EL2qG/4V%9%m!<%,%s$O(Ba$B0F$N!V(B99' 
$B1|Cf%S%C%0%P%s(B 
$B!A:#$3$N=V4V$K@8$^$lJQ$o$k!A!W$K7hDj$7$^$7$?!#(B</p>

<h3><a name="slogan_chuu">$BCp(B</a></h3>

<p> $BIaDL@>NqFs7eI=5-$O!V(B'99$B!W$H$9$k$,!"8m$C$?!V(B99'$B!W$,@8ELAm2q$G>5G'$5$l$?$?$a!"$3$A$i$,@5<0$J$b$N$G$"$k!#(B</p>

<h2><a name="nenkan">$BJ?@.(B11$BG/EY@8EL2q3hF0G/4V7W2h(B</a></h2>

<ul>
  <li><a href="plan">$B@8EL2qG/4V7W2h0F(B</a> (<a href="plan.ja.doc">Microsoft Word</a> 55.00kilo-octets; <a href="plan.ja.pdf">PDF</a> 84.72kilo-octets) ($B@8ELA40w$KG[I[(B)</li>
  <li><a href="nenkan">$B@8EL2qG/4V7W2h0F$r0l$D$NBg$-$JI=$H$7$?$b$N(B</a> (<a href="nenkan.ja.doc">Microsoft Word</a> 33.00kilo-octets; <a href="nenkan.ja.html">HTML</a> 16.31kilo-octets) ($B;29M(B)</li>
</ul>

<p> $BB3$$$F@8EL2qG/4V7W2h$N?35D$,9T$o$l$^$7$?!#(B</p>

<p> $B@8EL2q<99TIt$h$j860F$N@bL@$,9T$o$l$?8e!"<A5?1~Ez$7$^$7$?!#(B</p>

<p> $B@'Kx860F$N@bL@$O@lLg0Q0w2q$4$H$K9T$o$l$F$-$^$7$?$,!":#2s$h$j!V2#$N$D$J$,$j!W$r=E;k$7!"4|$4$H$K@bL@$7$^$7$?!#(B 

<p> $B<A5?1~Ez$G$O!"(B3$BG/@8?tL>$h$j<ALd$,=P$5$l$^$7$?$,!"A0G/EY!&A0!9G/EY$KHf3S$7$F$b>/$J$/!"3h5$$K7g$1$?@8ELAm2q$G$7$?!#(B<br>
 $B$7$+$7$3$l$O!"7h$7$F@8EL$N4X?4$,Dc$+$C$?$N$G$O$J$/!"<99TItB&$N@bL@$,NI$+$C$?$+$i$G$"$m$&!"$H$NI>$rD:$-$^$7$?!#(B</p>

<p> $B7k6I!"G/4V7W2h$O860FDL$j>5G'$5$l$^$7$?!#(B 

<h2><a name="gf">Good Friends $B1?F0$X$NDs8@(B</a></h2>

<p><img src="../tsuruki-mini" alt="$B@8EL2qD9(B ($B@8ELAm2q$K$F(B)" style="width: 102px; height: 137px; float: left" />$B<!$K!"DaMh@8EL2qD9$h$j!"(B<a href="../gf/">$B:#G/EY$N(BGoodFriends$B1?F0(B</a>$B$X$NDs8@$,$"$j$^$7$?!#(B</p>

<p>$BFbMF$d0l?M>N$NA*Br$r$a$0$C$F?'!9$"$j$^$7$?(B($B>P(B)$B!#$=$N$;$$$+!"7k6I2?$r8@$$$?$+$C$?$N$+NI$/J,$+$i$J$$Ds8@$K$J$C$F$7$^$C$?$H$$$&$N$,I.<T(B ($B<cMU(B) $B$N8D?ME*$J46A[$G$"$j$^$9$,!&!&!&!#(B</p>
<!--
<p> GF$B1?F0$N8+D>$7$K$h$C$F@8EL2q3hF0A4BN$N99$J$kH/E8$rL\;X$9$3$H$rL\E*$H$7$?Ds8@$@$C$?(B(?)$B$O$:$J$N$G$9$,!">eIt$K$h$k(B&quot;$B8!1\(B&quot;$B$K$h$C$FB?$/$,=q$-49$($i$l!"$b$O$d2?$r8@$$$?$+$C$?$N$+$o$+$i$J$$!"$H$$$&$N$,%[%s%H$N$H$3$m$G$9!#(B</p>-->
<!--<p> $B2qD9K\?M$b!"$3$s$J$N8@$$$?$/$J$$!"$H1L$i$7$F$$$^$7$?!#(B</p>-->

<ul>
  <li><a href="kaichou-teigen">GoodFriends$B1?F0$X$NDs8@(B $B869F(B</a> (<a href="kaichou-teigen.ja.doc">Microsoft Word</a> 20.50kilo-octets; <a href="kaichou-teigen.ja.pdf">PDF</a> 75.55kilo-octets)</li>
</ul>

<address>
[<a href="/">/</a>] [<a href="../../">$B$*$/$A$e!#(B</a>/<a href="../">$BJ?@.(B11$BG/EYA04|(B</a>]
</address>
<div class="update">h11-10-23, 2001-07-31</div>
</body>
</html>
