<HTML lang="ja"><HEAD>
<title>$B1|Cf@8EL2q(B</title>
<meta name="keywords" content="$B1|Cf(B, $B@8EL2q(B, $B@lLg0Q0w2q(B">
<link href="../okuchuu-style" rel="stylesheet" type="text/css"></link>
<style type="text/css">
body {backgound-color: #dcffff; color: black}
h1  {text-align: center; font-size: 30}
p	{text-align: center}
hr	{width: 80%}
</style>
</HEAD>
<body>
<h1><span style="color: red">$B1|Cf@8EL2q(B</span>
<span style="color: #CCCC30">$B$N(B</span>
<span style="color: #008400">$B%Z!<%8(B</span>
<span style="color: #008488">$B$X(B</span>
<span style="color: blue">$B$h$&$3$=(B</span>
</h1><hr>

<p><ruby><rb>$B8=:_(B<rp>(<rt>$B$$$^(B<rp>)</ruby> $BKk$,>e$,$k(B
$B!A0l?M0l?M$,<g?M8x(B $B$D$/$j$"$2$h$&(B $B1|Cf$H$$$&IqBf$r!A(B<p>
<hr>

<p>$BJ?@.(B12$BG/EY$N@8EL2q$G$O!"!V(B<span style="color: red"><b>$B$_$s$J$G:n$k@8EL2q(B</b></span>$B!W(B<BR>
$B$H$$$&J}?K$r$b$H$K!">e5-$N@8EL2q%9%m!<%,%s$N85!"3hF0$r9T$C$F$$$^$9!#(B<br>
$B$3$N%5%$%H$G$O!"1|Cf$K$"$k!"(B10$B$N0Q0w2q$N3hF0$K$D$$$F@bL@$7$^$9!#(B<br>
$B2<5-$N$J$+$+$i!"8+$?$$$b$N$r$*A*$S2<$5$$!#(B<br><br></p>
<p>
<table><tr>
	<td><a href="zaimu.html">$B:bL3@lLg0Q0w2q(B</a>
	<td><a href="koho.html">$B9-Js@lLg0Q0w2q(B</a>
	<td><a href="bunka.html">$BJ82=@lLg0Q0w2q(B</a>
	<td><a href="kouki.html">$B9;5,@lLg0Q0w2q(B</a><tr>
	<td><a href="hoken.html">$BJ]7r@lLg0Q0w2q(B</a>
	<td><a href="sesobika.html">$B@6A]H~2=@lLg0Q0w2q(B</a>
	<td><a href="tosyo.html">$B?^=q@lLg0Q0w2q(B</a>
	<td><a href="kyusyoku.html">$B5k?)@lLg0Q0w2q(B</a><tr>
	<td><a href="taiiku.html">$BBN0i@lLg0Q0w2q(B</a>
	<td><a href="hosi.html">$BJt;E@lLg0Q0w2q(B</a>
</table><br></p><hr><BR><BR><BR>

<ul><li>$B@8EL2q3hF0$K4X$9$k$40U8+$O!"(B
<a href="okutyuu.tripod.co.jp/">$B?7L\0BH"(B</a>$B$NJ}$G<u$1IU$1$F$*$j$^$9!#(B
<li>$B$40U8+!"$4<ALd$O!"(B<a href="mailto:okutyuu@lycos.ne.jp">$B@8EL2qC4Ev(B</a>$B$^$G$*4j$$$7$^$9!#(B
<li><a href="http://www.tym.ed.jp/sc259/index.html">$B1|EDCf3X9;%&%'%V%5%$%H(B</a></ul>

<hr>

<div id="event">

<h2>$B9T;v$J$I(B</h2>

<ul>
	<li><a href="soukai/">$B@8ELAm2q(B</a></li>
	<li><a href="sf54/">$BBh(B54$B2sBN0iBg2q(B</a></li>
</ul>

</div>

<address>
[<a href="/">/</a><a href="../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>]
</address>
<div class="update">2001-09-02</div>
</body>
</html>
