<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="/okuchuu/style/simpledoc" media="all"?>
<?xml-stylesheet href="#style" media="all"?>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$BJ?@.(B11$BG/EYBh(B3$B3XG/9g>'%3%s%/!<%k(B @ $B$*$/$A$e!#(B</title>
<link rel="up" href="../" />
<link rev="made" href="mailto:okuchuu@suika.fam.cx" />
<link rel="copyright" href="../../../c" />
<meta name="keywords" content="$B$*$/$A$e!#(B, $B9g>'%3%s%/!<%k(B, $B9g>'%3%s(B, $B9g>'%3(B, $B%3!<%i%9%3%s%/!<%k(B, $B2N(B, $B2;3Z(B" />
<link rel="stylesheet" href="/okuchuu/style/simpledoc" media="all" />
<style type="text/css" media="all" id="style">
.speaker	{text-align: right}
.photo	{float: right}
h2	{clear: both}
cite {
	font-style: normal;
}
cite:before {
	content: "$B!X(B";
}
cite:after {
	content: "$B!Y(B";
}
</style>
</head>
<body>
<h1>$BJ?@.(B11$BG/EYBh(B3$B3XG/9g>'%3%s%/!<%k(B</h1>

<dl>
<dt>$B%9%m!<%,%s(B</dt>
	<dd>$BE7$^$GFO$1(B $B;W$$$r9~$a$F(B $B"v(B Let's sing together $B"v(B</dd>
<dt>$BF|;~!&>l=j(B</dt>
	<dd>1999$BG/(B10$B7n(B27$BF|(B5$B!&(B6$B8B(B $B1|EDCf3X9;BN0i4[(B</dd>
<dt>$B2]Bj6J(B</dt>
	<dd>$BAH6J(B<cite>$BCOJ?@~$NH`J}$X(B</cite>$B$h$j(B<cite>$B=U$K(B</cite></dd>
</dl>

<h2>$B$O$8$a$N8@MU(B</h2>

<blockquote>
<p>$B$_$J$5$s!":#F|$OCf3X9;@83h:G8e$N9g>'%3%s%/!<%k$G$9!#(B
$B3F%/%i%9(B $BD+!&J|2]8e$NN}=,$r@Q$_=E$M!"<+J,$G$b$S$C$/$j$9$k$h$&$J(B
$B2N@<$rB$$j=P$;$?$H;W$$$^$9!#(B</p>
<p>$B:#F|$O!":#$^$G$NN}=,$N@.2L$r==J,$KH/4x$7!"(B
$BBN0i4[$$$C$Q$$$K6A$+$;$^$7$g$&!#(B</p>
<p>$B:G8e$KJ]8n<T$N3'MM!":#F|$O$h$&$3$=$$$i$C$7$c$$$^$7$?!#(B
$B:G8e$^$G$f$C$/$j$H$*J9$-$/$@$5$$!#(B</p>
</blockquote>
<div class="speaker">3$BG/3XG/BeI=(B $BBgFb?pLZ(B</div>

<h2 id="c1">3$BG/(B1$BAH(B</h2>

<p>$BKMC#(B3$BG/(B1$BAH$O!"D+$HJ|2]8e$N;~4V$rM-0U5A$K;H$C$F(B
$B0l@87|L?4hD%$C$F$-$^$7$?!#:G=i$O%/%i%9$,$^$H$^$i$:!"(B
$BN}=,$K$J$i$J$+$C$?$H$-$b$"$j$^$7$?$,!":G6a$G$O!"(B
$B%/%i%9A4BN$,0lBN$K$J$C$F$H$F$b$$$$%`!<%I$GN}=,$r$7$F$-$^$7$?!#(B</p>
<p>$B:#F|$O!":#$^$G$NEXNO$r(B 100% $B=P$7$F4hD%$j$^$9!#(B
$B$_$J$5$s(B1$BAH$N=8Bg@.$N2N@<$rJ9$$$F$/$@$5$$!#(B</p>

<dl>
<dt>$B2]Bj6J(B<cite>$B=U$K(B</cite></dt>
	<dd>$B;X4x(B $B2.ED7=(B</dd>
	<dd>$BH<AU(B $BM-BtAa0*;R(B</dd>
<dt>$B<+M36J(B<cite>$B$b$($kNP$r$3$3$m$K(B</cite></dt>
	<dd>$B;X4x(B $B;3FbfF(B</dd>
	<dd>$BH<AU(B $B3QH*;VJf(B</dd>
</dl>

<h2 id="c6">3$BG/(B6$BAH(B</h2>

<div class="figure"><img src="6-01" alt="3$BG/(B6$BAH$N9g>'(B" class="photo" /></div>
<p>$B;dC#(B6$BAH$O!"D+$dJ|2]8e$NN}=,$r$h$jM-8z$K;H$&$?$a(B
40$B?MA40w$,=8Cf$7!"=PMh$k8B$j$N$3$H$r0l@87|L?$K$7$F$-$^$7$?!#(B
$B$=$N@.2L$b$"$j%=%W%i%N$b9b$$@<$,=P$k$h$&$K$J$j$^$7$?!#(B
$B$^$?%"%k%H$bBg$-$J@<$,=P$k$h$&$K$J$j!"(B
$BCK@<$O%F%J!<$H%P%9$,J,$+$l$F$b<+J,C#$N2;$,<h$l$k$h$&$K$J$j$^$7$?!#(B</p>
<p>$B:#F|$O!";dC#$,:#$^$GN}=,$7$F$-$?@.2L$r==J,$KH/4x$7!"(B
$BH~$7$$2N@<$rBN0i4[$$$C$Q$$$K6A$+$;$^$9!#(B</p>

<dl>
<dt>$B2]Bj6J(B<cite>$B=U$K(B</cite></dt>
	<dd>$B;X4x(B $B>.NSH~=o(B</dd>
	<dd>$BH<AU(B $BDEED@$N$9a(B</dd>
<dt>$B<+M36J(B<cite>$B$R$H$D$ND+(B</cite></dt>
	<dd>$B;X4x(B $BIz4V@551(B</dd>
	<dd>$BH<AU(B $BLx66Dw;R(B</dd>
</dl>

<h2 id="c2">3$BG/(B2$BAH(B</h2>

<p>$B2f$i(B 3$B$N(B2 $BLZARAH(B39$BL>$O!"!H0l@<F~:2!I(B $B!A6A$19;<K$K$o$l$i$N2N@<!A(B
$B$r$b$H$K3F%Q!<%H$4$H$KN}=,$r=E$M:GM%=(>^$r<hF@$9$k$?$a$K!"(B
$BD+J|2]8e6&$K(B1$B?M(B1$B?M$,A4NO$r?T$/$7$F$3$N9g>'%3%s%/!<%k$KK>$s$G$-$^$7$?!#(B</p>
<p>$B$=$7$F:#!"$3$N>l$G;d$?$A$N@.2L$rH/4x$7(B Great $B$J2N@<$rJ9$$$F2<$5$$!#(B
$B$d$j$^$9(B! 3$B$N(B2$B$H$j$^$9(B! $B:GM%=(>^!"J9$+$;$^$9(B
Beautiful $B$J%O!<%b%K!<!#$=$l$G$OJ9$$$F2<$5$$!#(B</p>

<dl>
<dt>$B3X5i%9%m!<%,%s(B</dt>
	<dd>$B!H0l@<F~:2!I(B $B!A6A$19;<K$K$o$l$i$N2N@<!A(B</dd>
<dt>$B2]Bj6J(B<cite>$B=U$K(B</cite></dt>
	<dd>$B;X4x(B $BBg>lH~1{(B</dd>
	<dd>$BH<AU(B $BF#0fKc0a;R(B</dd>
<dt>$B<+M36J(B<cite>$B@DMU$N2N(B</cite></dt>
	<dd>$B;X4x(B $B3kEg3(M|9a(B</dd>
	<dd>$BH<AU(B $BF#0fKc0a;R(B</dd>
</dl>


<h2 id="c5">3$BG/(B5$BAH(B</h2>

<p>$B;dC#(B5$BAH$O!"<+M36J$G?4$NF7$r2N$$$^$9!#(B</p>
<p>$B2N;l$NCf$K!"(B<q>$B$$$D$+<c$5$r<:$/$7$F$b!"(B
$B?4$@$1$O!"7h$7$FJQ$o$i$J$$e+$G7k$P$l$F$k(B</q>$B$H$$$&;l$,$"$j$^$9!#(B
$B;dC#$N?4$b!"0l@8e+$G!H7k$P$l$k!I$h$&$K!"(B
$B?4$r0l$D$K$7$F2N$$$^$9!#Kt!"$3$N6J$rDL$7$F!"(B
$B55AR@h@8$N@D=U$r!"a4$i$;$h$&$H;W$$$^$9!#$I$&$>!"55AR@h@8!"(B
$B$=$7$F$_$J$5$s!":G8e$^$G$*J9$-2<$5$$!#(B</p>

<dl>
<dt>$B2]Bj6J(B<cite>$B=U$K(B</cite></dt>
	<dd>$B;X4x(B $BD.EDMN;R(B</dd>
	<dd>$BH<AU(B $B9b662VNS(B</dd>
<dt>$B<+M36J(B<cite>$B?4$NF7(B</cite></dt>
	<dd>$B;X4x(B $BLpEDItM42p(B</dd>
	<dd>$BH<AU(B $BBgFb?pLZ(B</dd>
</dl>

<h2 id="c3">3$BG/(B3$BAH(B</h2>

<p>$B$3$s$K$A$O(B!! 3-3 $BKY2H$G$9!#2f$i!"KY2H$OBg9uCl!&(B
$BKY@h@8$HCD7kNO$P$C$A$j$N(B40$BL>$G$3$N9g>'%3%s%/!<%k$K8~$1$FN}=,$7$F$-$^$7$?!#(B
$BESCf$GN}=,$,%$%d$K$J$C$FEj$2=P$7$?$/$J$k$3$H$b$"$j!"(B
$B;~$K$O@h@8$KE\$i$l$?$j$H:#F|$^$G$N(B1$B%v7n4V$OBgJQ$G$7$?$,(B
$B:#F|$O$=$l$r>h$j1[$($F$-$?(B 3-3 $B%Q%o!<$G$,$s$P$j$^$9!#(B</p>
<p><q>$BKY2H2H71(B $B4j$$$O(B1$B$D$G$9(B!</q>$B$N$H$*$j(B40$BL>$,:GM%=(>^L\;X$7$F(B
$B$3$NBN0i4[Cf$K2N@<$r6A$+$;$^$9!#(B</p>

<dl>
<dt>$B2]Bj6J(B<cite>$B=U$K(B</cite></dt>
	<dd>$B;X4x(B $BC]Eg9(H~(B</dd>
	<dd>$BH<AU(B $B5HK\6,;R(B</dd>
<dt>$B<+M36J(B<cite>$B$b$($kNP$r$3$3$m$K(B</cite></dt>
	<dd>$B;X4x(B $BH+;39/B'(B</dd>
	<dd>$BH<AU(B $B4d0fH~<w!9(B</dd>
</dl>

<h2 id="c4">3$BG/(B4$BAH(B</h2>

<p>$B;dC#(B4$BAH$O:GM%=(>^$r>!$A<h$k$?$a$K1F$N;XF3<T5\OF@h@8$N;XF3$N$b$H!"(B
$B$3$l$^$G0l@87|L?0L4hD%$C$F$-$^$7$?!#(B</p>
<p>$B:#F|$O(B<cite>$B=U$K(B</cite>$B!&(B<cite>$B?4$NF7(B</cite>$B$3$N(B2$B6J$rDL$7$F:#$^$G$NN}=,$N@.2L$r(B
$BH/4x$7$^$9!#(B</p>
<p>$B$_$J$5$s!"$<$R;dC#$NAG@2$i$7$$2N@<$rD0$$$F2<$5$$!#(B</p>
<p>$B$=$7$F!"5\OF@h@8!";dC#$,:GM%=(>^$r<h$l$k$h$&(B
$B?4$NCf$G5'$C$F$$$F2<$5$$!#(B</p>

<dl>
<dt>$B2]Bj6J(B<cite>$B=U$K(B</cite></dt>
	<dd>$B;X4x(B $BEDCfAo(B</dd>
	<dd>$BH<AU(B $BHSED7CK>h=(B</dd>
<dt>$B<+M36J(B<cite>$B?4$NF7(B</cite></dt>
	<dd>$B;X4x(B $BFs8}A19T(B</dd>
	<dd>$BH<AU(B $BHSED7CK>h=(B</dd>
</dl>

<h2 id="ending">$B=*$o$j$N8@MU(B</h2>

<blockquote>
<p>$B$_$J$5$s!":#F|$N9g>'%3%s%/!<%k$O$I$&$G$7$?$+(B?</p>
<p>$BCf3X9;@83h:G8e$N9g>'%3%s%/!<%k$O!"(B
$B$H$F$b;W$$=P$K;D$k$b$N$K$J$C$?$H;W$$$^$9!#(B</p>
<p>$B$^$?!"$I$N%/%i%9$b!"$h$jNI$$2N@<$K$9$k$?$a$K!"(B
$BN}=,$r@Q$_=E$M$F$-$?@.2L$,!"==J,$KH/4x$5$l$F$$$?$H;W$$$^$9!#(B</p>
<p>$B$3$N9g>'%3%s%/!<%k$G9b$a$?%/%i%9$NCD7kNO$d!"(B
$B6(NO@-$J$I$r!"$3$l$+$i$N3X9;@83h$K$b@8$+$7$F$$$-$^$7$g$&!#(B</p>
</blockquote>

<h2 id="all">$BA40w9g>'(B</h2>

<div class="figure"><img src="photo/all-01" alt="$BA40w9g>'(B" style="width: 256px; height: 192px" class="photo" /></div>
<dl>
<dt><cite>$B=U$K(B</cite> ($B2]Bj6J(B)</dt>
<dt xml:lang="ja-JP-tym"><cite><a href="../../../about/kouka">$B1|EDCf3X9;9;2N(B</a></cite> (1$BBjL\!&(B3$BBjL\(B)</dt>
	<dd><a href="kouka.ja.mp3" hreflang="ja" type="audio/mpeg">(<abbr>MP3</abbr> $B7A<0(B, 64<abbr>kbps</abbr>, 747<abbr>ko</abbr>)</a></dd>
	<dd><a href="kouka-451kbps.ja.mp3" hreflang="ja" type="audio/mpeg">(<abbr>MP3</abbr> $B7A<0(B, 451<abbr>kbps</abbr>, 1.99<abbr>Mo</abbr>)</a></dd>
</dl>

<h2 id="result">$B7k2L(B</h2>

<dl>
<dt>$B:GM%=(>^(B</dt>
	<dd><a href="#c3">3$BG/(B3$BAH(B</a></dd>
	<dd><a href="#c6">3$BG/(B6$BAH(B</a></dd>
</dl>

<p>$B:GM%=(>^<u>^%/%i%9$O1|CfAOB$E8$G$b2N$$$^$7$?!#(B</p>

<h2 id="cd">$BB46H5-G0(B CD</h2>

<dl>
<dt>$BO?2;!&@=:n(B</dt>
	<dd>($BM-(B) $B%_%e!<%:!&%(%s%?!<%F%$%s%a%s%H(B</dd>
<dt>$BF|K\2;3ZCx:n8"6(2q(B($BO?2;(B)$B5vBz(B</dt>
	<dd>R-0010091</dd>
<dt>$BI=;f%G%6%$%s(B</dt>
	<dd>$B;3:j@;(B (<a href="../shasei.s/">$B<L@82q(B</a>$B$K$F(B)</dd>
</dl>

<address>
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>
<a href="../../">$BJ?@.(B11$BG/EY(B</a> <a href="../" rel="index">$BBh(B3$B3XG/(B</a>]
</address>
<div class="update">2002-02-28, $Date: 2004/05/02 03:34:58 $</div>
</body></html>
