<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<HTML lang="ja"><HEAD>
<TITLE>$BIY;3;TN)1|EDCf3X9;(B</TITLE>
<Meta name="keywords" content="$B1|Cf(B, $B1|EDCf3X9;(B, $B%N!<%A%c%$%`(B">
<link href="../okuchuu-style" rel="stylesheet" type="text/css">
<link rel="back" href="okuda-jhs">
<link rel="next" href="../2000z/">
<style type="text/css">
body	{background-color: #EAEABB}
h1, p	{text-align: center}
hr	{width: 80%}
#okuchuu  {text-indent: 0}
#okuchuu img   {text-align: center; width: 300px; height: 200px}

address	{text-align: right; border-style: none}
address.revision	{text-align: center; font-size: 20}
address.admin	{}
</style>
</HEAD>
<Body>

<h1>
<IMG style="height: 100px; width: 450px" src="001.gif" alt="$BIY;3;TN)1|EDCf3X9;(B $B%&%'%V%5%$%H(B">
</h1>

<p id="okuchuu">
<img src="x-picture.jpg" alt="$B2>(B">
</p>

<address class="revision">
$B:G=*2~DjF|(B2000/*/*(*)
</address>

<p>
<!-- <A Href="seito/index.html"> -->
<a href="../2000z/" rel="next">
$B@8EL2q3hF0(B</A><Br><Br>
$B@8EL2q:n@.$N@8EL2q3hF0Ey$K$D$$$F$G$9!#(B<Br><Br>

<A Href="gaiyou.html">
$B3X9;$N35MW(B</A><Br><Br>
$B3X9;$N35MW$G$9(B<Br><Br>

<A Href="YearEvent.html">
$BG/4V9T;vM=Dj(B</A><Br><Br>
$B3X9;$NG/4V9T;vM=Dj$G$9(B<Br><Br>

<address class="admin">
$B4IM}C4Ev(B<a href="mailto:okuda-jhs@tym.ed.jp">
okuda-jhs@tym.ed.jp</a><BR>
</address>

<p>$BCm(B: $B$3$N;q8;$O8=:_!"(B<a href="../">$BEA@b$N$*$/$A$e!#(B</a>$B%A!<%`$K$h$j4IM}$5$l$F$$$^$9!#(B</p>

<address>
[<a href="/">/</a><a href="../">$BEA@b$N$*$/$A$e!#(B</a>]
</address>
<div class="update">
2001-09-02
</div>
</Body>
</html>
