<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<HTML lang="ja"><HEAD>
<TITLE>$BIY;3;TN)1|EDCf3X9;(B</TITLE>
<Meta name="keywords" content="$B1|Cf(B, $B1|EDCf3X9;(B, $B%N!<%A%c%$%`(B">
<link href="../okuchuu-style" rel="stylesheet" type="text/css">
<style type="text/css">
body	{background-color: #EAEABB}
p	{text-align: center}
hr	{width: 80%}
#okuchuu	{text-indent: 0}
#okuchuu img	{text-align: center; width: 100px; height: 100px}

address, ul.admin	{text-align: right; border-style: none}
address.revision	{}
address.admin	{}
</style>
</HEAD>
<body>
<h1>
<IMG style="height: 100px; width: 450px" src="001.gif" alt="$BIY;3;TN)1|EDCf3X9;(B $B%&%'%V%5%$%H(B">
</h1>

<!-- $B2>2hA|(B -->
<p id="okuchuu">
<img src="../1998k/Nauprint.gif" alt="$B2>(B">
</P>

<!-- $B2>L\<!(B -->
<p><a href="file00.html">$BL\<!(B</a></p>


<address class="revision">
$B:G=*2~DjF|(B2000/*/*(*)
</address>

<ul class="admin">
	<li>$B4IM}(B: <a href="mailto:okuda-jhs@tym.ed.jp">okuda-jhs@tym.ed.jp</a></li>
	<li>$B9;D9(B: <a href="mailto:aratani-susumu@tym.ed.jp">aratani-susumu@tym.ed.jp</a></li>
</ul>

<p>$BCm(B: $B$3$N;q8;$O8=:_!"(B<a href="../">$BEA@b$N$*$/$A$e!#(B</a>$B%A!<%`$K$h$j4IM}$5$l$F$$$^$9!#(B</p>

<address>
[<a href="/">/</a><a href="../">$BEA@b$N$*$/$A$e!#(B</a>/<a href="./">$BJ?@.(B12$BG/EY(B</a>]
</address>
<div class="update">
2001-09-02
</div>
</body>
</html>
