
<div>

<h1><span class="red">$BBh(B 1 $B3XG/(B</span>$B=IGq3X=,(B</h1>

<h2>$B>l=j(B</h2>

<p><a href="http://www.vill.yamada.toyama.jp/~child.v/">$BIY;3;TLn30650i3hF0%;%s%?!<!VIY;3;T;R$I$b$NB<!W(B</a> (<a href="http://www.vill.yamada.toyama.jp/">$B;3EDB<(B</a>))</p>

<h2>$B<B;\F|;~(B</h2>

<p>$BJ?@.(B9(1997)$BG/(B10$B7n:"(B($B$@$C$?$H;W$&(B)$B!#(B</p>

<h2>$B!V$"$j$,$H$&(B!$B%+!<%I!W%3%l%/%7%g%s(B</h2>

<p><img src="thanks-1" alt="$B$"$j$,$H$&(B!$B%+!<%I(B"><img src="thanks-2" alt="$B$"$j$,$H$&(B!$B%+!<%I(B"><img src="thanks-3" alt="$B$"$j$,$H$&(B!$B%+!<%I(B"><img src="thanks-4" alt="$B$"$j$,$H$&(B!$B%+!<%I(B"></p>

</div>
