<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<title>$B1|Cf(B CD-ROM '99</title>
<link rel="stylesheet" href="../../okuchuu-style" />
<link rev="made" href="mailto:w@suika.fam.cx" />
<link rel="copyright" href="../../c" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|Cf(B, $B@8EL2q(B, CD-ROM, $B9-Js@lLg0Q0w2q(B" />
</head>
<body>
<h1><a href="../../"><img class="minilogo" src="../../logo" alt="$B$*$/$A$e!#(B" /></a>$B1|Cf(B CD-ROM '99</h1>

<p><img src="cover-mini" style="float: left; padding: .3em" alt="CD $B%1!<%9!&%+%P!<<L??(B" />$B!X1|Cf(B CD-ROM '99$B!Y(B ($BN,>N(B $B1|Cf(BCD99) $B$O!"(B<a href="../">$BJ?@.(B11$BG/EYA04|@8EL2q(B</a>$B$N8y@S$r>N$($k$?$a$K(B($B13(B)$B@):n$5$l$?(B CD-ROM $B$G$9!#(B</p>

<blockquote title="$B1|Cf(BCD99 $B$N(B INDEX.HTM $B$h$j(B" cite="urn:x-suika-fam-cx:okuchuu:1999:z:cd:/INDEX.HTM">
<p>$B@'Kx!"5!3#@):n=qN`$O$=$N85%G!<%?$,;H$$<N$F$N$?$aKhG/F1$8J*$r:n$jD>$7$?$j$7$F$$$^$7$?$,!"$3$N(B CD-ROM $B$K$h$jL5BL$J<j4V$,>J$1!"3hF0$N3K$NItJ,$K$h$jNO$rF~$l$i$l$k$b$N$H4|BT$7$F$$$^$9!#(B
</p>
</blockquote>

<p>$B1|Cf(B CD-ROM '99 $B$K$O!"C4Ev<T$,;~4V$N5v$98B$j6n$12s$j(B($B8XD%(B)$B!"(B
$B@8EL2qLr0w$r4^$`B?$/$NJ}!9$N6(NO$rF@$F=8$a$?5!3#2DFI7A<0$N;qNA$d<L??$J$I$,<}O?$5$l$^$7$?!#(B
$B$7$+$7!"4{$KGK4~$5$l$F<}O?$G$-$J$+$C$?=qN`$b>/$J$/$"$j$^$;$s$G$7$?!#(B</p>

<p>$B$^$?!"JT=8<T$N<j85$K$"$C$?Hs5!3#2DFI7A<0$NJ8=q$rFI$_<h$j5!$r;HMQ$7$F5!3#2DFI2hA|$H$7!"<}O?$7$^$7$?!#$3$N:n6H$KEv$?$C$F$O(B<a href="../../personal-computer/">$B1|Cf%Q%=%3%sIt(B</a>$B$NB?Bg$J6(NO$rF@$^$7$?!#(B</p>

<p>$B1_HW(B1$B$K$O!"(B<a href="../">$BJ?@.(B11$BG/EYA04|@8EL2q(B</a>, 
<a href="../sf53/">$BBh(B53$B2sBN0iBg2q(B</a>, 
<a href="../nochime/">$B%N!<%A%c%$%`4XO"3hF0(B</a>$B$rCf?4$H$7$FBgNL$N;qNA$r<}O?$7$^$7$?!#(B</p>

<p>$B1_HW(B2$B!&1_HW(B3$B$K$O!"9;FbJ|Aw$G$NMxMQ$r$bG0F,$K$*$$$F9;2N$d9g>'%3%s%/!<%k4XO"6J$J$I$N2;3Z%H%i%C%/5Z$S1_HW(B1$B$NJd0d$r<}O?$9$kM=Dj$G$7$?$,!";~4V$N4X78$G<B8=$7$^$;$s$G$7$?!#(B</p>

<p>$B1|Cf(B CD-ROM '99 $B1_HW(B1$B$NFbMF$dJd0d<}O?M=Dj$@$C$?;qNA$r:F$S@0M}$7!"99$K?7$?$J;qNA$r$bDI2C$7$F(B Web $B%5!<%P!<$KCV$$$F8x3+$9$k!X(B<a href="../../">$BEA@b(B($BFf(B)$B$N$*$/$A$e!#(B</a>$B!Y7W2h$,8=:_?J$a$i$l$F$$$^$9!#(B</p>

<p>$B1|Cf(B CD-ROM '99 $B1_HW(B1 $B$OJ?@.(B11$BG/(B10$B7n$KBh(B1$B:~(B, 11$B7n$KBh(B2$B:~$,4)9T$5$l$^$7$?!#F1G/(B12$B7n$K$OBh(B3$B:~(B($B:G=*HG(B)$B5Z$S1_HW(B2$B!&(B3$B$,4)9T$5$l$kM=Dj$G$7$?!#(B</p>

<p>$B1|Cf(B CD-ROM '99 $B$NJ#@=<BHqHRI[$O=*N;$7$^$7$?!#(B</p>

<p>$B$H$3$m$G!"1|Cf@8EL2q4XO"$N(B CD $B$,JT=8$5$l$k$N$O$3$l$,=i$a$F$G$O$"$j$^$;$s!#J?@.(B11$BG/(B4$B7n$K(B<a href="../../1998k/">$BJ?@.(B10$BG/EY8e4|@8EL2q(B</a>$B$K$h$kJ?@.(B11$BG/EY@8EL2qF~2q<0$N(B CD $B$,@):n$5$l$F$$$^$9!#(B</p>

<h2><a href="cover">CD $B%1!<%9$N;f(B</a>($BFf(B)</h2>

<ul>
	<li><a href="cover.ja.png" type="image/png" hreflang="ja" title="CD $B%1!<%9$N;f(B (PNG image)">PNG</a> 222kilooctets</li>
</ul>

<h2 id="CD.TXT">$B1|Cf(BCD99 $B=j<}(B <code>/CD.TXT</code></h2>

<blockquote cite="urn:x-suika-fam-cx:okuchuu:1999:z:cd:/CD.TXT">
<pre>
$BIY;3;TN)1|EDCf3X9;J?@.(B11$BG/EYA04|@8EL2q;qNA(B
$B1|Cf(BCD-ROM '99

$B%G%#%9%/(B1

product ID : AXKSJ-RKANA-TNFIF-ANIGG-NFDSK-ISDDN
CD key     : SJUJF-SJGIG-MFDVD

$B%m%C%H(B1    h11-10-30
</pre>
</blockquote>

<address>[<a href="/">/</a>] [<a href="../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a> <a href="../" rel="contents index">$BJ?@.(B11$BG/EYA04|@8EL2q(B</a>]</address>
<div class="update">2001-06-23, 2002-03-07</div>
<div class="uri">&lt;urn:x-suika-fam-cx:okuchuu:1999:z:cd:&gt;</div>
</body></html>
