<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="/s/default/xhtml1+2"?>
<?xml-stylesheet href="../style/simpledoc"?>
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml"
                    xmlns:h2="http://www.w3.org/2002/06/xhtml2">
<head>
<title>$BIY;3;TN)1|EDCf3X9;9;2N(B</title>
<link rev="made" href="mailto:okuchuu@suika.fam.cx" />
<link rel="contents" href="../" />
<link rel="copyright" href="../c" />
<link rel="alternate" href="kouka.ja.html" hreflang="ja" type="text/html" />
<meta name="keywords" content="$B1|Cf(B, $B9;2N(B, $B@D1@(B" />
<meta name="description" content="$B$*$/$A$e!#$N9;2N$N>R2p!#(B" />
</head>
<h2:body>
<h2:h>$BIY;3;TN)1|EDCf3X9;9;2N(B</h2:h>

<address>
$B!|DMED(B $BD9IW(B/$B:n;l!|D9G=9/CK(B/$B:n6J!|(B
</address>

<ol>

<li>
<h2:l>$B@D1@9b$/(B $BIw9a$k(B</h2:l>
<h2:l>$BJ8$h$`Ak$N(B $BD+M<$r(B</h2:l>
<h2:l>$BGr@c8w$k(B $BN);3$K(B</h2:l>
<h2:l>$B5W1s$N$5$H$7(B $B6D$.$_$k(B</h2:l>
<h2:l>$B2fEy$,9T$/$F(B $B4uK>$"$j(B</h2:l>
</li>

<li>
<h2:l>$B7n1F=I$7(B $B2VIb$+$Y(B</h2:l>
<h2:l>$B65$($NDm$N(B $B=U=)$r(B</h2:l>
<h2:l>$B$a$0$k@V9>$N(B $B@n$NLL$K(B</h2:l>
<h2:l>$B@6$-$$$i$+$N(B $B1F$&$D$9(B</h2:l>
<h2:l>$B2f$,3X$S<K$K(B $B1I$($"$j(B</h2:l>
</li>

<li>
<h2:l>$B?7$7$-Be$N(B $B6G$K(B</h2:l>
<h2:l>$B<+M3$N>b$r(B $B$&$ALD$i$7(B</h2:l>
<h2:l>$B@$3&$X?J$`(B $B@hF,$r(B</h2:l>
<h2:l>$BF'$_9T$/(B $B1|EDCf3X$N(B</h2:l>
<h2:l>$B<c$-2fEy$K(B $B8X$j$"$j(B</h2:l>
</li>
</ol>

<h2:section>
<h2:h>$B;29M(B</h2:h>
<ul>
	<li>2$BBjL\$ODL>o2N$$$^$;$s!#(B ($B0-$$8@$$EA$($,$"$k$H$N@b$b$"$j$^$9$,!"Dj$+$G$O$"$j$^$;$s!#(B) $B>/$J$/$F$b(B 1990$BG/Be8eH>$N1|Cf@8$G!"2N;l$r3P$($F$$$k?M$O$*$=$i$/$$$J$$$G$7$g$&!#(B</li>
	<li>2001$BG/$+$i(B2$BBjL\$b2N$&$h$&$G$9(B($BFf(B)$B!#(B</li>
</ul>
</h2:section>

<h2:section>
<h2:h>$B9;2N$rD0$/(B</h2:h>

<ul>
	<li><a href="../1998k/Kouka0.mid" xml:lang="en" type="audio/x-midi">MIDI format 0</a> ($B2N;lL5$7(B)</li>
	<li><a href="../1998k/Kouka1.mid" xml:lang="en" type="audio/x-midi">MIDI format 1</a> ($B2N;lL5$7(B)</li>
	
	<li><a href="../2000/kouka.mp3" type="audio/mpeg" hreflang="ja">MP3 $B7A<0(B</a> (<a href="../2000/">$BJ?@.(B13$BG/EY(B</a>$B$N9g>'It0w$K$h$k(B; 1$BBjL\$N$_(B) (102 <abbr title="kilooctets">ko</abbr>)</li>
	<li><a href="../1999/3/gasshou/kouka.ja.mp3" type="audio/mpeg" hreflang="ja">MP3 $B7A<0(B</a> (<a href="../1999/">$BJ?@.(B11$BG/EY(B</a><a href="../1999/3/" class="red">$BBh(B3$B3XG/(B</a>$B9g>'%3%s%/!<%kA40w9g>'(B CD $B$h$j%i%8%*DxEY$N2;<A(B
	(64<abbr>kbps</abbr>) $B$G:FO?2;(B; 1$BBjL\!&(B3$BBjL\$N$_(B) (747 <abbr title="kilooctets">ko</abbr>)</li>
	<li><a href="../1999/3/gasshou/kouka-451kbps.ja.mp3" hreflang="ja" type="audio/mpeg">MP3 $B7A<0(B</a>
	($BF1$8$/J?@.(B11$BG/EY(B<span class="red">$BBh(B3$B3XG/(B</span>$B9g>'%3%s%/!<%k$h$j(B,
	451<abbr>kbps</abbr>, 1.99<abbr>Mo</abbr>; 1$BBjL\!&(B3$BBjL\$N$_(B)</li>
</ul>

<p>$BCm(B: 
</p>
<ul>
	<li>MIDI $B7A<0$O$I$A$i$bF1$8FbMF!"(B 1$BBjL\$+$i(B 3$BBjL\$,F~$C$F$$$^$9!#%=%U%H%&%'%"%7%s%;%5%$%6!<$r$*;H$$$N>l9g$O(B 0 $B7A<0$r(B, $B%O!<%I%&%'%"(B MIDI$B2;8;$r$*;H$$$N>l9g$d3ZIh%G!<%?$N0u:~$O(B 1 $B7A<0$r$*4+$a$7$^$9!#(B</li>
	<li>$B9;2N$N(B MIDI $B2=$O(B 1998$BG/EY$K(B<a href="/~rei/" class="red">$BLo7uNm(B</a>$B;a$K$h$j9T$o$l$^$7$?!#(B</li>
</ul>
</h2:section>

</h2:body></html>
