<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$BIY;3;TN)1|EDCf3X9;9;2N(B</title>
<link rel="stylesheet" href="../okuchuu-style" />
<?xml-stylesheet href="../okuchuu-style" ?>
<link rev="made" href="mailto:w@suika.fam.cx" />
<link rel="contents" href="../" />
<link rel="copyright" href="../c" />
<link rel="alternate" href="kouka.ja.xhtml" hreflang="ja" type="application/xhtml+xml" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|Cf(B, $B9;2N(B, $B@D1@(B" />
<meta name="description" content="$B$*$/$A$e!#$N9;2N$N>R2p!#(B" />
<style type="text/css">
.info
	{text-align: right}
</style>
</head>
<body>
<h1><a href="../"><img class="minilogo" src="../logo" alt="$B$*$/$A$e!#(B" /></a>$BIY;3;TN)1|EDCf3X9;9;2N(B</h1>

<p class="info">
$B!|DMED(B $BD9IW(B/$B:n;l!|D9G=9/CK(B/$B:n6J!|(B
</p>

<ol>

<li>
$B@D1@9b$/(B $BIw9a$k(B<br />
$BJ8$h$`Ak$N(B $BD+M<$r(B<br />
$BGr@c8w$k(B $BN);3$K(B<br />
$B5W1s$N$5$H$7(B $B6D$.$_$k(B<br />
$B2fEy$,9T$/$F(B $B4uK>$"$j(B<br />
</li>

<li>
$B7n1F=I$7(B $B2VIb$+$Y(B<br />
$B65$($NDm$N(B $B=U=)$r(B<br />
$B$a$0$k@V9>$N(B $B@n$NLL$K(B<br />
$B@6$-$$$i$+$N(B $B1F$&$D$9(B<br />
$B2f$,3X$S<K$K(B $B1I$($"$j(B<br />
</li>

<li>
$B?7$7$-Be$N(B $B6G$K(B<br />
$B<+M3$N>b$r(B $B$&$ALD$i$7(B<br />
$B@$3&$X?J$`(B $B@hF,$r(B<br />
$BF'$_9T$/(B $B1|EDCf3X$N(B<br />
$B<c$-2fEy$K(B $B8X$j$"$j(B<br />
</li>
</ol>

<h2>$B;29M(B</h2>
<ul>
	<li>2$BBjL\$ODL>o2N$$$^$;$s!#(B ($B0-$$8@$$EA$($,$"$k$H$N@b$b$"$j$^$9$,!"Dj$+$G$O$"$j$^$;$s!#(B) $B>/$J$/$F$b(B 1990$BG/Be8eH>$N1|Cf@8$G!"2N;l$r3P$($F$$$k?M$O$*$=$i$/$$$J$$$G$7$g$&!#(B</li>
	<li>2001$BG/$+$i(B2$BBjL\$b2N$&$h$&$G$9(B($BFf(B)$B!#(B</li>
</ul>

<h2>$B9;2N$rD0$/(B</h2>

<ul>
	<li><a href="../1998k/Kouka0.mid" lang="en" type="audio/midi">MIDI format0</a></li>
	<li><a href="../1998k/Kouka1.mid" lang="en" type="audio/midi">MIDI format1</a></li>
	<li><a href="../2000/kouka.mp3" type="audio/mpeg" hreflang="ja">MP3 $B7A<0(B</a> (<a href="../2000/">$BJ?@.(B13$BG/EY(B</a>$B$N9g>'It0w$K$h$k(B; 1$BBjL\$N$_(B)</a> (102kilooctets)</li>
	<li><a href="../1999/3/gasshou/kouka.ja.mp3" type="audio/mpeg" hreflang="ja">MP3 $B7A<0(B</a> (<a href="../1999/">$BJ?@.(B11$BG/EY(B</a><a href="../1999/3/">$BBh(B3$B3XG/(B</a>$B9g>'%3%s%/!<%kA40w9g>'(B CD $B$h$j%i%8%*DxEY$N2;<A(B; 1$BBjL\!&(B3$BBjL\$N$_(B)</a> (747kilooctets)</li>
	<li><a href="../1999/3/gasshou/kouka-451kbps.ja.mp3" hreflang="ja" type="audio/mpeg">MP3 $B7A<0(B</a>
        ($BF1$8$/J?@.(B11$BG/EY(B<span class="red">$BBh(B3$B3XG/9g>'%3%s%/!<%k$h$j(B,
        451<abbr>kbps</abbr>, 1.99<abbr>Mo</abbr>; 1$BBjL\!&(B3$BBjL\$N$_(B)</li>
</ul>

<p>$BCm(B: 
</p>
<ul>
	<li>MIDI $B7A<0$O$I$A$i$bF1$8FbMF!"(B 1$BBjL\$+$i(B 3$BBjL\$,F~$C$F$$$^$9!#%=%U%H%&%'%"%7%s%;%5%$%6!<$r$*;H$$$N>l9g$O(B 0 $B7A<0$r(B, $B%O!<%I%&%'%"(B MIDI$B2;8;$r$*;H$$$N>l9g$d3ZIh%G!<%?$N0u:~$O(B 1 $B7A<0$r$*4+$a$7$^$9!#(B</li>
	<li>$B9;2N$N(B MIDI $B2=$O(B 1998$BG/EY$K(B<a href="/~rei/">$BLo7uNm(B</a>$B;a$K$h$j9T$o$l$^$7$?!#(B</li>
</ul>


<address>[<a href="/">/</a>] [<a href="../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>]</address>
<div class="update">2001-06-22, 2001-09-02, 2001-09-19, 2002-02-27
<a href="http://validator.w3.org/check/referer" lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml10" id="w3c-html"
        alt="Valid XHTML 1.0!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/about/kouka.ja.html" lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a>
</div>
</body></html>
