<!DOCTYPE html PUBLIC "-//Suika//DTD Suika HTML 1.00//EN">
<html lang="ja">
<head>
<title>$B%V%k!<%*!<%7%c%s%:(B,$B9V;U>R2p(B</title>
<link rel="stylesheet" href="/s/simpledoc" />
<link rel="stylesheet" href="../bo-style" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rel="index" href="./" />
<link rel="bookmark" href="http://suika.fam.cx/okuchuu/blue-oceans/katsudou/koushi" />
<link rel="copyright" href="/c/?c=BlueOceans;year=2001" />
<link rel="shortcut icon" href="/~wakaba/art/icon/okuchuu-bl.ico" />
<meta name="author" content="$B<cMU(B" />
</head>
<body>
<h1>$B9V;U>R2p(B</h1>

<div id="takashima">
<h2><ruby><rb>$B9bEgFAJ](B</rb><rp>(</rp><rt>$B$?$+$7$^$N$j$d$9(B</rt><rp>)</rp></ruby></h2>
<img src="" alt="" style="float: left" />
<p></p>
</div>

<div id="nunomura">
<h2><ruby><rb>$BI[B<MN?M(B</rb><rp>(</rp><rt>$B$L$N$`$i$R$m$H(B</rt><rp>)</rp></ruby></h2>
<img src="" alt="" style="float: left" />
<p></p>
</div>

<div id="unknown">
<h2><ruby><rb></rb><rp>(</rp><rt></rt><rp>)</rp></ruby></h2>
<img src="" alt="" style="float: left" />
<p></p>
</div>

<address>[<a href="../">$B%V%k!<%*!<%7%c%s%:(B</a>] [<a href="./" rel="index">$B3hF0(B</a>]</address>
<div class="update">2001-08-22; 2001-09-14
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/blue-oceans/2001/&amp;profile=css2" lang="en">
  <img style="width:88px;height:31px"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!"></a>
</div>
</body></html>
