<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ja">
<head>
<title>$B%V%k!<%*!<%7%c%s%:(B: $BJ?@.(B13$BG/(B9$B7n(B16$BF|(B $BIY;38)Bg2q(B</title>
<link rel="stylesheet" href="/s/simpledoc">
<link rel="stylesheet" href="../../bo-style">
<link rev="made" href="mailto:wakaba@suika.fam.cx">
<link rel="index" href="../">
<link rel="prev" href="09">
<link rel="copyright" href="/c/?c=BlueOceans">
<link rel="shortcut icon" href="/~wakaba/art/icon/okuchuu-bl.ico">
<meta name="author" content="$B<cMU(B">
</head>
<body>
<h1>9/16 $B?aAU3ZO"LA<g:E$N%^!<%A%s%0%U%'%9%F%#%P%k$N7k2L(B</h1>

<dl>
<dt>$BIY;3;TN)1|EDCf3X9;(B</dt>
	<dd>$B6b>^(B&amp;$B8)BeI=(B</dd>
<dt><a href="http://www.tym.ed.jp/sc293/">$BI98+;TN)FnItCf3X9;(B</a></dt>
	<dd>$B6b>^(B&amp;$B8)BeI=(B</dd>
<dt><a href="http://www.tym.ed.jp/sc296/suisougaku/suisoutop.htm">$BI98+;TN)==;0Cf3X9;(B</a></dt>
	<dd>$B6b>^(B&amp;$B8)BeI=(B</dd>
<dt><a href="http://www.tym.ed.jp/sc308/">$BEWGH;TN)>1@>Cf3X9;(B</a></dt>
	<dd>$B6b>^(B&amp;$B8)BeI=(B</dd>
</dl>

<p>$B:#2s$N8)Bg2q$NCf3X9;ItLg$O=P>lCDBN$,A4$F6b>^$G8)BeI=$K$J$C$?!#(B
($B>e$N(B4$B9;(B)</p>
<p>$B8eF|9T$o$l$kKLN&Bg2q$X$N=P>l8"$r3MF@$7$?(B!</p>

<p><a href="LIST">$B<L??(B</a></p>

<address>
[<a href="../../" rel="index">$B%V%k!<%*!<%7%c%s%:(B</a>
<a href="../">2001 $BG/(B</a>
<a href="../09">9 $B7n(B</a>]
</address>
<div class="update">2001-09-16
<a href="http://validator.w3.org/check/referer" lang="en"><img
        src="http://www.w3.org/Icons/valid-html401"
        alt="Valid HTML 4.01!" style="height: 31px; width: 88px"></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/blue-oceans/2001/0916/index.ja.html&amp;profile=css2" lang="en">
  <img style="width:88px;height:31px"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!"></a>
</div>
</body></html>
