<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$BBh(B53$B2sBN0iBg2q(B</title>
<link rel="stylesheet" href="../../style/simpledoc" media="all" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rel="copyright" href="../../c" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|Cf(B, $B@8EL2q(B, $BBN0iBg2q(B, $B<B9T0Q0w2q(B" />
</head>
<body>
<h1><object data="title.ja.mng" type="video/x-mng" hreflang="ja" style="width: 600px; height: 300px">$BBh(B53$B2sBN0iBg2q(B</object></h1>

<div style="text-align: right">
<p>1999($BJ?@.(B11)$BG/(B9$B7n(B5$BF|(B($BF|MKF|(B)</p>
<p>$B1wIY;3;TN)1|EDCf3X9;(B</p></div>

<h2><img src="e" alt="" style="width: 222px; height: 305px; float: right" /></h2>

<ul>
	<li><a href="leaken/">$B%j!<%@!<8&=$2q(B</a> (1:7$B7n(B3$BF|(B; 2:7$B7n(B22$BF|(B)</li>
	<li><a href="nimmei-ketsudan/">$BLr0wG$L?<0!&7kCD<0(B</a> (7$B7n(B5$BF|(B)</li>
	<li><a href="decoration/photo.s/LIST">$B3FCD%G%3%l!<%7%g%s:n6HIw7J(B</a></li>
	<li><a href="soumu/">$B3F<o;qNAK\Ey(B</a></li>
	<li><a href="program">$B%W%m%0%i%`(B</a> (<a href="program.ja.pdf">PDF</a> 464kilo-octets)</li>
	<li><a href="ann-hogosha">$BBN0iBg2q$N$40FFb(B (9$B7n(B1$BF|(B)</a> (<a href="ann-hogosha.ja.png">PNG</a> 42.54kilo-octets)</li>
	<li><a href="ann-pta">PTA $B<oL\;22C$N$*4j$$(B (9$B7n(B4$BF|(B)</a> (<a href="ann-pta.ja.png">PNG</a> 39.69koctets)</li>
	<li><a href="ann-seito">$B@8EL$N3'$5$s$X(B (9$B7n(B4$BF|(B)</a> (<a href="ann-seito.ja.png">PNG</a> 217.81koctets)</li>
	<li><a href="result">$B7k2L(B</a> (<a href="result.ja.html" title="$B7k2L(B (HTML)" type="text/html" hreflang="ja">HTML</a> 18.99koctets; <a href="result.ja.pdf" title="$B7k2L(B (PDF)" type="application/pdf" hreflang="ja">PDF</a>; <a href="result.ja.xls" title="$B7k2L(B (Microsoft Excel)" type="application/vnd.ms-excel" hreflang="ja">Microsoft Excel</a></li>
</ul>

<h2>$BCD(B</h2>

<ul>
	<li><a href="sekihyou/" class="sf-red">$B@VI?(B</a></li>
	<li><a class="sf-white">$BGr8W(B</a></li>
	<li><a class="sf-blue">$B@DN6(B</a></li>
	<li><a href="kirin/" class="sf-yellow">$BsJN[(B</a></li>
</ul>

<h2>$BBN0iBg2q<B9T0Q0w2q(B</h2>

<ul>
	<li>$B0Q0wD9(B</li>
	<li>$BI{0Q0wD9(B (2)</li>
	<li><a href="soumu/">$BAmL3(B</a></li>
	<li><a href="#kakari">$B78D9(B</a></li>
	<li><a href="#kakari">$BI{78D9(B</a></li>
</ul>

<ul>
	<li><a href="shigan">$B<B9T0Q0w;V4j=q(B</a> (<a href="shigan.ja.pdf">PDF</a> 36koctets, <a href="shigan.ja.cwj">$B%/%i%j%9%o!<%/%9(B4</a> 36.7koctets)</li>
</ul>

<p>$B<B9T0Q0wA*9M$KEv$?$C$F=8$^$C$?;VK><T$O$+$J$jB?$/!"=89g>l=j$NBh(B2$BM}2J<<$r0n$l$k$[$I$G$7$?!#(B3$BG/@8$@$1$G$b?t==?M$K2C$(!"(B1$B!&(B2$BG/@8$bBg@*=8$^$C$F$$$^$7$?!#M=Dj$KL5$+$C$?$i$7$$I{78D9$H$$$&Lr?&$rMQ0U$7$F$=$3$K$"$F$^$7$?$,!"$=$l$G$bB?$/$N?M$,<B9T0Q0w$K$J$k$3$H$,=PMh$^$;$s$G$7$?!#(B</p>

<h2 id="kakari">$B78(B</h2>

<p>$BKX$I$N78$O!"<B9T0Q0w$N78D9!&I{78D9$H(B, $B3F<o@lLg0Q0w$N0lHL780w$+$i$J$j$^$9!#?M?t$O78$K$h$j0[$J$j$^$9!#(B</p>

<ul>
	<li><a href="shoushuu/">$B>$=8(B</a></li>
	<li>$B7h>!5-O?(B</li>
	<li><a href="kiroku-shuukei/">$B5-O?=87W(B</a></li>
	<li>$BMQ6q(B</li>
	<li>$BF@E@I=<((B</li>
	<li><a href="housou/">$BJ|Aw(B</a></li>
	<li>$B5_8n(B</li>
	<li><a href="settai/">$B@\BT(B</a></li>
	<li>$B%i%$%s0z$-@_Dj(B</li>
	<li><a href="volunteer/">$B%\%i%s%F%#%"(B</a></li>
	<li><a href="video/">$B%S%G%*;#1F(B</a></li>
	<li>$B=PH/(B</li>
	<li>$B>^>u(B</li>
</ul>

<h2 id="to54"><a href="../../2000z/sf54/">$BBh(B54$B2sBN0iBg2q(B</a>$B%j!<%@!<$N$_$J$5$s$X(B</h2>
<blockquote>
<p><img src="horit" style="float: left" alt="$B$"$D$7$/$s(B($BFf(B)" />$BBh(B 53 $B2sBN0iBg2q$O!"KX$IA02s$N;qNA$b$J$/!"0l$+$i$N%9%?!<%H$H$J$C$?!#(B
$BMhG/$bF1$86lO+$r$9$k$N$G$O$J$/!"$h$jNI$$BN0iBg2q$H$9$k$?$a$K!"(B
$B;dC#$,:#G/$I$s$J$3$H$r$7$F!"$I$&$$$&$$$$$3$H$,$"$C$?!"(B
$B$I$&$$$&:$$C$?$3$H$,$"$C$?$+$r5-O?$7$F$*$/$3$H$K$7$h$&!#(B</p>
<cite>$BKY(BT <!--($B<cMU5-(B)--></cite>
</blockquote>

<p><a href="54/">$BBh(B54$B2sBN0iBg2q%j!<%@!<$N3'$5$s$X(B</a></p>

<address>[<a href="/">/</a>] [<a href="../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>/<a href="../">$BJ?@.(B11$BG/EYA04|@8EL2q(B</a>]</address>
<div class="update">2001-06-30, 2001-07-25, 
<a href="/gate/cvs/okuchuu/1999z/sf53/index.ja.html">$Date: 2003/09/10 07:02:29 $</a></div>
</body></html>
