<!DOCTYPE Html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<Html lang="ja">
<Head>
<Title>$B1|Cf@8EL2q(B</Title>
<Meta name="author" content="Susumu">
<Meta name="description" content="$B1|EDCf3X9;$N@lLg0Q0w2q$NJG(B">
<Meta name="keywords" content="$B1|Cf(B, $B@8EL2q(B, $B@lLg0Q0w2q(B">
<Link href="../2001/default.css" rel="stylesheet" type="text/css">
<link rel="index" href="../">
<link rel="prev" href="../2001/">
<link rel="next" href="../2001k/">
<Style Type="text/css">body {color: black}
h1  {text-align: center; font-size: 30pt; color:#00CC99}
p	{text-align: center}
hr	{width: 80%}
</Style>
</Head>
<Body>

<H1>$B1|Cf@8EL2q$N%Z!<%8$X$h$&$3$=(B</H1>

<P>$B$3$N%5%$%H$G$O!"1|Cf$K$"$k!"(B6$B$D$N@lLg0Q0w2q$N3hF0$K$D$$$F@bL@$7$^$9!#(B<Br>
$B2<5-$N$J$+$+$i!"8+$?$$$b$N$r$*A*$S2<$5$$!#(B<Br><Br></P>

<P>$B:#G/EY$N%9%m!<%,%s$O!"(B<Em>$B$+$/$+$/$7$+$8$+$[$2$[$2(B</Em>$B$G$9!#(B</P>

<Table><Tr>
	<Td><A href=".html">$B4D6-@lLg0Q0w2q(B</A>
	<Td><A href=".html">$B@83h@lLg0Q0w2q(B</A>
	<Td><A href=".html">$B5k?)@lLg0Q0w2q(B</A><Tr>
	<Td><A href=".html">$B8|@8@lLg0Q0w2q(B</A>
	<Td><A href=".html">$BJ82=@lLg0Q0w2q(B</A>
	<Td><A href=".html">$B9-Js@lLg0Q0w2q(B</A>
</Table>

<Ul>
<Li>$B@8EL2q3hF0$K4X$9$k$40U8+$O!"(B
<A href="../2000z/okutyuu.tripod.co.jp/">$B?7L\0BH"(B</A>
$B$NJ}$G<u$1IU$1$F$*$j$^$9!#(B</Li>
<Li>$B$40U8+!"$4<ALd$O!"(B<a href="mailto:okutyuu@lycos.ne.jp">$B@8EL2qC4Ev(B</A>$B$^$G$*4j$$$7$^$9!#(B</Li>
<Li><A href="../index">$B1|EDCf3X9;%&%'%V%5%$%H(B</A></Li>
</Ul>

<address>
[<a href="/">/</a> <a href="../" rel="index">$BEA@b$N$*$/$A$e!#(B</a>]
[<a href="../2001/" rel="prev">$BJ?@.(B13$BG/EY(B</a>]
[<a href="../2001k/" rel="next">$BJ?@.(B13$BG/EY8e4|(B</a>]
</address>
</Body>
</Html>
