<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="../style/simpledoc" media="all" ?>
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$BIY;3;TN)1|EDCf3X9;(B $BJ?@.(B11 (1999) $BG/EYA04|@8EL2q(B</title>
<link rel="up" href="../1999/" title="$BJ?@.(B11 (1999) $BG/EY(B" />
<link rel="stylesheet" href="../style/simpledoc" media="all" />
<link rev="made" href="mailto:okuchuu@suika.fam.cx" />
<link rel="copyright" href="../c" />
<meta name="keywords" content="$B1|Cf(B, $B@8EL2q(B, $BJ?@.(B11$BG/EY(B, $BA04|(B, $BDaMh(B, $B?J(B, $BBN0iBg2q(B, Good Friends $B1?F0(B, $B@8ELAm2q(B, $B2~3W(B, $B?7Au3+E9(B" />
<meta name="description" content="$B!V?7Au3+E9!W$r9g8@MU$K=t3hF0$K<h$jAH$s$@J?@.(B11$BG/EYA04|@8EL2q$K$D$$$F!#(B" />
<style type="text/css">
#shoshin
	{margin-left: 20%}
#shoshin h2
	{margin-top: 0}
</style>
</head>
<body>
<h1>$BJ?@.(B11$BG/EYA04|@8EL2q(B</h1>

<blockquote cite="gikai-4" id="shoshin">
<h2>$BA04|@8EL2q(B $B?7Au3+E9$7$^$9(B!!</h2>
<p><img src="tsuruki-mini" alt="$B@8EL2qD9(B ($B@8ELAm2q$K$F(B)" style="width: 102px; height: 137px; float: left" />$BKM$?$A$O!":#$^$G$H$O0c$&?7$7$$1|Cf@8EL2q$H$$$&$N$r%F!<%^$K$$$m$$$m$JLL$G<h$jAH$_$?$$$H;W$$$^$9!#$^$?!"%^%s%M%j2=$7$?ItJ,$r40A4$KBG2u$7!"$7$C$+$j$H$7$?$b$N$r$D$/$j$^$9!#(B</p>
<div><cite><a href="gikai-4">$B@8EL5D2q$G$N=j?.I=L@(B</a>$B$h$j(B</cite></div>
</blockquote>

<h2 id="event">$B9T;v$J$I(B</h2>

<ul>
	<li><a href="soukai/">$B@8ELAm2q(B</a></li>
	<li><a href="leaken/">$B@8EL2q%j!<%@!<8&=$2q(B</a></li>
	<li><a href="#event_soukou">$B=U5(AmBNAT9T2q(B</a></li>
	<li><a href="gf/">Good Friends $B1?F0(B</a></li>
	<li><a href="lets-clean/">Let's Clean I</a></li>
	<li><a href="sf53/">$BBh(B53$B2sBN0iBg2q(B</a></li>
</ul>

<h2 id="shikkoubu">$B<99TIt(B</h2>

<p>$B@8EL2qLr0w$O(B<a href="senkyo/">$B@8EL2qLr0wA*5s(B</a>$B$GA*=P(B
$B$5$l$?Lr0w$H!"@8EL2qD9$K$h$jG$L?$5$l$?Lr0w$+$i$J$j$^$9!#(B</p>

<ul>
	<li>$B@8EL2qD9(B</li>
	<li>$B@8EL2qI{2qD9(B ($BCK=w3F(B1$BL>(B)</li>
	<li>$B@8EL2q=q5-(B (2,3$BG/3F(B1$BL>(B)</li>
	<li>$B3XG/BeI=(B ($B7W(B3$BL>(B)</li>
	<li><a href="#senmoniinkai">$B@8EL2q@lLg0Q0wD9(B</a> ($B7W(B10$BL>(B)</li>
	<li>$B@8EL2q;J2q(B (3$BL>(B)</li>
	<li>(+ $B@8EL2q8\Ld(B 3$BL>(B)</li>
</ul>

<ul>
	<li>$B!X(B<a href="memo-homework">$B$7$e$/$@$$(B</a>$B!Y(B (<a href="memo-homework.ja.jpeg">JPEG(JFIF)</a> 90.45kilo-octets)
		<p>$B@8EL2q<99TItFb$G3F3hF0$rO"7H$7$F9T$&$?$a!"3F0Q0w2qEy$N3hF0$K$D$$$F$N>\:Y$r4JC1$KE;$a$FDs=P$9$k;v$r5a$a$k$b$N!#(B</p></li>
	<li><a href="seitokaishitsu">$B@8EL2q<<(B</a>
		<p>$B@8EL2qLr0w$K$h$j2?EY$+@8EL2q<<$NBg@6A]$r9T$$$^$7$?!#(B</p></li>
</ul>

<h2 id="gikai">$B@8EL5D2q(B</h2>

<ul>
	<li>$B5DD9(B</li>
	<li>$BI{5DD9(B (2$BL>(B)</li>
	<li>$BBe5D0w(B ($B3F3X5iCK=w3F(B1$BL>(B; = $B3X5iBeI=(B)</li>
	<li>(+ <a href="#shikkoubu">$B@8EL2q<99TIt(B</a>)</li>
</ul>

<h3>$B5D0F=q(B</h3>
<ul>
	<li><a href="gikai-4">4$B7n@8EL5D2q(B</a> (<a href="gikai-4.ja.png">PNG</a> 124.76kilo-octets)</li>
	<li><a href="gikai-7">7$B7n@8EL5D2q(B</a> (<a href="gikai-7.ja.png">PNG</a> 100.25kilo-octets)</li>
</ul>

<h2 id="senmoniinkai">$B@lLg0Q0w2q(B</h2>

<ul>
	<li><a href="zaimu/">$B:bL3@lLg0Q0w2q(B</a></li>
	<li><a href="kouhou/">$B9-Js@lLg0Q0w2q(B</a></li>
	<li><a href="bunka/">$BJ82=@lLg0Q0w2q(B</a></li>
	<li><a href="kouki/">$B9;5,@lLg0Q0w2q(B</a></li>
	<li><a href="hoken/">$BJ]7r@lLg0Q0w2q(B</a></li>
	<li><a href="tosho/">$B?^=q@lLg0Q0w2q(B</a></li>
	<li><a href="seisou-bika/">$B@6A]H~2=@lLg0Q0w2q(B</a></li>
	<li><a href="kyuushoku/">$B5k?)@lLg0Q0w2q(B</a></li>
	<li><a href="taiiku/">$BBN0i@lLg0Q0w2q(B</a></li>
	<li><a href="houshi/">$BJt;E@lLg0Q0w2q(B</a></li>
</ul>

<ul>
	<li><a href="semmon-hyoushi">$B@lLg0Q0w2q%U%!%$%kI=;f(B</a> (<a href="semmon-hyoushi.ja.doc" title="$B@lLg0Q0w2q%U%!%$%kI=;f(B(Microsoft Word)">Microsoft Word</a> 92.50kilo-octets; <a href="semmon-hyoushi.ja.pdf" title="$B@lLg0Q0w2q%U%!%$%kI=;f(B(PDF)">PDF</a> 19.95kilo-octets)</li>
</ul>

<h2 id="event_soukou">$B=U5(AmBNAT9T2q(B</h2>

<ul>
	<li><a href="soukoukai/ketsui-genkou">$BItD97h0UI=L@869FMQ;f(B</a> (<a href="soukoukai/ketsui-genkou.ja.png">PNG</a> 58.10kilo-octets)</li>
	<li><a href="soukoukai/ketsui-all">$B3FItItD97h0UI=L@(B</a> (<a href="soukoukai/ketsui-all.ja.doc">Microsoft Word</a> 30.00kilo-octets; <a href="soukoukai/ketsui-all.ja.pdf">PDF</a> 17.96kilo-octets)</li>
	<li>$B;29M(B: <a href="kouhou/#shunki">$B=U5(AmBND>A0%$%s%?%S%e!<(B</a> (<a href="kouhou/">$B9-Js@lLg0Q0w2q(B</a>)</li>
	
	<li><a href="soukoukai/youkou-p1">$B<B;\MW9K(B ($BI=(B)</a> (<a href="youkou-p1.ja.png">PNG</a> 114.78kilo-octets)</li>
	<li><a href="soukoukai/youkou-p2">$B<B;\MW9K(B ($BN"(B)</a> (<a href="youkou-p2.png">PNG</a> 86.42kilo-octets)</li>
	
	<li><a href="soukoukai/photo.s/LIST">$BEvF|Iw7J(B</a></li>
</ul>

<h2 id="susumu">$B9;D99VOCGRD02q(B</h2>

<p><img src="susumu-mini" alt="$B9;D9EB(B" style="width: 116px; height: 168px; float: left" />
$B$"$l$O(B 6$B7n$N$3$H$@$C$?$G$7$g$&$+!"9;D9EB$OFMA3@8EL2qLr0w$r=8$a$i$l!"(B
$B=k$$F|:9$7$NCf?e$r8/$k$HApLZ$N2P=}$9$k$3$H!"(B
$BCS$K@P$rEj$2$k$HGHLf$,9-$,$j9T$/$3$H$J$I!"(B
$B5.=E$J8f9VOC$r$5$l$?$N$G$"$j$^$7$?!#(B</p>

<ul>
	<li><a href="susumu-draft">PTA $B9-Js;o!X$*$/$@Ln!Y869F(B</a> (<a href="susumu-draft.ja.png">PNG</a> 58.17kilo-octets)
		<p>7$B7n$N!X$*$/$@Ln!YH/9T$K@h6n$1!"$=$N9;D90';"869F$r@8EL2qLr0w$KG[I[$5$l$?$N$G$"$j$^$7$?!#(B</p></li>
</ul>

<h2 id="hinomaru">$BF|$N4]EvHV(B</h2>

<p>6$B7nCf:"$h$j!"9;D9EB$N0U8~$K$h$j!"9q4z7GMHEc(B
($B85$O9;Lg2#!#9;D9EB$K$h$j8<4XA0$K0\@_$5$l!"(B
$B20:,$h$jDc$$8qVpE*>uBV$K$J$C$?(B:-0)
$B$KKhF|F|$N4]$r7GMH$9$k$3$H$H$J$j!"(B
$B@8EL2qLr0w$,$3$l$KEv$?$k$3$H$H$J$j$^$7$?!#(B</p>
<p>$B1+$,9_$k$H$*$m$7$K$$$+$M$P$J$i$:!"9_$i$J$$$h$&4j$C$?$b$N$G$7$?(B (?)$B!#(B
$B$7$+$7<x6HCf$K$*$m$7$K9T$/$o$1$K$O9T$+$J$$$N$G!"(B
$B$$$D$bF|$N4]$O1+$NCfsS$$$F$*$j$^$7$?!#Lr0w0lF1!"20:,$h$jDc$$7o$H9g$o$;!"(B
$B$$$DH3$,Ev$?$k$+$H61$($kF|!9$rAw$C$?$N$G$7$?!#(B</p>

<ul>
	<li><a href="hinomaru-67">6$B7n!&(B7$B7n$NEvHVI=(B</a> (<a href="hinomaru-67.ja.png">PNG</a> 63.37kilo-octets)</li>
	<li><a href="hinomaru-9">9$B7n$NEvHVI=(B</a> (<a href="hinomaru-9.ja.png">PNG</a> 69.20kilo-octets)</li>
</ul>

<h2 id="kaikaku">$B@8EL2q2~3W(B</h2>

<p>$B@8EL2q$N=t2~3W$K8~$1$F!"8x<0(B, $BHs8x<0$KMM!9$J3hF0!&8&5f$,9T$o$l$^$7$?!#(B</p>

<ul>
	<li><a href="kaikaku/">$B@8EL2q2~3W$X$NF0$-(B</a></li>
</ul>

<h2 id="cd">$B1|Cf(B CD-ROM '99</h2>

<ul>
	<li><a href="cd/cd99">$B1|Cf(B CD-ROM '99 $B$K$D$$$F(B</a>
	<p>$BJ?@.(B11$BG/EYA04|@8EL2q$N3F<o;qNA$rCf?4$KJT=8$5$l$?(B CD-ROM $B$G$9!#(B</p></li>
</ul>

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>
<a href="../1999/" rel="contents">$BJ?@.(B11$BG/EY(B</a>]
</div>
<div class="update">$Date: 2004/08/17 06:58:09 $</div>
<ul class="myuri">
<li>&lt;URL:<a href="http://suika.fam.cx/okuchuu/1999z/">http://suika.fam.cx/okuchuu/1999z/</a>&gt;</li>
<li>&lt;CVS:<a href="http://suika.fam.cx/gate/cvs/okuchuu/1999z/index.ja.html">suika.fam.cx:/home/cvs/okuchuu/1999z/index.ja.html</a>&gt;</li>
</ul>
</body></html>
