<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="../style/simpledoc.css" type="text/css" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$B@8EL2q<<(B ($BJ?@.(B11$BG/EYA04|@8EL2q(B)</title>
<link rel="contents" href="./" title="$BJ?@.(B11$BG/EYA04|@8EL2q(B" />
<link rel="stylesheet" href="../style/simpledoc.css" type="text/css" />
<link rev="made" href="mailto:w@suika.fam.cx" />
<link rel="copyright" href="/c/pd" title="Public Domain." />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B@8EL2q<<(B, $BG[CV(B, $BA]=|(B, $B$9$9$`(B, $B9SC+?J(B, $B@0M}(B, $BBgA]=|(B, $B@0F\(B, $BG[Ns(B, $B:B@J(B" />
</head>
<body>
<h1><a href="../"><img class="minilogo" src="../logo" alt="$B$*$/$A$e!#(B" /></a> $B@8EL2q<<(B ($BJ?@.(B11$BG/EY@8EL2q(B)</h1>

<p>$BJ?@.(B11$BG/EYA04|@8EL2qH/B-Ev=i$OJ?@.(B10$BG/EY8e4|@8EL2q$HF1$8:B@J$G$7$?$,!"8e(B
(5$B7n$+(B6$B7n$K(B) $B@8EL2q<<$NBg@6A]$r9T$C$?:]$KG[CV$,JQ99$5$l$^$7$?!#(B</p>

<div><img src="seitokaishitsu-image" alt="$B@8EL2q<<$NG[CV?^(B" /></div>

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>
<a href="./" rel="contents">$BJ?@.(B11$BG/EYA04|@8EL2q(B</a>]
<a href="http://validator.w3.org/check/referer" xml:lang="en">
<img src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
  alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" />
</a>
<a href="http://jigsaw.w3.org/css-validator/check/referer" xml:lang="en">
<img style="width: 88px; height: 31px" id="w3c-css"
  src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
</a>
</div>
<div class="update">$Date: 2002/10/13 05:13:43 $</div>
<ul class="myuri">
<li>&lt;URL:<a href="http://suika.fam.cx/okuchuu/1999z/seitokaishitsu">http://suika.fam.cx/okuchuu/1999z/seitokaishitsu</a>&gt;</li>
<li>&lt;CVS:<a href="http://suika.fam.cx/gate/cvs/okuchuu/1999z/seitokaishitsu.ja.html">suika.fam.cx:/home/cvs/okuchuu/1999z/seitokaishitsu.ja.html</a>&gt;</li>
</ul>
</body></html>
