@Page {
	Margin: 10%; text-align: center}

BODY {
	BACKGROUND: #D2FFFF;
	COLOR: 000000;
	DISPLAY: block;
	LINE-HEIGHT: Normal;
	unicode-bidi: embed;
}
P {
	LINE-HEIGHT: Normal;
	TEXT-JUSTIFY-TRIM: punctuation;
	TEXT-INDENT: 0em;
	TEXT-ALIGN: center;
	text-justiry: inter-word;
	punctuation-wrap: hanging;
	punctuation-trim: leading;
	DISPLAY: block;
	MARGIN: 0.75em 1em;
	unicode-bidi: embed;
}
SPAN {
	text-align: left;
}
.DATE {
	text-align: center;
	font-size: 20pt;
	color: CC33FF;
	font-weight: 700;
}
.NAME {
	text-align: left;
	text-width: 600;
	color:CC3333;
}
PRE {
	FONT-SIZE: 100%;
	WHITE-SPACE: pre;
	LINE-HEIGHT: Normal;
	DISPLAY: block;
	MARGIN: 0.75em 1em;
	unicode-bidi: embed;
	color: black;
}
ADDRESS {
	DISPLAY: block;
	BORDER-TOP: gray 1px solid;
	PADDING-TOP: 0.5em;
	FONT-STYLE: normal;
	TEXT-ALIGN: right;
	MARGIN: 0.75em 1em;
	unicode-bidi: embed;
}
BLOCKQUOTE {
	DISPLAY: block;
	PADDING-LEFT: 0.5em;
	BORDER-LEFT: black 1px solid;
	FONT-STYLE: normal;
	MARGIN: 0.75em 1em;
	unicode-bidi: embed;
}
DD {
	DISPLAY: block;
	MARGIN-TOP: 0px;
	MARGIN-LEFT: 3em;
	unicode-bidi: embed;
}
DIV {
	DISPLAY: block;
	unicode-bidi: embed;
	LINE-HEIGHT: Normal;
}
DL {
	DISPLAY: block;
	MARGIN: 0.75em 1em;
	unicode-bidi: embed;
}
DT {
	DISPLAY: block;
	MARGIN-BOTTOM: 0px;
	unicode-bidi: embed;
}
FORM {
	DISPLAY: block;
	unicode-bidi: embed;
}
FRAME {
	DISPLAY: block;
	unicode-bidi: embed;
}
FRAMESET {
	DISPLAY: block;
	unicode-bidi: embed;
}
H1 {
	DISPLAY: block;
	MARGIN: 0em 3px;
	TEXT-INDENT: 0em;
	TEXT-ALIGN: left;
	PADDING-LEFT: 0em;
	FONT-SIZE: 220%;
	color: #00CC33;
	FONT-WEIGHT: 800;
	LINE-HEIGHT: normal;
	unicode-bidi: embed;
}
H2 {
	DISPLAY: block;
	MARGIN: 0em 3px;
	TEXT-INDENT: 0em;
	TEXT-ALIGN: left;
	PADDING-LEFT: 0em;
	FONT-SIZE: 180%;
	color: #FFFF33;
	FONT-WEIGHT: 700;
	LINE-HEIGHT: normal;
	unicode-bidi: embed;
}
H3 {
	DISPLAY: block;
	MARGIN: 0em 3px;
	TEXT-INDENT: 0em;
	TEXT-ALIGN: left;
	PADDING-LEFT: 0em;
	FONT-SIZE: 160%;
	color: #00CC99;
	FONT-WEIGHT: 600;
	LINE-HEIGHT: normal;
	unicode-bidi: embed;
}
H4 {
	DISPLAY: block;
	MARGIN: 0em 3px;
	TEXT-INDENT: 0em;
	TEXT-ALIGN: left;
	PADDING-LEFT: 0em;
	FONT-SIZE: 140%;
	color: #666666;
	FONT-WEIGHT: 500;
	LINE-HEIGHT: normal;
	unicode-bidi: embed;
}
H5 {
	DISPLAY: block;
	MARGIN: 0em 3px;
	TEXT-INDENT: 0em;
	TEXT-ALIGN: left;
	PADDING-LEFT: 0em;
	FONT-SIZE: 120%;
	color: #000000;
	FONT-WEIGHT: normal;
	LINE-HEIGHT: normal;
	unicode-bidi: embed;
}
H6 {
	DISPLAY: block;
	MARGIN: 0em 3px;
	TEXT-INDENT: 0em;
	TEXT-ALIGN: left;
	PADDING-LEFT: 0em;
	FONT-SIZE: 100%;
	color: #000000;
	FONT-WEIGHT: normal;
	LINE-HEIGHT: normal;
	unicode-bidi: embed;
}		
IFRAME {
	DISPLAY: block
}
OL {
	DISPLAY: block;
	MARGIN: 0.75em 1em;
	LIST-STYLE-TYPE: decimal;
	unicode-bidi: embed;
}
UL {
	DISPLAY: block;
	MARGIN: 0.75em 1em;
	LIST-STYLE-TYPE: disc;
	unicode-bidi: embed;
}
LI {
	DISPLAY: list-item;
	MARGIN-LEFT: 1em;
	unicode-bidi: embed;
}
HR {
	DISPLAY: block;
	MARGIN: 0.75em 1em;
	BORDER-RIGHT: black 1px;
	BORDER-TOP: black 1px solid;
	BORDER-LEFT: black 1px;
	BORDER-BOTTOM: black 1px;
	unicode-bidi: embed;
}
THEAD {
	DISPLAY: table-header-group;
	unicode-bidi: embed;
}
TBODY {
	unicode-bidi: embed;
}
TFOOT {
	DISPLAY: table-footer-group;
	unicode-bidi: embed;
}
COL {
	unicode-bidi: embed;
}
COLGROUP {
	unicode-bidi: embed;
}
CAPTION {
	unicode-bidi: embed;
}
TABLE {
	transparent scroll repeat 0% 0%;
	TEXT-ALIGN: left;
	unicode-bidi: embed;
	LINE-HEIGHT: Normal;
}
TR {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	TEXT-ALIGN: left;
	unicode-bidi: embed;
}
TH {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	TEXT-ALIGN: left;
	FONT-WEIGHT: bolder;
	unicode-bidi: embed;
}
TD {
	transparent scroll repeat 0% 0%;
	unicode-bidi: embed;
}
EM {
	font-weight: 300;
	color: red;
}
EM#L {
	font-weight: 700;
	color: red;
}
EM#G {
	font-weight: 300;
	color: green;
}
EM#GL {
	font-weight: 700;
	color: green;
}	
STRONG {
	FONT-WEIGHT: 800;
}
STRONG#L {
	font-weight: 900;
}
CITE {
	FONT-STYLE: normal;
}
EM {
	FONT-STYLE: normal;
}
VAR {
	FONT-STYLE: normal;
}
CITE {
	COLOR: turquoise;
}
DFN {
	MARGIN-TOP: 0.1em;
	MARGIN-BOTTOM: 0.1em;
	LINE-HEIGHT: 135%;
	FONT-STYLE: normal;
	FONT-FAMILY: monospace;
	LETTER-SPACING: 1px;
}
SAMP {
	MARGIN-TOP: 0.1em;
	MARGIN-BOTTOM: 0.1em;
	LINE-HEIGHT: 135%;
	FONT-STYLE: normal;
	FONT-FAMILY: monospace;
	LETTER-SPACING: 1px;
}
KBD {
	MARGIN-TOP: 0.1em;
	MARGIN-BOTTOM: 0.1em;
	LINE-HEIGHT: 135%;
	FONT-STYLE: normal;
	FONT-FAMILY: monospace;
	LETTER-SPACING: 1px;
}
CODE {
	LINE-HEIGHT: 135%;
	FONT-STYLE: normal;
	FONT-FAMILY: Courier New, Courier, monospace;
	LETTER-SPACING: 1px;
}
SUB {
	PADDING-LEFT: 0em;
	FONT-SIZE: 120%;
	color: 000000;
	border: 0.1em solid #FFB5FF;
}
SUP {
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: super;
}
DEL {
	TEXT-DECORATION: line-through
}
INS {
	TEXT-DECORATION: underline
}
ABBR {
	LETTER-SPACING: 0.1em;
	FONT-VARIANT: small-caps;
}
ACRONYM {
	LETTER-SPACING: 0.1em;
	FONT-VARIANT: small-caps;
}
HEAD {
	DISPLAY: none;
}
BR:unknown {
	content: "\a";
}
NOFRAMES {
	DISPLAY: none;
}
APPLET {
	DISPLAY: none;
}
IFRAME {
	DISPLAY: none;
}
FIELDSET {
	DISPLAY: inline;
	FONT-SIZE: 100%;
	TEXT-DECORATION: none;
}
TT {
	DISPLAY: inline;
	FONT-SIZE: 100%;
	TEXT-DECORATION: none;
}
B {
	FONT-SIZE: normal;
}
I {
	FONT-SIZE: normal;
}
SMALL {
	FONT-SIZE: normal;
}
BIG {
	FONT-SIZE: normal;
}
UNKNOWN {
	FONT-FAMILY: \00ff2d\00ff33\000020\00660e\00671d
}
.comment {
	COLOR: rgb(0,128,0)
}
.example {
	BACKGROUND-COLOR: #f9f5de;
	BORDER-RIGHT: black 1px solid;
	PADDING-RIGHT: 1em;
	BORDER-TOP: black 1px solid;
	PADDING-LEFT: 1em;
	PADDING-BOTTOM: 0.2em;
	MARGIN-LEFT: 10%;
	BORDER-LEFT: black 1px solid;
	COLOR: #5d0091;
	TEXT-INDENT: 0px;
	LINE-HEIGHT: 200%;
	PADDING-TOP: 0.2em;
	BORDER-BOTTOM: black 1px solid;
	MARGIN-TOP: 0.1em;
	MARGIN-BOTTOM: 0.1em;
	LINE-HEIGHT: 135%;
	FONT-STYLE: normal;
	FONT-FAMILY: monospace;
	LETTER-SPACING: 1px;
}
.sample {
	BACKGROUND-COLOR: #f9f5de;
	BORDER-RIGHT: black 1px solid;
	PADDING-RIGHT: 1em;
	BORDER-TOP: black 1px solid;
	PADDING-LEFT: 1em;
	PADDING-BOTTOM: 0.2em;
	MARGIN-LEFT: 10%;
	BORDER-LEFT: black 1px solid;
	COLOR: #5d0091;
	TEXT-INDENT: 0px;
	LINE-HEIGHT: 200%;
	PADDING-TOP: 0.2em;
	BORDER-BOTTOM: black 1px solid;
}
.syntax {
	COLOR: gray;
	BACKGROUND-COLOR: #ffe1e1;
	BORDER-RIGHT: black 1px solid;
	PADDING-RIGHT: 1em;
	BORDER-TOP: black 1px solid;
	PADDING-LEFT: 1em;
	PADDING-BOTTOM: 0.2em;
	MARGIN-LEFT: 10%;
	BORDER-LEFT: black 1px solid;
	COLOR: #5d0091;
	TEXT-INDENT: 0px;
	LINE-HEIGHT: 200%;
	PADDING-TOP: 0.2em;
	BORDER-BOTTOM: black 1px solid;
	MARGIN-TOP: 0.1em;
	MARGIN-BOTTOM: 0.1em;
	LINE-HEIGHT: 135%;
	FONT-STYLE: normal;
	FONT-FAMILY: monospace;
	LETTER-SPACING: 1px;
}
.note {
	MARGIN: 1em 0.5em 0.5em;
	TEXT-INDENT: 0px;
	LINE-HEIGHT: 200%;
}
.fold {
	MARGIN-LEFT: 5em;
	TEXT-INDENT: -5em;
}
UNKNOWN {
	TEXT-DECORATION: underline;
}
A:link {
	COLOR: blue;
}
A:visited {
	COLOR: purple;
}
A:active {
	COLOR: red;
}
A:hover {
	BACKGROUND: #64FFD2; COLOR: #007755;
}
IMG {
	BORDER-RIGHT: black 0px;
	BORDER-TOP: black 0px;
	BORDER-LEFT: black 0px;
	BORDER-BOTTOM: black 0px;
}
A:link IMG {
	BORDER-RIGHT: red 1px solid;
	BORDER-TOP: red 1px solid;
	BORDER-LEFT: red 1px solid;
	BORDER-BOTTOM: red 1px solid;
}
A:visited IMG {
	BORDER-RIGHT: purple 1px solid;
	BORDER-TOP: purple 1px solid;
	BORDER-LEFT: purple 1px solid;
	BORDER-BOTTOM: purple 1px solid
}
A:active IMG {
	BORDER-RIGHT: red 1px solid;
	BORDER-TOP: red 1px solid;
	BORDER-LEFT: red 1px solid;
	BORDER-BOTTOM: red 1px solid;
}
A:hover IMG {
	BORDER-RIGHT: #ffa 1px solid;
	BORDER-TOP: #ffa 1px solid;
	BORDER-LEFT: #ffa 1px solid;
	BORDER-BOTTOM: #ffa 1px solid;
}
:unknown {
	outline: thin dotted invert
}
RUBY {
	RUBY-POSITION: above;
	RUBY-OVERHANG: auto;
	RUBY-ALIGN: distribute-space;
}
.shita {
	
}
rb {
	
}
RT {
	
}
RP {
	DISPLAY: none
}
.kumimoji {
	text-combine: letters
}
.warichu {
	text-combine: lines
}
.bouten {
	font-emphasize: dot above
}
UNKNOWN {
	DIRECTION: ltr; unicode-bidi: bidi-override;DIRECTION: rtl; unicode-bidi: embed
}
FIELDSET {
	unicode-bidi: embed
}
NOSCRIPT {
	unicode-bidi: embed
}
OBJECT {
	unicode-bidi: embed
}



@media Print    
{
H1 {
	page-break-inside: avoid
}
H2 {
	page-break-inside: avoid
}
H3 {
	page-break-inside: avoid
}
H4 {
	page-break-inside: avoid
}
H5 {
	page-break-inside: avoid
}
H6 {
	page-break-inside: avoid
}
BLOCKQUOTE {
	page-break-inside: avoid
}
PRE {
	page-break-inside: avoid
}

@media Unknown    
{
H1 {
	voice-family: paul, male;
	stress: 20;
	richness: 90;
	pitch: x-low;
	pitch-range: 90
}
H2 {
	voice-family: paul, male;
	stress: 20;
	richness: 90;
	pitch: x-low;
	pitch-range: 80
}
H3 {
	voice-family: paul, male;
	stress: 20;
	richness: 90;
	pitch: low;
	pitch-range: 70
}
H4 {
	voice-family: paul, male;
	stress: 20;
	richness: 90;
	pitch: medium;
	pitch-range: 60
}
H5 {
	voice-family: paul, male;
	stress: 20;
	richness: 90;
	pitch: medium;
	pitch-range: 50
}
H6 {
	voice-family: paul, male;
	stress: 20;
	richness: 90;
	pitch: medium;
	pitch-range: 40
}
LI {
	richness: 60; pitch: medium
}
DT {
	richness: 60; pitch: medium
}
DD {
	richness: 60; pitch: medium
}
DT {
	stress: 80
}
PRE {
	stress: 0; richness: 80; pitch: medium; pitch-range: 0
}
CODE {
	stress: 0; richness: 80; pitch: medium; pitch-range: 0
}
EM {
	stress: 60; richness: 50; pitch: medium; pitch-range: 60
}
STRONG {
	stress: 90; richness: 90; pitch: medium; pitch-range: 60
}
DFN {
	stress: 60; pitch: high; pitch-range: 60
}
A:link {
	voice-family: harry, male
}
A:visited {
	voice-family: betty, female
}
A:active {
	voice-family: betty, female; pitch: x-high; pitch-range: 80
}
