<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<HTML lang="ja"><HEAD>
<TITLE>$BIY;3;TN)1|EDCf3X9;(B</TITLE>
<Meta name="keywords" content="$B1|Cf(B, $B1|EDCf3X9;(B, $B%N!<%A%c%$%`(B">
<link href="default.css" rel="stylesheet" type="text/css">
<link rel="index" href="../">
<link rel="prev" href="../">
<link rel="next" href="../2001z/">
</HEAD>
<Body>

<h1 style="text-align: center">
<!-- <IMG src="../2000/topimg.png" alt="$BIY;3;TN)1|EDCf3X9;(B $B%&%'%V%5%$%H(B"> -->
<IMG src="../2000/001.gif" alt="$BIY;3;TN)1|EDCf3X9;(B $B%&%'%V%5%$%H(B">
</h1>

<p><img src="../2000/x-picture.jpg" alt="$B2>(B">
</p>

<P class="date">$B:G=*2~DjF|(B2000/*/*(*)<Br></p>

<p>
<!-- <A Href="seito/index.html"> -->
<a href="../2001z/" rel="next" rev="index">
$B@8EL2q3hF0(B</A><Br><Br>
$B@8EL2q:n@.$N@8EL2q3hF0Ey$K$D$$$F$G$9!#(B<Br><Br>

<A Href="club/index.html" rev="index">
$B3FIt$N>R2p(B</A><Br><Br>
$B3FIt3hF0$N>R2p$G$9!#(B<Br><Br>

<A Href="history.html" rev="index">
$B3X9;$N1h3W;K(B</A><Br><Br>
$B3X9;$NNr;K$G$9(B<Br><Br>

<A href="kouka.html" rev="index">
$B9;2N(B</A><Br><Br>
$B1|EDCf3X9;$N9;2N$G$9(B<Br><Br>

<A Href="event.html" rev="index">
$B7n4V9T;vM=Dj(B</A><Br><Br>
$B3X9;$N7n4V9T;vM=Dj$G$9(B<Br><Br>

<A Href="yotei.html" rev="index">
$BG/4V9T;vM=Dj(B</A><Br><Br>
$B3X9;$NG/4V9T;vM=Dj$G$9(B</P>

<Address>$BO"Mm@h$O$3$A$i(B:
<A href="mailto:okuda-jhs@tym.ed.jp" rev="made">
okuda-jhs@tym.ed.jp</A></Address>

<ins class="densetsu">
<div class="note">
$BCm(B: $B8=:_$O$3$NJ8=q$O(B<a href="mailto:okuchuu@suika.fam.cx">$BEA@b$N$*$/$A$e!#%A!<%`(B</a>$B$,4IM}$7$F$$$^$9!#>e5-%a%$%k!&%"%I%l%9$K$OO"Mm$7$J$$$G2<$5$$!#(B</a>
</div>
</ins>
</Body>
</html>
