<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="../../style/simpledoc" media="all"?>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$BJ?@.(B11(1999)$BG/EYA04|9-Js@lLg0Q0w2q(B</title>
<link rel="contents" href="../" title="$BJ?@.(B11$BG/EYA04|@8EL2q(B" />
<link rel="stylesheet" href="../../style/simpledoc" media="all" />
<link rev="made" href="mailto:w@suika.fam.cx" />
<link rel="copyright" href="/c/pd" title="$B$3$NJ8=q<+?H$O(B Public Domain." />
<meta name="author" content="$BJ?@.(B11$BG/EYA04|9-Js@lLg0Q0w2q(B, $B<cMU(B" />
<meta name="keywords" content="$B1|Cf(B, $B@8EL2q(B, $BJ?@.(B11$BG/(B, 1999$BG/(B, $BA04|(B, $B9-Js(B, $B@lLg0Q0w2q(B, $B5D0F=q(B" />
<meta name="description" content="$BJ?@.(B11(1999)$BG/EYA04|9-Js@lLg0Q0w2q$N;qNA!#(B" />
</head>
<body>
<h1>$BJ?@.(B11(1999)$BG/EYA04|9-Js@lLg0Q0w2q(B</h1>

<h2 id="people">$B?M(B</h2>

<dl>
<dt>$B@lLg0Q0wD9(B</dt>
	<dd><a href="/~wakaba/who?">$B<cMU(B</a> (<span class="red">3-6</span>)</dd>
<dt>$B8\Ld(B</dt>
	<dd>$B;{:j@h@8(B ($B<g8\Ld(B), $B@>@h@8(B, $B>!86@h@8!#(B</dd>
<dt>$BI{0Q0wD9!&3XG/BeI=$J$I(B</dt>
	<dd>$B@_CV$7$^$;$s$G$7$?!#(B</dd>
</dl>

<h2 id="papers">$B5D0F=q(B</h2>

<dl>
<dt><a href="giansho-cover">$B5D0F=qDV$j(B($BJ]4IMQ(B)$BI=;f(B</a></dt>
<dt><a href="giansho1">$BBh(B1$B2s(B</a></dt>
	<dd>5$B7n(B11$BF|(B, <span class="red">3$BG/(B6$BAH(B</span>$B$K$F3+:E(B
	<p>$B5DBj(B: $B=i4i9g$o$;(B, $BJ|AwEvHV7hDj(B, $BJ|Aw5!4o@bL@(B ($BEvHV$N$_(B)$B!#(B</p></dd>
<dt><a href="giansho2">$BBh(B2$B2s(B</a></dt>
	<dd>6$B7n(B2$BF|(B, <span class="red">3$BG/(B6$BAH(B</span>$B$K$F3+:E(B
	<p>$B5DBj(B: <a href="#shunki">$BItD9%$%s%?%S%e!<(B</a>$BH?>J(B</p></dd>
<dt><a href="giansho3">$BBh(B3$B2s(B</a></dt>
	<dd>7$B7n5HF|(B, <span class="red">3$BG/(B6$BAH(B</span>$B$K$F3+:E(B
	<p>$B5DBj(B: ($B8eH>(B: $BBN0iBg2q>$=878BG$A9g$o$;(B)</p></dd>
<dt><a href="giansho4">$BBh(B4$B2s(B</a> (<a href="giansho4.ja.jpg" type="image/jpeg" hreflang="ja">JPEG(JFIF)</a> 33.2ko, <a href="giansho4.ja.doc" type="application/msword" hreflang="ja">Microsoft Word</a> 19ko)</dt>
	<dd>9$B7n(B13$BF|(B, <span class="red">3$BG/(B6$BAH(B</span>$B$K$F3+:E(B
	<p>$B5DBj(B: $BFC$K$J$7(B:-)</p></dd>
<dt><a href="giansho5">$BBh(B5$B2s(B</a></dt>
	<dd>10$B7n5HF|(B, <span class="red">3$BG/(B6$BAH(B</span>$B$K$F3+:E(B
	<p>$B5DBj(B: $BH?>J2q(B (<a href="anke.s/iinkai5">$BH?>J(B</a>: <a href="anke.s/iinkai5.ja.pdf" type="application/pdf" hreflang="ja">PDF</a>, <a href="anke.s/iinkai5.ja.xls" type="application/vnd.ms-excel" hreflang="ja">Microsoft Excel</a>)</p></dd>
</dl>

<h2 id="shunki">$B=U5(Am9g6%5;Bg2qD>A01?F0ItItD9%$%s%?%S%e!<(B</h2>

<p>5$B7n:G=*=5$NCk?);~$KJ|Aw!#(B</p>

<ul>
	<li><a href="buchou-report">$BJs9p=qK\J8(B</a></li>
	<li>$BJL;f(B1: $BJ|AwMQ869F(B</li>
	<li><a href="buchou-annai">$BJL;f(B2</a>: $BItD9$X$N0FFb>u(B</li>
	<li><a href="buchou-oete">$BJL;f(B3</a>: $BItD9$NH?>J%"%s%1%$%HMQ;f(B</li>
	<li><a href="anke.s/buchou">$BItD9%"%s%1%$%H=87W(B</a> (<a href="anke.s/buchou.ja.pdf">PDF</a>, <a href="anke.s/buchou.ja.xls">Microsoft Excel</a>)</li>
	<li><a href="anke.s/iinkai2">$B0Q0w%"%s%1%$%H=87W(B</a> (<a href="anke.s/iinkai2.ja.pdf">PDF</a>, <a href="anke.s/iinkai2.ja.xls">Microsoft Excel</a>)</li>
	<li><a href="buchou-nagare">$BJ|Aw$NN.$l(B($BC4Ev0Q0wMQ(B)</a></li>
</ul>

<h2 id="kaichou">$B@8EL2qD9%$%s%?%S%e!<5Z$S650i<B=,@8>R2p(B($BCf;_(B)</h2>

<ul>
	<li><a href="kaichou-report">$BJs9p=q(B</a> (<a href="kaichou-report.ja.html">HTML</a> 3.4ko, <a href="kaichou-report.ja.doc">Microsoft Word</a> 19.0ko)</li>
</ul>

<h2 id="tebiki">$B9;FbJ|AwMxMQ$N<j0z$-(B</h2>

<p>$B9;FbJ|Aw$rC/$G$b4JC1$KMxMQ=PMh$k$h$&$K!"$H:#4|$K?7$?$K@):n$5$l$^$7$?!#Bh(B0$BHG$H$b8@$&$Y$-(B<a href="giansho1">$BBh(B1$B2s@lLg0Q0w2q5D0F=q(B</a>$B$K<j$r2C$($?$b$N$,Bh(B1$BHG$K$J$j$^$9!#(B</p>
<p>$B$*$/$A$e!#$N%3%s%T%e!<%?<<$N0u:~5!$G0u:~$7$?4J0W0u:~HG(B2$BIt$r!"J|Aw<<$H@8EL2q<<$KCV$-$^$7$?!#(B($B8=B8$9$k$+$OITL@$G$9!#(B) $B$^$?!"J?@.L@D+$G0u:~$7$?$b$N$rJ?@.(B11$BG/EYA04|@8EL2q$N;qNAK\$KF~$l$k$h$&$K8f4j$$$7$^$7$?!#(B ($B<BJ*L$8+!#(B)</p>
<p>2000$BG/(B9$B7n$K(B Web $B$G$N8x3+$KEv$?$C$F(B PDF 
$BHG$,MQ0U$5$l$F!"$3$l$,Bh(B3$B:~$H8F$P$l$F$$$^$9!#(B2002$BG/(B4$B7n$K(B L<sup>A</sup>T<sub>E</sub>X 
$B$G%^!<%/IU$1$7$?$b$N$,Bh(B4$B:~$H$5$l$^$7$?!#(B ($B$3$&$7$F!"$5$7$FI,MW$bL5$$$N$K:~?t$,A}$($F$$$C$F$^$9(B...)</p>

<dl>
<dt><a href="tebiki">$B9;FbJ|AwMxMQ$N<j0z$-(B ($BBh(B1$BHG(B)</a></dt>
	<dd>1999$BG/(B7$B7nBh(B1$B:~(B <a href="tebiki.ja.txt.jis" title="$B9;FbJ|AwMxMQ$N<j0z$-(B($BBh(B1$BHGBh(B1$B:~(B) (plain-text + 7-bit ISO/IEC 2022)" type="text/plain" hreflang="ja">plain-text + 7-bit ISO/IEC 2022</a> 6.45kilooctets; <a href="tebiki.ja.txt.sj3" title="$B9;FbJ|AwMxMQ$N<j0z$-(B($BBh(B1$BHGBh(B1$B:~(B) (plain-text + Shift JIS)" type="text/plain" charset="shift_jisx0213" hreflang="ja">plain-text + Shift JIS</a> 5.23kilooctets</dd>
	<dd>1999$BG/(B10$B7nBh(B2$B:~(B <a href="tebiki.ja.doc" title="$B9;FbJ|AwMxMQ$N<j0z$-(B($BBh(B1$BHGBh(B2$B:~(B) (Microsoft Word)" type="application/msword" hreflang="ja">Microsoft Word</a> 40.00kilooctets</dd>
	<dd>2000$BG/(B9$B7nBh(B3$B:~(B</dd>
	<dd>2002$BG/(B4$B7nBh(B4$B:~(B <a href="tebiki.ja.tex" title="$B9;FbJ|AwMxMQ$N<j0z$-(B($BBh(B1$BHGBh(B4$B:~(B) (TeX)" type="application/x-tex" hreflang="ja">TeX</a> 12.37kilooctets; <a href="tebiki.ja.dvi" title="$B9;FbJ|AwMxMQ$N<j0z$-(B($BBh(B1$BHGBh(B4$B:~(B) (DVI)" type="application/x-dvi" hreflang="ja">DVI</a> 47.49kilooctets; <a href="tebiki.ja.pdf" title="$B9;FbJ|AwMxMQ$N<j0z$-(B($BBh(B1$BHGBh(B4$B:~(B) (PDF)" type="application/pdf" hreflang="ja">PDF</a> 42.90kilooctets</dd>
</dl>

<h2 id="misc">$B$=$NB>$N;qNA(B</h2>

<dl>
<dt><a href="letter-nenkan-keikaku">$B9-Js@lLg0Q0w2qG/4V7W2h(B</a> (<a href="letter-nenkan-keikaku.ja.jpeg">JPEG</a> 37.2ko)</dt>
	<dd>$B@8EL2q<99TIt$G$NG/4V7W2h$N?35D$r$b$H$K:n@.$7!"8\Ld$N;{(BT 
	$B$H@>(BT $B$N>5G'$rF@$^$7$?!#8e$K(B<a href="../soukai/">$B@8ELAm2q(B</a>$B$G@5<0$K>5G'$5$l$^$7$?!#(B</dd>
<dt><a href="letter-keiji">$B7G<(C4Ev<T$X$NO"Mm>u(B</a> (<a href="letter-keiji.ja.jpeg">JPEG</a> 38.8ko)</dt>
	<dd>$B$h$/$3$s$J1x$$;z$N$b$N$r=P$7$?$b$N$G$9(B:-)</dd>
<dt>Good Friends $B1?F0%"%s%1!<%H(B</dt>
	<dd>$B9-Js@lLg0Q0w$,=87W$rC4Ev(B<del>$B$5$;$i$l(B</del><ins>$B$7(B</ins>$B$^$7$?!#(B</dd>
<dt><a href="propose-computer">$BJ|Aw<<$X$N7W;;5!@_CV4j$$(B</a> (<a href="propose-computer.ja.doc">Microsoft Word</a> 23.5kilo-octets; <a href="propose-computer.ja.html">HTML</a> 2.84kilo-octets)</dt>
	<dd>$BJ|Aw<<$N$*$s$\$m@_Hw$K$4$&$r<Q$d$7$F(B(?)$B:n@.$7$?Ds0F=q$G$9!#$P$?$P$?$7$F$?$?$a7k6IDs=P=PMh$^$;$s$G$7$?!#(B($B$H$$$&$+!"C/$K=P$;$P$h$+$C$?$N(B?)</dd>
<dt><a href="letter-koukoku">$B8x9p(B: $B9;FbJ|Aw$K$D$$$F(B</a> (1999.10.02; <a href="letter-koukoku.ja.pdf">PDF</a> 71.4Koctet, <a href="letter-koukoku.ja.doc">Microsoft Word</a> 21Koctet)</dt>
	<dd>$B$*>e$+$i$N05NO$GITEv$J>uBV$K$J$C$F$$$?@8EL2q@lLg0Q0w2q$NLr3dJ,C4$r@5>o2=$9$k$?$a$N@k8@(B($BFf(B)$B$G$9!#7k6I8zNO$OH>!9$G$7$g$&$+!#(B</dd>
<dt><a href="policy">$BJ?@.(B11$BG/EYA04|9-Js@lLg0Q0w2q$NJ}?K(B</a> (<a href="policy.ja.pdf">HTML</a> 1.31ko)</dt>
	<dd>$BA04|@lLg0Q0w2q$NJ}?K$r!"0z7Q$.$KEv$?$C$F?6$jJV$k7A$GE;$a$?J8>O$G$9(B($BK\J8$K$O$=$s$J$3$H0l8@$b=q$$$F$"$j$^$;$s$,(B:-)$B!#!X(B<a href="#tebiki">$B9;FbJ|AwMxMQ$N<j0z$-(B</a>$B!Y$K$"$kJ8>O$r$h$j>\$7$/$7$?$b$N(B ($B$N$O$:(B) $B$G$9!#(B</dd>
<dt><a href="letter-koukihe">$BJ?@.(B11$BG/EY8e4|9-Js@lLg0Q0wD9$X(B</a> (<a href="letter-koukihe.ja.pdf">PDF</a> 120ko, <a href="letter-koukihe.ja.doc">Microsoft Word</a> 30ko)</dt>
	<dd>$B8e4|@lLg0Q0wD9$X$N0z7Q$.=qN`$G$9!#L5Cc$JG/4V7W2h$X$NH?>J$N5$;}$A$,DV$i$l$F$$$^$9$,!"<B:]$K$O$I$&;W$C$F$$$?$3$H$d$i!&!&!#(B</dd>
<dt><a href="aogumo">$B!X@D1@!YJ?@.(B11$BG/EYA04|@lLg0Q0wD90';"869F(B</a> (1999$BG/(B12$B7n(B; <a href="aogumo.ja.pdf">PDF</a> 111ko, <a href="aogumo.ja.doc">Microsoft Word</a> 20.5ko)</dt>
	<dd>$B@8EL2q;o!X@D1@!Y$K:\$;$?869F$G$9!#7G:\;z?t$,$H$C$F$b>/$J$$$G$9!#$^$"$=$&$$$&$H$3$m$G$3$=!"K\Ev$NJ8>ONO$,;n$5$l$F$7$^$$(B, $B7y$G$9$M(B($B>P(B)$B!#$G$b@^3Q!V@8EL2q!W;o$J$N$@$+$i!"3F@lLg0Q0w2q$K(B 1$BJG$:$D0L$G$b3d$j?6$C$F$bNI$+$C$?$N$G$O$J$$$G$7$g$&$+!#(B</dd>
</dl>

<h2 id="related">$B4XO"(B</h2>

<ul>
	<li><a href="../">$BJ?@.(B11$BG/EYA04|@8EL2q(B</a></li>
	<li><a href="../soukoukai/">$BJ?@.(B11$BG/EY=U5(AmBNAT9T2q(B</a></li>
	<li><a href="../gf/">$BJ?@.(B11$BG/EY(B Good Friends $B1?F0(B</a></li>
	<li><a href="../../1998k/kouhou/">$BJ?@.(B10$BG/EY8e4|9-Js@lLg0Q0w2q(B</a></li>
	<li><a href="../../1999k/kouhou/">$BJ?@.(B11$BG/EY8e4|9-Js@lLg0Q0w2q(B</a></li>
</ul>

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>
<a href="../" rel="index">$BJ?@.(B11$BG/EYA04|@8EL2q(B</a>]
<div class="update">h12-05-12 translate from Word 2000 document into HTML,
  h12-08-12 correct HTML syntax error, and apply default stylesheet.,
  h12-09-15 Revised., h12-09-30 Revised., h12-11-01 Revised.,
  2001-05-13 $B@>1;%5!<%P!<$K0\E>$K9g$o$;@0M}(B;
  2001-06-13 $B;qNADI2C$KH<$&2~D{(B, 2001-07-28, ..., $Date: 2003/09/10 09:09:16 $</div>
<ul class="myuri">
<li>&lt;URL:<a href="http://suika.fam.cx/okuchuu/1999z/kouhou/">http://suika.fam.cx/okuchuu/1999z/kouhou/</a>&gt;</li>
<li>&lt;CVS:<a href="http://suika.fam.cx/gate/cvs/okuchuu/1999z/kouhou/">suika.fam.cx:/home/cvs/okuchuu/1999z/kouhou/</a>&gt;</li>
</ul>
</body></html>
