<html lang="ja">
<head>
<title>$BJ?@.(B11(1999)$BG/EYA04|9-Js@lLg0Q0w2q(B/$B@8EL2qD9%$%s%?%S%e!<5Z$S650i<B=,@8>R2p(B</title>
<link rel="stylesheet" href="../../style/simpledoc" media="all" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rel="copyright" href="/c/gnu/fdl" />
<meta name="author" content="$B<cMU(B" />
<meta name="kaywords" content="$B1|Cf(B, $B@8EL2q(B, $BJ?@.(B11$BG/(B, 1999$BG/(B, $BA04|(B, $B9-Js(B, $B@lLg0Q0w2q(B, $B@8EL2qD9(B, $B650i<B=,@8(B, $B%$%s%?%S%e!<(B" />
<meta name="description" content="$BJ?@.(B11(1999)$BG/EYA04|9-Js@lLg0Q0w2q(B/$B@8EL2qD9%$%s%?%S%e!<5Z$S650i<B=,@8>R2p$N;qNA!#(B" />
</head>
<body>
<h1><a href="/okuchuu/"><img src="/okuchuu/logo" class="minilogo" alt="$B$*$/$A$e!#(B" /></a>$BJ?@.(B11(1999)$BG/EYA04|9-Js@lLg0Q0w2q(B/$B@8EL2qD9%$%s%?%S%e!<5Z$S650i<B=,@8>R2p(B</h1>


<div class="page">
<div class="title">
<h1>$BJ?@.(B11$BG/EY9-Js@lLg0Q0w2q(B</h1>

<h1>$B@8EL2qD9%$%s%?%S%e!<(B<br>
$B5Z$S(B<br>
$B650i<B=,@8>R2p(B</h1>

<h1>$BJs9p=q(B</h1>

</div>

<p class="cover_date">$BJ?@.(B11$BG/(B7$B7n(B</p>

<address class="cover_author">$BIY;3;TN)1|EDCf3X9;@8EL2q(B<br>
$BJ?@.(B11$BG/EYA04|(B<br>
$B9-Js@lLg0Q0w2q(B</address>

</div>

<div class="page">
<p class="page_head">[2$BJG(B]</p>

<p>$B!!J?@.(B11$BG/(B5$B7nKv!A(B6$B7n$K9T$&M=Dj$G$7$?$,!"=t=`Hw$NET9g$d=P1iM=Dj<T$NET9gEy$G<B;\$G$-$^$;$s$G$7$?!#(B</p>

<p>$B!!ImO?$H$7$F!"@8EL2qD9%$%s%?%S%e!<$N<ALdFbMF(B($BM=Dj(B)$B5Z$S650i<B=,@8>R2pJ|AwMQ869F0F$rBh(B3$BJG5Z$SBh(B4$BJG$K<($7$^$9!#(B</p>

</div>
<div class="page">
<p class="page_head">[3$BJG(B]</p>

<h3>$BImB0=q(B1: $B@8EL2qD9>R2p4k2h=q5Z$S869F(B</h3>

<p><a href="kaichou-kikaku"><img src="kaichou-kikaku" alt="3page-1"></a><br>
<a href="kaichou-genkou"><img src="kaichou-genkou"  alt="3page-2"></a></p>

</div>
<div class="page">
<p class="page_head">[4$BJG(B]</p>

<h3>$BImB0=q(B2: $B650i<B=,@8>R2p869F(B</h3>

<p><a href="kaichou-genkou1"><img src="kaichou-genkou1" alt="page4-1"></a><br>
<a href="kaichou-genkou2"><img src="kaichou-genkou2"  alt="page4-2"></a></p>

</div>
<div class="page">
<p class="page_head">[5$BJG(B]</p>

<h3>$BImB0=q(B3: $B2qD9$X$N0FFb>u(B</h3>

<p><a href="kaichou-annai"><img src="kaichou-annai" id="tokaichou" alt="5$BJG(B" /></a></p>

</div>
<div class="page">
<p class="page_head">[6$BJG(B]</p>

<h3>staff</h3>

<p>$BAm@UG$<T(B: $B<cNS(B($B0Q0wD9(B)<br>
$B4k2h(B: $B5H0f(B(2$BG/(B)<br>
interviewer: $BDaMh(B($B@8EL2q(B), $BH+;3(B($B@8EL2q(B)</p>

</div>
<address>
  h11-07,
  h12-05-12 translate from Word 2000 document into HTML,
  h12-08-12 correct HTML syntax error, and apply default stylesheet.,
  h12-09-15 Revised.,
  2001-05-13 $B@>1;%5!<%P!<0\E>$KH<$&=$@5!#(B
  $Date: 2003/09/10 09:09:16 $
</address>
<address>[<a href="/admin/">$B@>1;7W2h(B</a>] [<a href="/okuchuu/">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>]</address>

</body>
</html>
