<html lang="ja">
<head>
<title>$BJ?@.(B11$BG/EYA04|9-Js@lLg0Q0w2q$NJ}?K$K$D$$$F(B</title>
<meta name="GENERATOR" content="Microsoft FrontPage 3.0">

<link href="../../style/simpledoc" rel="stylesheet" media="all" />
<link rel="contents" href="./" />
<link rev="made" href="mailto:okuchuu@suika.fam.cx" />
</head>

<body>

<h1>$BJ?@.(B11$BG/EYA04|9-Js@lLg0Q0w2q$NJ}?K$K$D$$$F(B($B;29M(B)</h1>

<h3>$B0Q0w$NLr3dJ,C4$K$D$$$F(B</h3>

<p>$BA04|$O!"OH$r<h$jJ'$$(B($B%P%j%"%U%j!<$N@:?@(B(???))$B!"!V4k2hIt!W!VJ|AwIt!W$J$I$N0UL#ITL@$JIt3hF0$rGQIt$H$7!"<h$j4:$($:!VJ|AwEvHV!W!V7G<(EvHV!W$@$1$r7h$a$?!#(B</p>

<p>$BFCJL$J4k2h$N$"$k;~$O!"$=$NETEY!"4k2h$rC4Ev$7$?$$0Q0w$rJg=8$7!"$d$i$;$?!#(B</p>

<p>$B7k2L$H$7$F!"0Q0w$K$J$C$F$b$d$k5$$NL5$$E[Ey$OGS=|$G$-$?!#(B</p>

<p>$BFb?=E@$J$I$N0Y!"0?$$$OC/$b$d$k?M$,$$$J$$$N$G;EJ}$J$/$d$C$F$$$k?M$bB?$$$N$G!"$3$N@/:v$O@.8y$H$$$($h$&!#B?J,!&!&!&!#(B</p>

<h3>$B9;FbJ|Aw$K$D$$$F(B</h3>

<p>$B$^$?!"@'KxBgBN$K$*$$$F9;FbJ|Aw$K$*$$$F$O!"!V3'$KD0$+$l$kJ|Aw!W$rL\;X$7$F$-$?$h$&$@$,!":#4|$O;W$$@Z$C$F!"!VC/$K$bD0$+$l$J$$J|Aw!W$H$$$&$+!"6K!9<+A3$KMO$19~$s$@J|Aw$rL\;X$7$?!#(B</p>

<p>$B6qBNE*$K$O!"2;NL$r>.$5$a$K$9$k$H$+!"4k2h$r8:$i$9$H$+!"EF$K3Q!"@E$+$JJ|Aw$rL\;X$7$F$-$^$7$?!#>!<j$K7h$a$?:#4|$N%9%m!<%,%s$O!"(B</p>

<blockquote>
  <blockquote>
    <p>$B@E$+$J!"2:$d$+$JJ|Aw(B</p>
    <p>$B!A6u5$$N$h$&$K!"?e$N$h$&$K!A(B</p>
  </blockquote>
</blockquote>

<p>$B$@$C$?!#(B</p>

<hr>
</body>
</html>
