<html lang="ja">

<head>
<link rel="stylesheet" href="../../style/simpledoc" media="all" />
<link rev="made" href="mailto:okuchuu@suika.fam.cx" />
<link rel="contents" href="../" />

<meta name="GENERATOR" content="Microsoft FrontPage 3.0">
<title>$BJ|Aw<<$X$NEE;R7W;;5!@_CV$N8f4j$$(B</title>
</head>

<body>
<div class="page">
<div class="head">
<p>$BJ?@.(B11$BG/(B10$B7n(B27$BF|(B</p>

<p>$B1|Cf@8EL2qA04|(B<br>
$B9-Js@lLg0Q0wD9(B<br>
$B<cNS(B $BL$Mh(B</p>
</div>

<div class="title">
<h1>$BJ|Aw<<$X$NEE;R7W;;5!@_CV$N8f4j$$(B</h1>
</div>

<p>$BA04|$K9-Js@lLg0Q0wD9$H$7$F9;FbJ|Aw$rC4Ev$7$F$$$F;W$C$?$3$H$,$"$k$N$G!"8f4j$$?=$7>e$2$^$9!#(B</p>
<p>$B8=:_J|Aw<<$K$O!"%+%;%C%H%F!<%W!&%l%3!<%@!<$H(BCD$B%W%l!<%d!<$,J|AwMQ$K@\B3$5$l$F$$$^$9!#(B
<p>$B$7$+$7!"D0<T$+$i$NMWK>$d;XE&$NB?$$!"MM!9$J6J!&G^BNEy$X$NBP1~$d!"%^%s%M%j2=$NKI;_$K$O!"@_Hw$NITB-$h$j==J,$JBP1~$,$G$-$^$;$s$G$7$?!#(B
<p>$B$=$3$G!"BP:v$H$7$F!"J|Aw<<$X$NEE;R7W;;5!(B(<dfn>computer</dfn>)$B$N@_CV$r8f4j$$$7$^$9!#(B
<p>$BEE;R7W;;5!$N@_CV$K$h$j!"<g$K<!$N$h$&$J$3$H$,<B8=$G$-$^$9!#(B

<ul>
  <li>$B6J$N%i%s%@%`(B(<dfn>$BL5:n0Y(B</dfn>)$B=g$K$h$k:F@8(B</li>
  <li>$B$h$j4JC1$JO?2;!&:F@8(B</li>
  <li>$B4JC1$JA`:n$K$h$k9bEY$J2;6A5;=Q(B</li>
  <li>MIDI(<dfn>Musical Installment Digital Interface</dfn>)$B5,3J$K$h$j!"$I$s$J<oN`$N2;3Z$G$b:F8=2DG=(B</li>
  <li>$B<j=g$N<+F02=$K$h$k<+F0:F@8(B</li>
  <li>LAN(<dfn>Local Area Network</dfn>)$B$rMxMQ$7$?$"$kDxEY$^$G$N1s3VA`:n(B</li>
  <li>$B%$%s%?!<%M%C%H$J$I$H$NO"7H$K$h$k=<<B$7$?J|Aw(B<br>
    $B$J$I!#(B</li>
</ul>

<p>$BJ|Aw<<$X$NEE;R7W;;5!@_CV$K$D$$$F8f8!F$2<$5$$$^$9$h$&59$7$/8f4j$$$7$^$9!#(B</p>

</div>

<h2>$B2r@b(B($B2r@b$OMWK>=q$N0lIt$G$O$J$$!#(B)</h2>

<p>$BJ|Aw<<$N@_Hw$O4{$KO75`2=$7$F$*$j!"KtG[@~$,J#;($J$?$a(BC$BEo$KJ|Aw$,N.$l$J$$$J$I$NLdBj$,$"$j$J$,$i$bBP=h$G$-$J$$$^$^$G$"$C$?!#(B</p>

<p>$B$=$N$h$&$JLdBj$NA4$F$r2r7h$9$k$3$H$O:$Fq$G$"$j$J$,$i$b!"Hf3SE*M-0U5A$G$"$k7W;;5!$N@_CV$rMW@A$9$k$3$H$rL\E*$H$7$?$N$,$3$NDs0F=q$G$"$C$?!#(B</p>

<p>$B$7$+$7$J$,$i!"A04|(B/$B8e4|0z7Q$.$N$I$?$P$?$N:GCf$G$"$j!"7k6IDs=P$G$-$J$+$C$?!#(B</p>

<h2>$B<U<-(B</h2>

<p>$BDs0F=q:n@.$K78$jA04|(B/$B8e4|@8EL2qLr0w$NB?Bg$J6(NO$rF@$?!#$3$N>l$r<Z$j$F8fNi?=$7>e$2$k!#(B</p>

<address>
  &copy; <a href="http://www.ed.pref.toyama.jp/sc259/">$B1|Cf(B</a>$B@8EL2q(B/Wakaba 1999-2000<br>
  h11-10-27<br>
  h12-05-12 translate from Word 2000 document into HTML<br>
  h12-08-12 correct HTML syntax error, and apply default stylesheet.<br>
  h12-09-15 Revised.
  $Date: 2003/09/10 09:09:16 $
</address>
</body>
</html>
