<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$B:#=5$N0l2!$7%Q!<%H(B!?</title>
<link rel="contents" href="./index" />
<?xml-stylesheet href="/s/simpledoc"?>
<link rel="stylesheet" href="/s/simpledoc" />
<?xml-stylesheet href="../bo-style"?>
<link rel="stylesheet" href="../bo-style" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rel="copyright" href="/c/?c=BlueOceans" />
<link rel="bookmark" href="http://suika.fam.cx/blue-oceans/2001/part/0929" />
<link rel="shortcut icon" href="http://suika.fam.cx/~wakaba/art/icon/okuchuu-bl.ico" />
<meta name="author" content="$B<cMU(B" />
</head>
<body>
<h1>$B:#=5$N0l2!$7%Q!<%H(B!?</h1>

<p><img src="2001-09-29-01" alt="" /></p>
<p><img src="2001-09-29-02" alt="" /></p>

<p>$B%+%i!<%,!<%I$N$[$H$s$I$O!"(B1$BG/@8$G$9!#(B
$B?aAU3ZIt$b%^!<%A%s%0$b=i$a$F$N$"$D$^$j$G$9$,!"(B
3$BG/$NDT$5$s!&@n8}$5$s(B, 2$BG/$N:d8}$5$s$rCf?4$K$,$s$C$P$C$F$$$^$9!#(B</p>
<p>$B;d$?$A$NNO$G%7%g!<$r@9$j>e$2$F$_$;$^$9$N$G!"1~1g$*4j$$$7$^$9!#(B
$B$^$?$3$N<L??$r0u:~$7$F$b$C$FMh$?J}$K$O!"D>I.%5%$%s$b2D$G$9!#(B
$B4|4V8BDj(B!</p>

<address>
[<a href=".././" rel="index">$B%V%k!<%*!<%7%c%s%:(B</a>
<a href="../">2001 $BG/(B</a>
<a href="index" rel="index">$B:#=5$N0l2!$7%Q!<%H(B!?</a>]
</address>
<div class="update">2001-09-29, 2001-10-09
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/blue-oceans/2001/part/0929.ja.html&amp;profile=css2" xml:lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
</body></html>
