<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$B:#=5$N0l2!$7%Q!<%H(B!?</title>
<link rel="contents" href="./" />
<?xml-stylesheet href="/s/simpledoc"?>
<link rel="stylesheet" href="/s/simpledoc" />
<?xml-stylesheet href="../../bo-style"?>
<link rel="stylesheet" href="../../bo-style" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rel="copyright" href="/c/?c=BlueOceans" />
<link rel="bookmark" href="http://suika.fam.cx/blue-oceans/2001/part/1222" />
<link rel="shortcut icon" href="http://suika.fam.cx/~wakaba/art/icon/okuchuu-bl.ico" />
<meta name="author" content="BlueOceans" />
</head>
<body>
<h1>$B:#=5$N0l2!$7%Q!<%H(B!?</h1>

<p><img src="1222-2-01" alt="" /></p>

<p>$B:#2s$O(B2$BG/@8$G$9!#Cf7x3XG/$H$7$F(B3$BG/@8$r;Y$(!"(B
1$BG/@8$r$R$C$Q$C$F$$$^$9!#$$$D$G$b!"$=$&$J$N$G$9$,!"(B
$B%P%s%I$NCf7x$O3hF0!&N}=,$K$*$$$FBg$-$J%+%.$r0.$j$^$9!#(B</p>

<address>
[<a href="../../" rel="index">$B%V%k!<%*!<%7%c%s%:(B</a>
<a href="../">2001 $BG/(B</a>
<a href="./" rel="index">$B:#=5$N0l2!$7%Q!<%H(B!?</a>]
</address>
<div class="update">2001-12-22
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/blue-oceans/2001/part/1222.ja.html&amp;profile=css2" xml:lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
</body></html>
