<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

	<head>
<title>1$B3XG/(B $B=IGq3X=,(B</title>
<link rel="stylesheet" href="../../okuchuu-style">
<link rel="shortcut icon" href="../../favicon.ico">
<link rel="contents" href="./">
<link rel="prev" href="./">
<link rel="next" href="ball">
<link rev="made" href="mailto:wakaba@suika.fam.cx">
<meta name="aurhor" content="$BJ?@.(B10$BG/EYBh(B1$B3XG/@8EL2q<99TIt(B, $B9b>>(B, $B<cMU(B">
		<meta name="generator" content="Adobe GoLive 4">
	</head>

	<body text="black" bgcolor="#ffff99" link="blue" vlink="#551a8b" alink="blue">
		<center>
			<h1><font color="#007f1f" face="$BJ?@.3Q%4%7%C%/(B" size="6"><b>$B;3EDB<(B</b></font><font face="$BCf%4%7%C%/(BBBB" size="6">  </font><font size="7" face="$BJ?@.3Q%4%7%C%/(B" color="red"><i>$B=IGq3X=,(B</i></font></h1>
		</center>
		<p>
		<hr width="100%">
		<center>
			<p><font color="blue" face="$BJ?@.L@D+(B" size="6">$B<+A3$NCf$G?<$a$h$&(B</font><font size="6" face="$BJ?@.L@D+(B">   </font><br>
			<font size="6" face="$BJ?@.L@D+(B">   </font><font color="#7f00ff" face="$BJ?@.L@D+(B" size="6">$BM'>p(B</font><font size="6" face="$BJ?@.L@D+(B"> </font><font color="#ff00c0" face="$BJ?@.L@D+(B" size="6">$B<+N'(B</font><font size="6" face="$BJ?@.L@D+(B"> </font><font color="red" face="$BJ?@.L@D+(B" size="6">$B6(NO@-(B</font><br>
			<hr width="100%">
		</center>
		<p><font face="$BCf%4%7%C%/(BBBB" size="5"> </font><font face="$BJ?@.3Q%4%7%C%/(B" size="5">$B;d$?$A(B1$B3XG/$O!"(B6$B7n$KIY;38)IXIi74;3EDB<$G=IGq3X=,$r$7$^$7$?!#C/$b$,6C$/$[$I$K<+A3$N$"$U$l$k$3$NB<$G!"3hF0$rDL$7$$$m$$$m$J;v$r3X$S$^$7$?!#:#2s3hF0$7$?;v$NCf$+$i!"5m3YEP;3!"Ln30?fHS!"%*!<%k%9%?!<%2!<%`Bg2q$K$D$$$F@bL@$7$^$9!#(B</font></p>
		<p>
		<hr width="100%">
		<p></p>
		<center>
			<p><font size="6" face="$BJ?@.L@D+(B" color="#009933">$B6l$7$+$C$?!D(B</font><font face="$B%j%e%&%_%s%i%$%H!](BKL" size="7" color="#009933"> </font><font face="$BJ?@.3Q%4%7%C%/(B" size="7" color="#009933">$B5m3YEP;3(B</font></p>
		</center>
		<p><font face="$BCf%4%7%C%/(BBBB" size="5"> </font><font face="$BJ?@.3Q%4%7%C%/(B" size="5">$B;d$?$A$O!"5m3Y;3$rEP;3$7$^$7$?!#$H$F$b$D$i$$!"D9$$D9$$F;$N$j$G$7$?!#$7$+$7!";d$?$A$O!"$H$F$bNI$$7P83$r$9$k$3$H$,$G$-$^$7$?!#$^$:M'C#$H@<$r3]$19g$&$3$H$G6(NO@-$,9b$^$j$^$7$?!#$^$?!"M'C#$NNI$5$r$?$/$5$s8+$D$1$k$3$H$,$G$-$^$7$?!#$=$7$F!"<+A3$NH~$7$5$b87$7$5$b$3$N<j$G46$8<h$k$3$H$,$G$-$^$7$?!#(B</font></p>
		<p>
		<hr width="100%">
		<p></p>
		<center>
			<p><font size="7" face="$BJ?@.L@D+(B" color="#009933">$BLn30?fHS(B</font></p>
		</center>
		<p><font size="5" face="$BJ?@.3Q%4%7%C%/(B"> $BLn30$9$$$5$s$G$O!"$=$l$>$l$NHI$G!":n$j$?$$$b$N$rA*$S!"3F<+$G7W2h$r?J$a$F$-$^$7$?!#(B</font><br>
		<font size="5" face="$BJ?@.3Q%4%7%C%/(B"> $B2P$OG.$$$7!"<+J,$?$A$@$1$G:n$k$N$OBgJQ$G$7$?$,!"HI$NCf$G=u$19g$C$?$j!"65$(9g$C$?$j$7$F!"6(NO$9$k$3$H$,$G$-$^$7$?!#(B</font><br>
		<font size="5" face="$BJ?@.3Q%4%7%C%/(B"> $BE4?M$K$b%S%C%/%j$9$k$/$i$$$N%G%j%7%c%9%+%l!<(B&amp;$B>F$-$=$P$,$G$-$^$7$?!#(B</font></p>
		<p>
		<hr width="100%">
		<p></p>
		<center>
			<p><font size="7" face="$BJ?@.L@D+(B" color="#009933">$B%*!<%k%9%?!<%2!<%`Bg2q(B</font></p>
		</center>
		<p><font size="5" face="$BJ?@.3Q%4%7%C%/(B"> $B$?$/$5$s$N?M$,!V3Z$7$+$C$?!W$H$$$C$?!"%*!<%k%9%?!<%2!<%`Bg2q!"%3%s%H$d%+%i%*%1!"%8%c%s%1%sBg2q$d%S%s%4?M$"$F%2!<%`$J$I@9$j$@$/$5$s$N%W%m%0%i%`$G3Z$7$_$^$7$?!#%*!<%k%9%?!<$H$$$&$N$O!"3XG/A40w$G3Z$7$a$k$h$&$K$H$$$&4j$$$r9~$a$F!"$D$1$i$l$?$b$N$G$9!#$3$N%2!<%`Bg2q$G!":#$^$GCN$i$J$+$C$?M'>p$H$U$l$"$&$3$H$,$G$-!"M'>p$NNX$,Bg$-$/9-$,$j$^$7$?!#(B</font></p>
		<p>
		<hr width="100%">
		<p></p>
		<center>
			<p><a href="./" rel="prev"><font size="4" face="$BJ?@.3Q%4%7%C%/(B">$BA0$N%Z!<%8$XLa$k(B</font></a></center>
	</body>

<ins class="densetsu">
<address>
[<a href="/">/</a>]
[<a href="../../">$BEA@b$N$*$/$A$e!#(B</a>
<a href="../">$BJ?@.(B10(1998)$BG/EY(B</a>
<a href="./" rel="contents" class="blue">$BBh(B1$B3XG/(B</a>]
</address>
<div class="update">2001-09-23</div>
</ins>
</html>
