<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">

	<head>
<title>$BG3$($m(B! &amp; $BG3$($D$-$m(B! $B%/%i%9BP93(B $B%I%C%A%\!<%kBg2q(B</title>
<link rel="stylesheet" href="../../okuchuu-style">
<link rel="shortcut icon" href="../../favicon.ico">
<link rel="contents" href="./">
<link rel="prev" href="1-B">
<link rev="made" href="mailto:wakaba@suika.fam.cx">
<meta name="aurhor" content="$BJ?@.(B10$BG/EYBh(B1$B3XG/@8EL2q<99TIt(B, $B9b>>(B, $B<cMU(B">
		<meta name="generator" content="Adobe GoLive 4">
	</head>

	<body text="black" bgcolor="#00ffb4" link="blue" vlink="#551a8b" alink="blue">
		<center>
			<img src="title.gif" border="0" height="120" width="600" alt="$BG3$($m(B! &amp; $BG3$($D$-$m(B! $B%/%i%9BP93(B $B%I%C%A%\!<%kBg2q(B"></center>
		<p>
		<hr width="100%">
		<p></p>
		<p><font size="6" face="$BJ?@.L@D+(B" color="red">$B!&(B1$BG/@8$G$N3Z$7$$;W$$=P$r:n$m$&!#(B</font><br>
		<font size="6" face="$BJ?@.L@D+(B" color="#fe00ff">$B!&%/%i%9$NCD7kNO$r?<$a$h$&!#(B</font><br>
		<font size="6" face="$BJ?@.L@D+(B" color="blue">$B!&3XG/$N8rN.$r?<$a$h$&!#(B</font></p>
		<p>
		<hr width="100%">
		<p></p>
		<p><font size="5" face="$BJ?@.3Q%4%7%C%/(B"> 1$B3XG/$G$O!"=U$HE_$NFs2s!"%I%C%8%\!<%kBg2q$r<B;\$7$^$7$?!#$3$NBg2q$4$H$K!"%/%i%9$NCD7kNO$O$b$A$m$s!"3XG/$NM'>p$b?<$^$j$^$7$?!#$^$?!"$3$NBg2q$G<+J,K\Mh$NNO$rH/4x$G$-$??M$bBg@*$$$F!"IaCJ$N3X=,$H$O0c$&M'C#$NB&LL$rCN$k$3$H$b$G$-$^$7$?!#$3$N$h$&$K!">e5-$N$3$N3hF0$N3XG/L\I8$,C#@.$G$-$?$H;W$$$^$9!#(B</font>&nbsp;</p>
		<p>
		<hr width="100%">
		<p></p>
		<center>
			<p><a href="./" rel="prev"><font size="4" face="$BJ?@.3Q%4%7%C%/(B">$BA0$N%Z!<%8$XLa$k(B</font></a></center>

<ins class="densetsu">
<address>
[<a href="/">/</a>]
[<a href="../../">$BEA@b$N$*$/$A$e!#(B</a>
<a href="../">$BJ?@.(B10(1998)$BG/EY(B</a>
<a href="./" rel="contents" class="blue">$BBh(B1$B3XG/(B</a>]
</address>
<div class="update">2001-09-23</div>
</ins>
	</body>
</html>
