<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>($BJ?@.(B11$BG/EY(B)$B=$3XN99T<B9T0Q0w2q(B [$BJ?@.(B10$BG/EY(B]</title>
<?xml-stylesheet href="../../../okuchuu-style"?>
<link rel="stylesheet" href="../../../okuchuu-style" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rel="copyright" href="../../../c" />
<link rel="contents" href="../" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|Cf(B, $B=$3XN99T(B, $B5~ET(B, $BF`NI(B, $B;vA03X=,(B, $B=$3XN99T<B9T0Q0w2q(B" />
</head>
<body>
<h1><a href="../../../"><img class="minilogo" src="../../../logo" alt="$B$*$/$A$e!#(B" /></a>$B=$3XN99T<B9T0Q0w2q(B</h1>

<h2>$B4JC1$K>R2p(B</h2>

<p>$B=$3XN99T<B9T0Q0w2q(B ($B<B9T$7$F$J$$(B;) $B$O!"3F%/%i%9$+$i<c43L>$N0Q0w$+$i$J$j!"(B 2$BG/<!$KCV$$$F$O!";vA03X=,$N;qNA:n@.$rCf?4$K3hF0$7$^$7$?!#(B</p>
<p>$B<B:]$N=$3XN99T5Z$S$=$N8e$K$D$$$F$O!"(B<a href="../../../1999/3/" class="red">$BJ?@.(B11$BG/EYBh(B3$B3XG/(B</a>$B$NJ}$r8fMw2<$5$$!#(B</p>

<h2>$B=$3XN99T;vA0%"%s%1!<%H(B</h2>

<ul>
	<li><a href="jizenankeeto-kekka24">2$BG/(B4$BAH$N7k2L(B</a> (<a href="jizenankeeto-kekka24.ja.html">HTML+PNG</a> $BAm7W(B 251Koctets ($B<ALdMQ;f$r4^$_$^$9!#(B), <a href="jizenankeeto-kekka24-c.ja.xls">Microsoft Excel</a> (gziped) 9.11Koctets ($B=87W!&%0%i%U:n@.MQ(B))</li>
</ul>

<h2>$B=IGq@h;qNA(B</h2>

<p>$B;vA0$N2<8+$K9T$C$?@h@8$KD:$$$?;qNA$G$9!#(B</p>

<ul>
	<li><a href="ryokan">$BN94[>pJs(B</a> (<a href="ryokan.ja.html">HTML</a> 14.4Koctets, <a href="ryokan.ja.xls">Microsoft Excel</a> (gzipped) 5.33Koctets ($B86K\(B))</li>
</ul>

<address>[<a href="/">/</a>] [<a href="../../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>/<a href="../../">$BJ?@.(B10$BG/(B</a>/<a href="../" class="red">$BBh(B2$B3XG/(B</a>]</address>
<div class="update">2001-06-25, 2001-09-23
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid HTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/1998/2/shuugaku-ryokou/index.ja.html&amp;profile=css2" xml:lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
</body></html>
