<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">

<head>
<link rel="stylesheet" href="../../../okuchuu-style">
<link rev="made" href="mailto:wakaba@suika.fam.cx">
<link rel="copyright" href="../../../c">
<link rel="contents" href="./">
<link rel="prev" href="./">
<meta name="author" content="$B<cMU(B">
<meta name="keywords" content="$B1|Cf(B, $B=$3XN99T(B, $B5~ET(B, $BF`NI(B, $B;vA03X=,(B, $B=$3XN99T<B9T0Q0w2q(B">
<meta name="GENERATOR" content="Microsoft FrontPage 3.0">
<title>$B=$3XN99T;vA0%"%s%1!<%H$N7k2L(B</title>
</head>

<body>

<p><strong><big><big>$B=$3XN99T;vA0%"%s%1!<%H$N7k2L(B</big></big></strong></p>

<hr>

<p><img src="jizk-left.gif" border="0" width="652" height="859" alt="($B%"%s%1!<%HMQ;f:8H>J,(B) $B=$3XN99T$N35MW(B"><br>
</p>

<hr>

<p><strong><big>$B%"%s%1!<%H7k2L"v(B2$BG/(B4$BAH"v(B</big></strong></p>

<p align="center"><img src="jizk-1.gif" width="633" height="104"
alt="wpe80.jpg (10927 $B%P%$%H(B)"><br>
<img src="jizk-1a.gif" width="634" height="297" border="0" alt="1$B!&(B2$BG/$N=IGq$G3X$s$@$3$H$O(B? ($B7k2L%0%i%U(B)"><br>
<img src="jizk-2.gif" width="584" height="44" alt="wpe81.jpg (6131 $B%P%$%H(B)"><br>
<img src="jizk-2a.gif" width="373" height="345" border="0" alt="$B$I$s$J=$3XN99T$K$7$?$$$G$9$+(B? ($B7k2L%0%i%U(B)"><br>
<img src="jizk-3.gif" width="491" height="42" alt="wpe82.jpg (5458 $B%P%$%H(B)"><br>
<big><big><strong><big>$BBg:e(B</big></strong></big></big><br>
<img src="jizk-3a.gif" width="509" height="428" border="0" alt=""><br>
<strong><big><big><big>$B5~ET(B</big></big></big></strong><br>
<img src="jizk-4a.gif" width="631" height="452" alt="wpe7B.jpg (34400 $B%P%$%H(B)"><br>
<strong><big><big><big>$BF`NI(B</big></big></big></strong></p>
<div align="center"><center>

<table CELLSPACING="0" BORDER="1" CELLPADDING="2">
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$BD.JB$_(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$BNr;K(B</td>
    <td>5</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$BBgJ)(B</td>
    <td>5</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$BK!N4;{$NNr;K(B</td>
    <td>3</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$BJ)65(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$B=!65(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$BEAE}9)7](B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$BJ82=(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$BElBg;{$NNr;K(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$BEAE}(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$B6d3U;{(B<br>
    <font color="#FF0000"><strong><big>$BCm(B:$B6d3U;{$O5~ET$K$"$j$^$9(B!!</big></strong></font></td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B<+A3(B</font></th>
    <td>$B</(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B<+A3(B</font></th>
    <td>$B</$K$;$s$Y$$(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>$BCN<1(B</td>
    <td>2</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>$B;W$$$C$-$jM7$V!#(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>$BF`NI%I%j!<%`%i%s%I(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>$B$$$m(B<sup>2</sup>$B$J;v(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>$BFC$K$J$7!&L52sEz(B</td>
    <td>2</td>
  </tr>
</table>
</center></div>

<p align="center"><strong><big><big>$B$=$NB>$N>l=j$G(B</big></big></strong></p>
<div align="center"><center>

<table CELLSPACING="0" BORDER="1" CELLPADDING="2">
  <tr>
    <th nowrap><font>$B0{?)(B</font></th>
    <td>$B@D=A(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B>l=j(B</font></th>
    <td>$BF`NI%I%j!<%`%i%s%I(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$BCN<1(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$BNr;K(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BBP?M(B</font></th>
    <td>$BCgNI$/(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BBP?M(B</font></th>
    <td>$B6(NO(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ82=(B</font></th>
    <td>$B>k(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>$B$J$K$+(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>$BM7$V;v(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>$B!V$@!W$N3hMQ(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>$B$$$m$$$m$J;v$r3X$V(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>$BL52sEz!&FC$KL5$7(B</td>
    <td>17</td>
  </tr>
</table>
</center></div>

<p align="center"><img src="jizk-4.gif" width="614" height="29"
alt="wpe83.jpg (4698 $B%P%$%H(B)"></p>
<div align="center"><center>

<table CELLSPACING="0" BORDER="1" CELLPADDING="2">
  <tr>
    <th nowrap><font>$B%k!<%k(B</font></th>
    <td>$BITMWJ*;}$C$F$3$J$$(B</td>
    <td>12</td>
  </tr>
  <tr>
    <th nowrap><font>$B%k!<%k(B</font></th>
    <td>$B7h$^$j(B</td>
    <td>3</td>
  </tr>
  <tr>
    <th nowrap><font>$B%k!<%k(B</font></th>
    <td>$B%^%J!<(B</td>
    <td>2</td>
  </tr>
  <tr>
    <th nowrap><font>$B%k!<%k(B</font></th>
    <td>$B5,B'(B</td>
    <td>2</td>
  </tr>
  <tr>
    <th nowrap><font>$B%k!<%k(B</font></th>
    <td>$BCa=x(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B%k!<%k(B</font></th>
    <td>$B>!<j$J9TF0!_(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B%k!<%k(B</font></th>
    <td>2$BG/@8$N;~$N;v$r7+$jJV$5$J$$(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B%k!<%k(B</font></th>
    <td>$B%k!<%k(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$BJ*(B</font></th>
    <td>$BBg@Z$JJ*(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B?M(B</font></th>
    <td>$BLBOG$+$1$J$$(B</td>
    <td>4</td>
  </tr>
  <tr>
    <th nowrap><font>$B?M(B</font></th>
    <td>$B@h@8$N8@$o$l$?;v!#(B</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>$B;~4V(B</td>
    <td>14</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>3$BG/$H$7$F$N<+3P$r!#(B</td>
    <td>1</td>
  </tr>
</table>
</center></div>

<p align="center"><img src="jizk-5.gif" width="758" height="180"
alt="wpe84.jpg (18655 $B%P%$%H(B)"></p>
<div align="center"><center>

<table CELLSPACING="0" BORDER="1" CELLPADDING="2">
  <tr>
    <th nowrap><font>$B0U8+(B</font></th>
    <td bgcolor="#FFE6E6">$BBg:e>k3Z$7$/$J$$!#(B</td>
    <td bgcolor="#FFE6E6">1</td>
  </tr>
  <tr>
    <th nowrap><font>$B0U8+(B</font></th>
    <td bgcolor="#FFE6E6">$B3$M74[3Z$7$/$J$$!#(B</td>
    <td bgcolor="#FFE6E6">1</td>
  </tr>
  <tr>
    <th nowrap><font>$B0U8+(B</font></th>
    <td bgcolor="#FFE6E6">$BK!N4;{3Z$7$/$J$$!#(B</td>
    <td bgcolor="#FFE6E6">1</td>
  </tr>
  <tr>
    <th nowrap><font>$BMWK>(B</font></th>
    <td bgcolor="#EEFFEE">$B%2!<%`2q<R$r8+3X$5$;$FD:$-$?$$!#(B</td>
    <td bgcolor="#EEFFEE">1</td>
  </tr>
  <tr>
    <th nowrap><font>$B46A[(B</font></th>
    <td bgcolor="#DDFFFF">$B3Z$7$+$C$?!#(B</td>
    <td bgcolor="#DDFFFF">1</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>$BFC$KL5$7!&L52sEz(B</td>
    <td>22</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>?</td>
    <td>1</td>
  </tr>
  <tr>
    <th nowrap><font>$B$=$NB>(B</font></th>
    <td>nothing</td>
    <td>1</td>
  </tr>
</table>
</center></div>

<hr>


<ins class="densetsu">
<address>[<a href="/">/</a>]
[<a href="../../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>
<a href="../../">$BJ?@.(B10$BG/(B</a>
<a href="../" class="red">$BBh(B2$B3XG/(B</a>
<a href="./" rel="contents">$B=$3XN99T<B9T0Q0w2q(B</a>]</address>
</ins>
<p><small>h11-3-8 $B=iHG!#(B</small><br>
<small>h11-3-16 $BBh(B2$BHG!#(B</small><br>
<small>h11-6-18 $BBh(B2$BHGBhFs:~!#(B</small>
<ins class="densetsu">2001-09-23</ins></p>
</body>
</html>
