<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="../../../okuchuu-style.css" type="text/css" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$BBh(B53$B2sBN0iBg2q%j!<%@!<8&=$2q(B</title>
<link rel="contents" href="../" title="$BBh(B53$B2sBN0iBg2q(B" />
<link rel="stylesheet" href="../../../okuchuu-style.css" type="text/css" />
<link rev="made" href="mailto:w@suika.fam.cx" />
<link rel="copyright" href="../../../c" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|Cf(B, $B1|EDCf3X9;(B, $BBN0iBg2q(B, $B1?F02q(B, $B@8EL2q(B, $B<B9T0Q0w2q(B, $B1?1D0Q0w2q(B, $B78(B, $B78D9(B, $BAmL3(B, $BCDLr0w(B, $BCD%j!<%@!<(B, $B%G%3%l!<%7%g%s(B, $B%G%3D9(B, $B%G%378(B, $B=82q(B, $BG$L?<0(B, $B7kCD<0(B, $B9;D9(B, $B@8EL2qD9(B, $B<B9T0Q0wD9(B, $B%j!<%@!<8&=$2q(B, $B%j!<%@!<(B, $B1~1g(B, $B%j!<8&(B" />
</head>
<body>
<h1><a href="../../../"><img class="minilogo" src="../../../logo" alt="$B$*$/$A$e!#(B" /></a> $BJ?@.(B11$BG/EYBN0iBg2q%j!<%@!<8&=$2q(B</h1>

<p><a href="intro-photo-large" title="$B%j!<%@!<8&=$2q$NLOMM$NBg$-$J<L??(B"><img src="intro-photo-small" alt="$B%j!<%@!<8&=$2q$NLOMM(B" width="240" height="180" style="width: 240px; height: 180px; float: right" /></a>
<a href="../">$BBh(B53$B2sBN0iBg2q(B</a>$B$N%j!<%@!<8&=$2q$O!":rG/EY$^$G$O(B1$BGq(B2$BF|$G9T$C$F$$$^$7$?$,!":#G/EY$+$i$O(B2$B2s$KJ,$1$F3X9;$G9T$&$3$H$K$J$j$^$7$?!#(B</p>

<h2 id="leaken-2">$B%j!<%@!<8&=$2q(B (2)</h2>

<dl>
<dt>$BF|;~(B</dt>	<dd>$BJ?@.(B11$BG/(B(1999$BG/(B)7$B7n(B22$BF|(B 13:30$B!A(B</dd>
<dt>$B>l=j(B</dt>	<dd>$BBN0i4[(B</dd>
<dt>$B;J2q(B</dt>	<dd><span class="red">$BCfC+$H$b$_(B</span> ($BBN0iBg2q<B9T0Q0w(B)</dd>
<dt>$B<B;\MW9K(B</dt>	<dd><a href="../soumu/#book-2">$B4X78;qNA=8(B(2)</a>$B=j<}!#(B</dd>
<dt>$B;qNA(B</dt>	<dd>$B$h$j$h$$1~1g$K$9$k$?$a$K(B ($B55_7@h@8(B)</dd>
<dt>$BHw9M(B</dt>	<dd>$B=*N;8e(B<a href="../nimmei-ketsudan/#nimmei-shiki">$BLr0wG$L?<0(B</a>$B%j%O!<%5%k<B;\!#(B</dd>
</dl>

<ol>
<li>$B3+2q@k8@(B</li>
<li>$B<B9T0Q0wD9$"$$$5$D(B $B!Z<B9T0Q0w2q0Q0wD9(B: <span class="red">$BCfA>:,=U<y(B</span>$B![(B</li>
<li>$B8&=$(B</li>
<li>$B9;D9@h@8(B</li>
<li>$B55_7@h@8(B</li>
<li>$B=*$o$j$N$"$$$5$D(B $B!Z<B9T0Q0w2qI{0Q0wD9(B: <span class="red">$B:#@tKc;R(B</span>$B![(B</li>
<li>$BJD2q@k8@(B</li>
</ol>

<h2 id="leaken-2">$B%j!<%@!<8&=$2q(B (2)</h2>

<dl>
<dt>$BF|;~(B</dt>	<dd>$BJ?@.(B11$BG/(B(1999$BG/(B)7$B7n(B22$BF|(B ($BLZMKF|(B) 13:00$B!A(B</dd>
<dt>$B>l=j(B</dt>	<dd><del>$BBN0i4[(B</del> <ins>$BBh(B1$B;kD03P<<(B (C$BEo(B1$B3,(B)</ins></dd>
<dt>$B;J2q(B</dt>	<dd><span class="red">$BCfC+$H$b$_(B</span> ($BBN0iBg2q<B9T0Q0w(B)</dd>
<dt>$B<B;\MW9K(B</dt>	<dd><a href="../soumu/#leaken-2">$BBh(B53$B2sBN0iBg2q%j!<%@!<8&(B(2)</a>$B;2>H!#(B</dd>
<dt>$B;qNA(B</dt>	<dd><a href="../soumu/#leaken-2">$BBh(B53$B2sBN0iBg2q%j!<%@!<8&(B(2)</a></dd>
<dt>$BHw9M(B</dt>	<dd>$B=*N;8e(B<a href="../nimmei-ketsudan/#nimmei-shiki">$BLr0wG$L?<0(B</a>$B%j%O!<%5%k<B;\!#(B</dd>
</dl>

<ol>
<li>$B3+2q@k8@(B</li>
<li>$B<B9T0Q0wD9$"$$$5$D(B $B!Z<B9T0Q0w2q0Q0wD9(B: <span class="red">$BCfA>:,=U<y(B</span>$B![(B</li>
<li>$B%9%m!<%,%s$K$D$$$F(B</li>
<li>$B5,Dj$K$D$$$F(B
	<ul>
	<li>$B1~1g(B</li>
	<li>$B:NE@(B</li>
	<li>$B$=$NB>(B</li>
	</ul>
</li>
<li>$B@h@8$N$*OC(B</li>
<li>$B=*$o$j$N$"$$$5$D(B $B!Z<B9T0Q0w2qI{0Q0wD9(B: <span class="red">$B:#@tKc;R(B</span>$B![(B</li>
<li>$BJD2q@k8@(B</li>
<li>$B2q7W2q5D(B ($BI{CDD9!&%G%3D9$N$_(B) ($B2q>l(B: $B@8EL2q<<(B (A$BEo(B3$B3,(B))</li>
</ol>

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>
<a href="../../">$BJ?@.(B11$BG/EYA04|@8EL2q(B</a>
<a href="../">$BBh(B53$B2sBN0iBg2q(B</a>]
<a href="http://validator.w3.org/check/referer" xml:lang="en">
<img src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
  alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" />
</a>
<a href="http://jigsaw.w3.org/css-validator/check/referer" xml:lang="en">
<img style="width: 88px; height: 31px" id="w3c-css"
  src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
</a>
</div>
<div class="update">$Date: 2002/09/05 09:26:16 $</div>
<ul class="myuri">
<li>&lt;URL:<a href="http://suika.fam.cx/okuchuu/1999z/sf53/leaken/intro">http://suika.fam.cx/okuchuu/1999z/sf53/leaken/intro</a>&gt;</li>
<li>&lt;CVS:<a href="http://suika.fam.cx/gate/cvs/okuchuu/1999z/sf53/leaken/intro">suika.fam.cx:/home/cvs/okuchuu/1999z/sf53/leaken/intro</a>&gt;</li>
</ul>
</body></html>
