<html lang="ja">
<head>
<title>$BBh(B53$B2sBN0iBg2q(B</title>
<link rel="stylesheet" href="/s/simpledoc" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rev="copyright" href="../../../c" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B$*$/$A$e(B, $B@8EL2q(B, $BBN0iBg2q(B, $B<B9T0Q0w2q(B, $BAmL3(B, $B%W%m%0%i%`(B" />
</head>
<body>
<h1><a href="../../../"><img class="minilogo" src="../../../logo" alt="$B$*$/$A$e!#(B" /></a> $BBh(B53$B2sBN0iBg2q(B/$BAmL34X78;qNA(B</h1>

<h2>$B;qNAK\(B</h2>

<h3>$B4X78;qNA=8(B(1)</h3>

<p>($B?&0w2q5D$GG[I[$5$l$?$h$&$G$9!#(B)</p>

<h3>$B4X78;qNA=8(B(2) [7$B7n(B2$BF|(B]</h3>

<p><a href="book-2">$BA4BN(B</a> ($B0J2<A4$F4^$^$l$^$9!#(B) (<a href="book-2.ja.pdf">PDF</a> 682.54kilo-octets)</p>

<ul>
	<li><a href="book-2-cover">($BI=;f(B)</a> (<a href="book-2-cover.ja.cwj">Craris Works 4.0 (Macintosh)</a> 6.37kilo-octets)</li>
	<li>($BI=;fN"(B)	$B%j!<%@!<8&=$2q(B(1)$B$K$D$$$F(B</li>
	<li>(1$BJG(B)	<a href="leaken-1-youkou">$BBN0iBg2qLr0wG$L?<0!&7kCD<0<B;\MW9K(B</a> (<a href="leaken-1-youkou.ja.cwj">Craris Works 4.0 (Macintosh)</a> 8.00kilo-octets)</li>
	<li>(2$BJG(B)	$BBh(B53$B2sBN0iBg2q(B $B<B9T0Q0w2qAH?%(B</li>
	<li>(3$BJG(B)	$BCD0wL>Jm2~D{HG$K$D$$$F(B,
	        	$BCDJL?M?t=87WI=(B</li>
	<li>(4$BJG!A(B11$BJG(B)	$BCD%j!<%@!<L>Jm(B,
	        	$BCDJLL>Jm(B($B2~D{HG(B)</li>
	<li>(12$BJG(B)	$BBg2qEvF|$^$G$N78J,C4(B($B2~D{HG(B)</li>
	<li>(13$BJG(B)	$BBg2qEvF|$N78J,C4(B($B2~D{HG(B)</li>
	<li>(14$BJG(B)	$BJ?@.(B11$BG/EY(B $BBN0iBg2qC4Ev<T0lMw(B</li>
	<li>(15$BJG(B)	<a href="kyougi-template">$B<oL\JL1?1DI=(B($B?w7A(B)</a> (<a href="kyougi-template.ja.cwj">Craris Works 4.0 (Macintosh)</a> 17.93kilo-octets)</li>
	<li>($BN"I=;fN"(B)	$BBN0iBg2q78"+"*@lLg0Q0w(B $BBP1~I=(B</li>
</ul>


<h3>$BCDD92q5D;qNA(B(1) [7$B7n(B7$BF|(B]</h3>

<ul>
	<li><a href="danchou-1-book-cover">$BI=;f(B</a> (<a href="danchou-1-book-cover.ja.cwj">Craris Works 4.0 (Macintosh)</a> 7.91kilo-octets; <a href="danchou-1-book-cover.ja.png">PNG</a> 5.98kilo-octets)</li>
</ul>

<h3>$B4X78;qNA=8(B(3) $B78JLL>JmDV$j(B [7$B7n(B8$BF|(B]</h3>

<ul>
	<li><a href="book-3-cover">($BI=;f(B)</a> (<a href="book-3-cover.ja.cwj">Craris Works 4.0 (Macintosh)</a> 6.66kilo-octets; <a href="book-3-cover.ja.pdf">PDF</a> 55.31kilo-octets)</li>
	<li>(1$BJG!A(B3$BJG(B)	$B78JLL>Jm(B</li>
	<li>(4$BJG(B)	<a href="shuukai-basho">$B78JL=82q(B $B=82q>l=j0lMw(B</a> (<a href="shuukai-basho.ja.xls">Microsoft Excel</a> 10.50kilo-octets)</li>
</ul>

<h3>$BBh(B53$B2sBN0iBg2q%j!<%@!<8&(B(2) 7$B7n(B22$BF|(B</h3>

<p><img src="leaken-2-book-cover-mini" style="float: left; width: 193px; height: 279px" alt="($BI=;f(B)" /> <a href="leaken-2-book">$BA4BN(B</a> ($B0J2<$rA4$F4^$_$^$9!#(B) (<a href="leaken-2-book.ja.pdf">PDF</a>)</p>
<p><a href="leaken-2-youkou">$B%j!<%@!<8&=$2q(B(2)$B<B;\MW9K(B</a> (<a href="leaken-2-youkou.ja.pdf">PDF</a> 7.72kilo-octets)</p>

<ul>
	<li>($BI=;f(B)</li>
	<li>($BI=;fN"(B)	$BL\<!(B</li>
	<li>($BI=;f$N<!(B)	$B%j!<%@!<8&(B(2)$B%l%8%e%a(B</li>
	<li>($BI=;f$N<!N"(B)	$B%a%bMs(B</li>
	<li>(1$BJG(B)	<a href="slogan">$B%9%m!<%,%s8uJd(B</a> (<a href="slogan.ja.html">HTML</a> 1.69kilo-octets)</li>
	<li>(2$BJG(B)	$B1~1g%W%i%s(B($B?w7A(B)</li>
	<li>(3$BJG(B)	$BCDN}=,7W2h(B($B?w7A(B)</li>
	<li>(4$BJG(B)	$BCDN}=,M=Dj(B September($B?w7A(B)</li>
	<li>(5$BJG(B)	$B%G%3%l!<%7%g%s%W%i%s(B($B?w7A(B)</li>
	<li>(6$BJG(B)	$B%G%3%l!<%7%g%s@=:nF|Dx(B($B?w7A(B)</li>
	<li>(7$BJG(B)	$B1~1g5,Dj$K$D$$$F(B</li>
	<li>(8$BJG(B)	$B!7(B($BB3$-(B)</li>
	<li>(9$BJG(B)	$B:NE@5,Dj$K$D$$$F(B</li>
	<li>(10$BJG(B)	$B!7(B($BB3$-(B)</li>
	<li>(11$BJG(B)	$B$=$NB>$K$D$$$F(B</li>
	<li>(12$BJG(B)	$B!7(B($BB3$-(B)</li>
	<li>(13$BJG(B)	$B!7(B($BB3$-(B)</li>
	<li>(14$BJG(B)	<a href="kitei-saiten">$B:NE@5,Dj(B</a> (<a href="kitei-saiten.ja.doc">Microsoft Word</a> 27.00kilo-octets)</li>
	<li>(15$BJG(B)	<a href="kitei-ouen-2-1">$B1~1g5,Dj(B</a> (<a href="kitei-ouen-2-1.ja.doc">Microsoft Word</a> 13.50kilo-octets)</li>
	<li>(16$BJG(B)	<a href="kitei-ouen-2-2">$B!7(B($BB3$-(B)</a> (<a href="kitei-ouen-2-2.ja.doc">Microsoft Word</a> 13.50kilo-octets)</li>
	<li>(17$BJG(B)	<a href="kitei-ouen-2-3">$B!7(B($BB3$-(B)</a> (<a href="kitei-ouen-2-3.ja.doc">Microsoft Word</a> 12.50kilo-octets)</li>
</ul>

<h3>$B4X78;qNA=8(B(4) [8$B7n(B27$BF|(B]</h3>

<ul>
	<li>($BI=;f(B)</li>
	<li>(1$BJG(B)	$BJ?@.(B11$BG/EY(B $BBh(B53$B2s(B $BBN0iBg2q%W%m%0%i%`(B</li>
	<li>(2$BJG(B)	<a href="kitei-saiten">$B:NE@5,Dj(B</a> (<a href="kitei-saiten.ja.doc">Microsoft Word</a> 27.00kilo-octets)</li>
	<li>(3$BJG(B)	<a href="kitei-ouen-2-1">$B1~1g5,Dj(B</a> (<a href="kitei-ouen-2-1.ja.doc">Microsoft Word</a> 13.50kilo-octets)</li>
	<li>(4$BJG(B)	<a href="kitei-ouen-2-2">$B!7(B($BB3$-(B)</a> (<a href="kitei-ouen-2-2.ja.doc">Microsoft Word</a> 13.50kilo-octets)</li>
	<li>(5$BJG(B)	<a href="kitei-ouen-2-3">$B!7(B($BB3$-(B)</a> (<a href="kitei-ouen-2-3.ja.doc">Microsoft Word</a> 12.50kilo-octets)</li>
	<li>(6$BJG(B)	$BBN0iBg2qA4BNN}=,7W2h(B($B0F(B)</li>
	<li>(7$BJG(B)	$BJ?@.(B11$BG/EY(B $BBN0iBg2q<oL\JLC4Ev<T0lMw(B</li>
	<li>(8$BJG(B)	$BBh(B53$B2s(B $BBN0iBg2qM=9TN}=,7W2h(B</li>
	<li>(9$BJG(B)	$BBh(B53$B2s(B $BBN0iBg2q(B $B3+!&JD2q<0$K$D$$$F(B</li>
	<li>(10$BJG!A(B25$BJG(B)	$B<oL\JL1?1DI=(B</li>
	<li>(26$BJG(B)	$BBP@oI=(B</li>
	<li>(27$BJG!A(B32$BJG(B)	$BBh(B53$B2s(B $BBN0iBg2q(B $B%"%J%&%s%9869F(B($B3+2q<0(B)
	                	$BBh(B53$B2s(B $BBN0iBg2q(B $B%"%J%&%s%9869F(B($BJD2q<0(B)</li>
	<li>($B=E(B31$BJG!A(B42$BJG(B)	$BCD!&3XG/JL<oL\=P>l<TL>Jm(B</li>
	<li>(43$BJG!A(B66$BJG(B)	$B<oL\JL%(%s%H%j!<MQ;f(B</li>
	<li>(67$BJG!A(B78$BJG(B)	100m$BAv=PAv=gHV(B</li>
	<li>($BN"I=;fN"(B)	<a href="kaijou">$BJ?@.(B11$BG/EY(B $BBh(B53$B2sBN0iBg2q(B $B2q>l?^(B</a> (<a href="kaijou.ja.cwj">Craris Works 4.0 (Macintosh)</a> 16.25kilo-octets)</li>
</ul>

<h3><a href="../index#to54">$BBh(B54$B2sBN0iBg2q(B $B%j!<%@!<$N3'$5$s$X(B</a> [9$B7n(B7$BF|(B]</h3>

<h2>$B>e5-;qNA=80J30$N;qNA(B</h2>

<ul>
	<li><a href="danbetsu-shuukai-2">$BCDJL=82q(B(2)</a> (<a href="danbetsu-shuukai-2-meibo.ja.doc">($BC4Ev@8EL(B) Microsoft Word</a> 29.50kilo-octets; <a href="danbetsu-shuukai-2.ja.doc">Microsoft Word</a> 65.50kilo-octets)</li>
	<li><a href="video-jouei">$BA02s$N1~1g9g@o$N%S%G%*>e1G2q(B</a> (<a href="video-jouei.ja.pdf">PDF</a> 92kilo-octets; <a href="video-jouei.ja.xls">Microsoft Excel</a> 16kilo-octets)</li>
	<li><a href="senshu-shumoku">$BA*<j@)<oL\0lMw(B</a> (<a href="senshu-shumoku.ja.xls">Microsoft Excel</a> 10.00kilo-octets)</li>
	<li><a href="youbou">$B3FCD$+$i$NMWK>(B</a> (<a href="youbou"></a> 6.92kilo-octets; <a href="youbou-1.ja.doc">$B$=$N(B1 Microsoft Word</a> 21.00kilo-octets; <a href="youbou-2.ja.doc">$B$=$N(B2 Microsoft Word</a> 25.00kilo-octets; <a href="youbou-3.ja.doc">$B$=$N(B3 Microsoft Word</a> 24.50kilo-octets; <a href="youbou-4.ja.doc">$B$=$N(B4 Microsoft Word</a> 26.50kilo-octets)</li>
	<li><a href="meibo.s/">$B3F<oL>JmEy(B</a></li>
	<li><a href="program">$B%W%m%0%i%`(B</a> (<a href="program-names.ja.doc">$BL>Jm!&5-O?ItJ,(B Microsoft Word</a> 299kilo-octets; <a href="program.ja.pdf">PDF</a> 464kilo-octets)</li>
	<li><a href="kusamushiri">$BAp$`$7$jJ,C4(B</a> (<a href="kusamushiri.ja.png">PNG</a> 110.43kilo-octets)</li>
	<li><a href="kaijou-setsuei-zu">$B2q>l@_1D?^(B</a> (<a href="kaijou-setsuei-zu.ja.cwj">Craris Works 4.0 (Macintosh)</a> 10.47kilo-octets; <a href="kaijou-setsuei-zu.ja.png">PNG</a> 2.48kilo-octets)
	<p>$BBN0iBg2qA0F|$N=`Hw$N:]$N$b$N$+!#(B</p></li>
	<li><a href="senshu-sensei-v1">$BA*<j@k@@869F(B($BBh(B1$BHG(B)</a> (<a href="senshu-sensei-v1.ja.cwj">Craris Works 4.0 (Macintosh)</a> 5.09kilo-octets; <a href="senshu-sensei-v1.ja.txt">plain-text</a> 407octets)</li>
	<li><a href="senshu-sensei-v2">$BA*<j@k@@869F(B($BBh(B2$BHG(B)</a> (<a href="senshu-sensei-v2.ja.cwj">Craris Works 4.0 (Macintosh)</a> 5.09kilo-octets; <a href="senshu-sensei-v2.ja.txt">plain-text</a> 391octets)</li>
	<li><a href="saiten-youshi-dantai">$BCDBN9TF0$NIt:NE@MQ;f(B</a> (<a href="saiten-youshi-dantai.ja.pdf">PDF</a> 80.40kilo-octets)</li>
</ul>

<address>[<a href="/">/</a>] [<a href="../../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>/<a href="../../">$BJ?@.(B11$BG/EYA04|@8EL2q(B</a>/<a href="../">$BBh(B53$B2sBN0iBg2q<B9T0Q0w2q(B</a>]</address>
<div class="update">2001-07-14</div>
</body></html>
