<html>

<head>
<meta name="GENERATOR" content="Microsoft FrontPage 3.0">
<link href="/s/simpledoc" type="text/css" rel="stylesheet" />
<title>$BBh(B53$B2sBN0iBg2q;qNA(B $B%9%m!<%,%s8uJd(B</title>
</head>

<body>

<h3>$BBh(B53$B2sBN0iBg2q(B</h3>

<h1>$B%9%m!<%,%s8uJd(B</h1>

<p><strong>[$B%F!<%^(B]</strong></p>

<blockquote>
  <p>1990$BG/Be:G8e$N!";W$$=P$K;D$kBN0iBg2q$K$7$h$&(B! </p>
</blockquote>

<p>(1)<strong><big><big>$B@;=C9_NW(B $B!A@;$J$kBgCO$G2f$i$NNO$r!A(B</big></big></strong></p>

<blockquote>
  <p>* 
  $BB?$/$N@8EL$NNO$,CD7k$7$F!"0lI$$N@;=C$H$J$j$^$9!#6(5D$KD)$`0l?M0l?M$N@8EL$K!"$=$N@;=C$NCD7k$NNO$,99$J$kNO$r0z$-=P$7$F$/$l$k$3$H$G$7$g$&!"$H$$$&0UL#$,9~$a$i$l$F$$$^$9!#(B</p>
</blockquote>

<p>(2)<strong><big><big>$B@;=C@;@o(B $B!A:#!";M$D$NMr$,?a$-9S$l$k!A(B</big></big></strong></p>

<blockquote>
  <p>* 
  $B;M$D$NCD$N3F@;=CC#$,!"@o$$$NCf$GMr$r5/$3$9$h$&$K!"A40w$,?4$r0l$D$K$7$F!"@9$j>e$,$j$N$"$kBN0iBg2q$K$7$?$$$+$i$G$9!#(B</p>
</blockquote>

<p>(3)<strong><big><big>$B>!Mx$N8w$r5a$a$F(B 
$B!A:#!"?7$?$JEA@b$,9o$^$l$k!A(B</big></big></strong></p>

<blockquote>
  <p>* 
  $B3FCD$,M%>!$rL\;X$7$F0l@87|L?4hD%$k$3$H$G!"1|Cf$N?7$7$$Nr;K$,@8$^$l$k$H;W$&$+$i$G$9!#(B</p>
</blockquote>

<p>(4)<strong><big><big>$B<@IwE\Es(B $B!ANr;K$K9o$`G.$-7c@o!A(B</big></big></strong></p>

<blockquote>
  <p>* 
  $B9S$l68$&GH$H@o$&9R3$$N$h$&$K!"@o$$$O2?$,5/$3$k$+$o$+$i$J$$!"DEGH$H$J$C$F=1$$$+$+$kE($rBG$AGK$j!"Nr;K$K9o$^$l$kG.$-7c@o$r7+$j9-$2$h$&!"$H$$$&0UL#$,9~$a$i$l$F$$$^$9!#(B</p>
</blockquote>

<!-- 2001.07.14: $B$3$l$O!"1|Cf(BCD99$B@):n$KEv$?$C$F!"(B
                 $B;qNAK\$N%9%m!<%,%s$K$D$$$F$NJG$r(B
                 $B5!3#2DFI2=$7$?$b$N$G$9!#(B -->

</body>
</html>
