<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="../../../okuchuu-style" media="all" ?>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$BBh(B53$B2sBN0iBg2qLr0wG$L?<0!&7kCD<0(B</title>
<link rel="contents" href="../" title="$BBh(B53$B2sBN0iBg2q(B" />
<link rel="stylesheet" href="../../../okuchuu-style" media="all" />
<link rev="made" href="mailto:okuchuu@suika.fam.cx" />
<link rel="copyright" href="../../../c" />
<meta name="keywords" content="$B1|Cf(B, $B1|EDCf3X9;(B, $BBN0iBg2q(B, $B1?F02q(B, $B@8EL2q(B, $B<B9T0Q0w2q(B, $B1?1D0Q0w2q(B, $B78(B, $B78D9(B, $BAmL3(B, $BCDLr0w(B, $BCD%j!<%@!<(B, $B%G%3%l!<%7%g%s(B, $B%G%3D9(B, $B%G%378(B, $B=82q(B, $BG$L?<0(B, $B7kCD<0(B, $B9;D9(B, $B@8EL2qD9(B, $B<B9T0Q0wD9(B" />
</head>
<body>
<h1>$BJ?@.(B11$BG/EYBN0iBg2qLr0wG$L?<0!&7kCD<0(B</h1>

<p><a href="intro-photo-large" title="$BG$L?<0$NLOMM$NBg$-$J<L??(B"><img src="intro-photo-large" alt="$BG$L?<0$NLOMM(B" width="240" height="180" style="width: 240px; height: 180px; float: right" /></a>
<a href="../">$BBh(B53$B2sBN0iBg2q(B</a>$B$N(B<a href="#nimmei-shiki">$BLr0wG$L?<0(B</a>$B$*$h$S3FCD$N(B<a href="#ketsudan-shiki">$B7kCD<0(B</a>$B$,J?@.(B11$BG/(B7$B7n(B5$BF|(B
($B7nMKF|(B) 5$B8B$K9T$o$l$^$7$?!#(B</p>

<dl>
<dt>$B<B;\MW9K(B</dt>
	<dd><a href="youkou">$B<B;\MW9K(B</a> (<a href="youkou.ja.cwj.gz" title="$B<B;\MW9K(B (Claris Works 4.0 (Macintosh))" type="application/x-claris-works" hreflang="ja">Claris Works 4.0 (Macintosh)</a> 5.33koctets(gziped); <a href="youkou.ja.pdf.gz" title="$B<B;\MW9K(B (PDF)" type="application/pdf" hreflang="ja">PDF</a> 6.86koctets(gziped))</dd>
<dt>$B<L??(B</dt>
	<dd><a href="photo.s/LIST">$BBN0iBg2qLr0wG$L?<0!&7kCD<0(B</a></dd>
</dl>

<h2 id="nimmei-shiki">$BJ?@.(B11$BG/EY(B($BBh(B53$B2s(B)$BBN0iBg2qLr0wG'>Z<0(B</h2>

<dl>
<dt>$BF|;~(B</dt>	<dd>$BJ?@.(B11$BG/(B(1999$BG/(B)7$B7n(B5$BF|(B ($B7nMKF|(B) 5$B8B(B</dd>
<dt>$B>l=j(B</dt>	<dd>$BBN0i4[(B</dd>
<dt>$BAm9g;J2q(B</dt>	<dd><span class="red">$BCfC+$H$bH~(B</span> (<a href="../../">$B@8EL2q(B</a>$B;J2q(B/$BBN0iBg2q<B9T0Q0w(B)</dd>
<dt>$B%j%O!<%5%k(B</dt>	<dd>7$B7n(B3$BF|(B ($BEZMKF|(B) <a href="../leaken/">$B%j!<%@!<8&=$2q(B</a>(1)$B=*N;8e(B</dd>
<dt>$BHw9M(B</dt>	<dd>$B@8EL$O0X;R$r;}$?$:$KF~>l!#(B</dd>
</dl>

<ol>
<li>$B3+2q@k8@(B $B!Z<B9T0Q0w2qI{0Q0wD9(B: <span class="red">$B:#@tKc;R(B</span>$B![(B</li>
<li>$B@8EL2qD9$"$$$5$D(B $B!Z(B<a href="../../">$B@8EL2q(B</a>$BD9(B: <span class="red">$BDaMh9'0l(B</span>$B![(B</li>
<li>$BBN0iBg2q<B9T0Q0wG$L?>Z<xM?(B</li>
<li>$BBeI=$"$$$5$D(B $B!Z<B9T0Q0w2q0Q0wD9(B: <span class="red">$BCfA>:,=U<y(B</span>$B![(B</li>
<li>$BCDLr0wG$L?>Z<xM?(B</li>
<li>$B9;D9@h@8$N$*OC(B</li>
<li>$BJD2q@k8@(B $B!Z<B9T0Q0w2qI{0Q0wD9(B: <span class="red">$B:#@tKc;R(B</span>$B![(B</li>
<li>$B=tO"Mm(B $B!Z<B9T0Q0w2qI{0Q0wD9(B: <span class="red">$B:#@tKc;R(B</span>$B![(B
	<ul>
	<li>$B%9%m!<%,%s!&3XG/<oL\$N7hDjJ}K!(B</li>
	<li><a href="#ketsudan-shiki">$B7kCD<0(B</a>$B>l=jO"Mm(B</li>
	</ul></li>
</ol>

<h2 id="ketsudan-shiki">$BBh(B53$B2sBN0iBg2q7kCD<0(B</h2>

<dl>
<dt>$BF|;~(B</dt>	<dd>$BJ?@.(B11$BG/(B(1999$BG/(B)7$B7n(B5$BF|(B ($B7nMKF|(B) <a href="#nimmei-shiki">$BLr0wG$L?<0(B</a>$B=*N;8e(B</dd>
<dt>$B>l=j(B<dt>	<dd><table style="text-align: center"><thead>
	<tr><th class="sf-red" style="width: 25%">$B@V(B</th>
	<th class="sf-white" style="width: 25%">$BGr(B</th>
	<th class="sf-blue" style="width: 25%">$B@D(B</th>
	<th class="sf-yellow" style="width: 25%">$B2+(B</th></tr>
	</thead><tbody>
	<tr><td>$BBN0i4[(B $BA0(B</td><td>3F $BElEO$jO-2<(B</td>
	<td>$BBN0i4[(B $B8e(B</td><td>$BIpF;4[(B</td></tr>
	</tbody></table></dd>
<dt>$BCm0U(B</dt>
	<dd>$B?J9T$O!"3FCD%j!<%@!<$,9)IW$7$F9T$&!#$?$@$7!";vA0$KCD8\Ld$HLJL)$J7W2h$rN)$F$k$3$H!#(B</dd>
</dl>

<div>$B7kCD<0?J9TNc(B:
<ol>
<li>$B@0Ns(B, $B%W%j%s%HG[I[(B</li>
<li>$BCDLr0w>R2p(B, $B7h0UI=L@$J$I(B</li>
<li>$BCD8\Ld>R2p!&0';"(B</li>
<li>$BCDD9!&I{CDD90';"(B</li>
<li>$BCD<g8\Ld0';"(B</li>
<li>$B2r;6(B</li>
</ol>
</div>

<div id="footer">
<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>
<a href="../../">$BJ?@.(B11$BG/EYA04|@8EL2q(B</a>
<a href="../">$BBh(B53$B2sBN0iBg2q(B</a>]
</div>
<div class="update">$Date: 2004/05/02 03:44:20 $</div>
<ul class="myuri">
<li>&lt;URL:<a href="http://suika.fam.cx/okuchuu/1999z/sf53/nimmei-ketsudan/intro">http://suika.fam.cx/okuchuu/1999z/sf53/nimmei-ketsudan/intro</a>&gt;</li>
<li>&lt;CVS:<a href="http://suika.fam.cx/gate/cvs/okuchuu/1999z/sf53/nimmei-ketsudan/intro">suika.fam.cx:/home/cvs/okuchuu/1999z/sf53/nimmei-ketsudan/intro</a>&gt;</li>
</ul>
</div>
</body></html>
