<html lang="ja">
<head>
<title lang="en">The NO-CHIME Movement</title>
<link rel="stylesheet" href="../../okuchuu-style" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rev="copyright" href="../../c" />
<link rev="prev" href="intro" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B1|Cf(B, $B$*$/$A$e(B, $BH?BP1?F0(B, $B=pL>(B, $B8!F$(B, $BD4::(B, $BBP:v(B, $B0Q0w2q(B" />
<meta name="keywords" lang="en" content="$B%N!<%A%c%$%`(B" />
<style type="text/css">
body
	{background-color: black; color: gray;
	background-image: url(bt)}
h2.h
	{display: none}
</style>
</head>
<body>
<h1><a href="../../"><img class="minilogo" src="../../logo" alt="$B$*$/$A$e!#(B" /></a> $B%N!<%A%c%$%`F0Mp(B</h1>

<h2 class="h">$B$O$8$a$K!#(B</h2>

<p>$B;~$KJ?@.(B11$BG/(B, $B=U!#:F$S$*$/$A$e!#$K!"$3$&$7$F$$$D$b$N(B 1$BG/$,$d$C$FMh$?$+$N$h$&$K8+$($?!#$$$D$b$HJQ$o$i$J$$$*$/$A$e!#$,;O$^$m$&$H$7$F$$$?!#(B</p>
<p>$B$7$+$7!=!=!=!=!=!=!=!=!=!=(B</p>

<address>[<a href="/">/</a>] [<a href="../../">$BEA@b(B($BFf(B)$B$N!V$*$/$A$e!#!W(B</a>/<a href="../">$BJ?@.(B11$BG/EYA04|(B</a>]</address>
<div class="update">2001-07-16</div>
</body></html>
