body
	{background-color: black; color: gray;
	background-image: url(b);
	background-attachment: fixed}
h1
	{position: fixed;
	right: 0; top: 0;
	border-style: none;
	font-size: 200%;
	line-height: 120%;
	font-family: serif}
#f1
	{position: absolute; right: 0.5em; width: 1em; top: 0}
#c1
	{color: black; background-color: #c0c0c0}
#c2
	{font-size: 80%; font-family: sans-serif;
	margin-left: 0.4em}
#f2
	{position: absolute; right: 2em; width: 1em; top: 0.5em}
#c5
	{background-image: url(kane); color: #FBD344;
	background-repeat: none; background-position: center middle}
#f3
	{position: absolute; right: 0.4em; top: 7.9em; width: 11em;
	background-color: #dfffdf; color: #60cbff}
#f3 span
	{font-size: 210%; line-height: 120%}
.rp
	{display: none}
#f4
	{position: absolute; right: 3em; top: 10em; width: 12em}
#f4 span
	{font-size: 80%}

#ssm
	{position: absolute; top: 1em; left: 1em; width: 19em;
	border-style: none; padding: 0}
#ssm cite
	{display: block;
	margin: 0; border-style: none; padding: 0;
	font-size: 200%}
#ssm p
	{margin: 0; border-style: none; padding: 0;
	color: red; font-style: italic}

#tm
	{position: absolute; top: 7em; left: 5em; width: 19em;
	border-style: none; padding: 0}
#tm cite
	{display: block;
	margin: 0; border-style: none; padding: 0}
#tm p
	{margin: 0; border-style: none; padding: 0;
	color: green; font-family: fantasy}

#gb
	{text-indent: 0}

#gb1
	{position: absolute; right: 20%; top: 10%;
	width: 1.5em; z-index: 500;
	font-size: 400%; line-height: 130%;
	color: #402000}

#gb2
	{position: absolute; right: 4%; top: 50%;
	z-index: 501;
	font-size: 500%; line-height: 130%;
	color: #002222}

#next
	{position: absolute; bottom: 1em; left: 1em;
	width: 1.5em; height: 3em;
	margin: 0; border-style: none; padding: 0;
	text-indent: 0}
