<html lang="ja">
<head>
<title>$BC/$,0Y$K>b$OLD$k$d$H!V$*$/$A$e!#!W$NLkL@$1$rBT$D<TC#$X!=!=(B</title>
<link rel="stylesheet" href="../../okuchuu-style" />
<link rel="stylesheet" href="intro-style" title="$B<g$K2hLLI=<(MQ(B" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rev="copyright" href="../../c" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B$*$/$A$e(B, $B1|Cf(B, $B9SC+?J(B, $B=pL>(B" />
<meta name="keywords" lang="en" content="$B%N!<%A%c%$%`(B, no chime" />
<link rev="content" href="index" />
<link rev="next" href="index" />
<link rev="prev" href="../index" />
</head>
<body>
<h1><span id="f1"><span id="c1">$BC/(B</span><span id="c2">$B$,(B</span><span id="c3">$B0Y(B</span><span id="c4">$B$K(B</span></span><span id="f2"><span id="c5">$B>b(B</span>$B$OLD$k$d$H(B</span><span id="f3"><span><span class="rp">$B!V(B</span>$B$*$/$A$e!#(B<span class="rp">$B!W(B</span></span></span><span id="f4"><span>$B$NLkL@$1$rBT$D<TC#$X!=!=(B</span></span></h1>

<blockquote id="ssm">
<p>$BCS$K@P$rEj$2F~$l$k$H!"GH$,!":G=i$O>.$5$$$G$9$,!"CJ!9$HBg$-$/$J$C$F$$$/!#AG@2$i$7$$$H;W$$$^$;$s$+(B?</p>
<cite>$B9SC+?J(B</cite>
</blockquote>

<blockquote id="tm">
<p>$B??LkCf$N==Fs;~$r>/$7$G$b2a$.$F$O$$$1$J$$!#$b$7==Fs;~$h$j>/$7$G$bD9$/IqF'2q$K;D$C$?$j$9$k$H!"GO$OFs==F|AM$K!"=><T$Oirin$K!"Ce$F$$$kJ*$b85$N8E$$I~$KLa$C$F$7$^$&$h!#(B</p>
<cite>$BL1OC!X%7%s%G%l%i!Y(B</cite>
</blockquote>

<p id="gb"><span id="gb1">$B$5$h$J$i(B</span> <span id="gb2">$B;~$N@:$h!#(B</span></p>

<p id="next"><a href="index" accesskey="N">$B<!$X(B</a></p>

</body></html>
