<html lang="ja">

<head>
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 9">
<meta name=Originator content="Microsoft Word 9">
<title>$B1|Cf$N51$+$7$$L$Mh$K8~$1$F(B</title>
<style type="text/css">
h1	{text-align: center}
h1 .sub	{display: block; font-size: smaller}
</style>
<link rel="stylesheet" href="../../style/simpledoc" />
<link rel="up" href="../" />
</head>

<body>

<h1>$B1|Cf$N51$+$7$$(B<ruby><rb>$BL$Mh(B</rb><rp>(</rp><rt>$B$"$7$?(B</rt><rp>)</rp></ruby>$B$K8~$1$F(B
<span class="sub">$B!A:G6a$N@8EL2q$N2~3W$NF0$-!A(B</span></h1>

<p>$B@8EL2q$N2~3W$NDs0F$H9TF0$O:#4|$K8B$i$:!"6+$P$l!"9T$o$l$F$-$^$7$?!#$=$NCf$G$b:#4|$O!"99$J$k2~3W$rB%$93005$NCf!"MM!9$J2~3W$X$NDs0F$,$J$5$l$^$7$?!#(B</p>
<p>$B$3$3$G$O!"$=$N$h$&$JF0$-$NFb$G!";qNA$,8=B8$7$F$*$j!"B>$N0Q0w2qEy$KJ,N`$5$l$J$+$C$?$b$N$r$^$H$a$^$7$?!#(B</p>

<h2 id="april">4$B7n(B</h2>

<dl>
<dt>3$B7nA*5s$NDs0F=q(B</dt>
<dt>$BA04|Lr0wA*5s(B</dt>
<dt>$B@8EL2q<99TIt$K$F(B3$B7nA*5s?35D(B($B7QB3?35D$r7hDj(B)</dt>
<dt><a href="../gf/">Good Friends$B1?F0(B</a>$B$N99$J$k?JJb$X$N?35D(B($B!A(B6$B7n(B)</dt>
<dt>$B?7$?$J;kE@$+$i$N@8EL2qG/4V7W2h0F$N:n@.(B</dt>
	<dd>$B=>Mh$N=D3d$j(B ($B0Q0w2q$4$H(B) $B7?$NG/4V7W2h:vDj$r2~$a!"(B
	$B3F7n$4$H$K6&DL%F!<%^$rDj$a!"(B
	$B$=$l$r85$K3F0Q0w2q$N3hF0$K4XO"$r$b$?$;$k7A$G7W2h$rN)$F$^$7$?!#(B</dd>
<dt>$B!X(B<a href="propose-eventplan">$B@8EL2q<99TIt<g:E$N9T;v!&=82qEy$N%$%Y%s%H$N4k2h%W%m%;%9$K$D$$$F(B</a>$B!YDs0F(B</dt>
	<dd>(<a href="propose-eventplan.ja.doc">Microsoft Word</a> 26.50kilo-octets; <a href="propose-eventplan.ja.pdf">PDF</a> 35.23kilo-octets)</dd>
	<dd>$B@8EL2q<99TIt$K$h$k9T;v$N4k2hN)0F2aDx$N2~A1$K$h$kCFNOE*$J@8EL2q1?1D$,Ds0F$5$l$^$7$?!#(B
	$B$3$NDs0F$OBg$-$JH?6A(B<!--$B8XD%$7$9$.(B?-->$B$r8F$S$^$7$?!#(B</dd>
</dl>

<h2 id="may">5$B7n(B</h2>

<dt>$B@8ELAm2q(B</dt>

<h2 id="june">6$B7n(B</h2>

<dl>
<dt>$B@8EL2q4XO"$N5!3#2DFI7A<0=qN`$NJ]B8$K4X$9$k7z5D=q(B</dt>
<dt>$B2a5n$N@8EL2q=qN`$N5!3#2DFI7A<0$K$h$kJ]B8$NDs0F(B</dt>
	<dd>$B@8EL2q$NJ8=q:n@.$K7W;;5!$,<h$jF~$l$i$l$F5W$7$/!"(B
	$B=EMW$J@U$rC4$C$F$$$k$3$H$+$i!"(B
	$B$^$?0lJ}$G=>Mh$+$i$N;f$N=qN`$,L5@0M}$K$7$^$$$3$^$l!"(B
	$BBgA]=|$J$I$N5!2q$K<N$F$i$l$+$M$J$$$3$H$+$i!"(B CD
	$B$K>F$$$FJ]B8$9$k$3$H$,Ds0F$5$l$^$7$?!#(B</dd>
	<dd>$B$3$N;~$NDs0F$O<j=q$-$G$"$j!"$7$+$b8=B8$7$^$;$s$,!"(B
	$BF1Ey$NFbMF$NDs0F=q$,(B<a href="#october">$B8e(B</a>$B$K5!3#2DFI2=$5$l$F$$$^$9!#(B</dd>

<dt><a href="draft-kaikaku-v1-p1">$B@8EL2q2~3W0FBh(B1$BIt(B</a> (<a href="draft-kaikaku-v1-p1.ja.txt">plain-text</a> 5.02kilo-octets)</dt>
<dt><a href="draft-kaikaku-v1-p2">$B@8EL2q2~3W0FBh(B2$BIt(B</a> (<a href="draft-kaikaku-v1-p2.ja.txt">plain-text</a> 2.43kilo-octets)</dt>
<dt><a href="draft-kaikaku-v1-p3">$B@8EL2q2~3W0FBh(B3$BIt(B</a> (<a href="draft-kaikaku-v1-p3.ja.txt">plain-text</a> 2.46kilo-octets)</dt>
<dt><a href="draft-kaikaku-v1-p4">$B@8EL2q2~3W0FBh(B4$BIt(B</a> (<a href="draft-kaikaku-v1-p4.ja.txt">plain-text</a> 8.18kilo-octets)</dt>
<dt><a href="draft-kaikaku-v1-z">$B@8EL2q2~3W0F$K$D$$$F$N%a%b(B ($B;29M(B)</a> (<a href="draft-kaikaku-v1-z.ja.txt">plain-text</a> 626octets)</dt>
	<dd>$B$3$l$i$N0lO"$NDs0F$O!"FbMF$O??7u$K9MN8$5$l$?$b$N$G$O$"$j$^$9$,!"(B
	$BDs0F$H$$$&9T0Y<+BN$O$=$&??LLL\$J$b$N$G$O$"$j$^$;$s$G$7$?!#(B
	$B$J$<$J$i!"Ev;~$N>u67$+$i$7$F!"(B
	$B$3$NDs0F$,<u$1F~$l$i$l$k2DG=@-$O$[$H$s$INm$G$"$k$H;W$o$l$?$+$i$G$9!#(B</dd>
<dt><a href="draft-kaikaku-v2">$B@8EL2q2~3W0FBh(B2$BHG(B</a> (<a href="draft-kaikaku-v2.ja.txt">plain-text</a> 14.51kilo-octets)</dt>
	<dd>$B$7$+$7$J$,$i!"$=$N$h$&$J>u67$G$"$C$F$b!"(B
	$BFC$K@8EL2qLr0w$N2~3W$X$N4X?4$O9b$/!"(B
	$B2~D{HGDs0F=q$N@):n$K7k$S$D$-$^$7$?!#(B</dd>
</dl>

<h2 id="july">7$B7n(B</h2>

<dl>
<dt><a href="draft-kaikaku-v3">$B@8EL2q2~3W0FBh(B3$BHG(B</a> (<a href="draft-kaikaku-v3.ja.txt">plain-text</a> 20.40kilo-octets)</dt>
<dt><a href="draft-kaikaku-v4">$B@8EL2q2~3WAp0FBh(B4$BHG(B</a> (<a href="draft-kaikaku-v4.ja.doc">Microsoft Word</a> 114.50kilo-octets; <a href="draft-kaikaku-v4.ja.pdf">PDF</a> 171.44kilo-octets)</dt>
</dl>

<h2 id="september">9$B7n(B</h2>

<dl>
<dt>$B8e4|Lr0wA*5s(B</dt>
</dl>

<h2 id="october">10$B7n(B</h2>

<p>$B8e4|$K0z7Q$.$,9T$o$l$?(B10$B7n$K$3$s$J$KBt;3J8=q$,=P$F$k$O$:$,$J$$$H;W$&$s$G$9$,!"(B
$B$=$&5-O?$5$l$F$$$k$N$G$3$3$KJB$Y$F$*$-$^$9!#(B
$B<B:]$K$O(B9$B7n$^$G$K=q$+$l$?J8=q$+$b$7$l$^$;$s!#(B</p>

<dl>
<dt><a href="propose-machine-readable">$B!X@8EL2q4XO"$N5!3#2DFI7A<0=qN`$NJ]B8$K4X$9$kDs0F(B($B2~D{HG(B)$B!Y!&!X2a5n$N@8EL2q=qN`$N5!3#2DFI7A<0$K$h$kJ]B8$NDs0F(B($B2~D{HG(B)$B!Y(B</a> (<a href="propose-machine-readable.ja.doc">Microsoft Word</a> 32.00kilo-octets; <a href="propose-machine-readable.ja.pdf">PDF</a> 17.84kilo-octets)</dt>
	<dd><a href="#june">$B0JA0(B</a>$B$NDs0F$N2~D{HG$G$9!#(B</dd>
<dt><a href="draft-kaikaku-v5">$B@8EL2q2~3WAp0FBh(B5$BHG(B</a> (<a href="draft-kaikaku-v5.ja.doc">Microsoft Word</a> 49.00kilo-octets; <a href="draft-kaikaku-v5.ja.pdf">PDF</a> 189.16kilo-octets)</dt>
<dt><a href="draft-kaikaku-v5-amd1">$B@8EL2q2~3WAp0F(B $BJd0d(B1 ($BLr0w=89g5Z$S>H9g=gHV(B)</a> (<a href="draft-kaikaku-v5-amd1.ja.doc">Microsoft Word</a> 24.00kilo-octets; <a href="draft-kaikaku-v5-amd1.ja.pdf">PDF</a> 111.96kilo-octets)</dt>
<dt><a href="draft-letsclean">Let's Clean$B$X$NDs0F(B</a> (<a href="draft-letsclean.ja.doc">Microsoft Word</a> 25.50kilo-octets; <a href="draft-letsclean.ja.pdf">PDF</a> 107.46kilo-octets)</dt>
	<dd>$B$J$<$3$l$,@8EL2q2~3WAp0F$NIUB0J8=q$K$J$C$F$$$k$N$+$OFf$G$9$,(B...</dd>
<dt><a href="draft-kaikaku-v5-amd3">$B@8EL2q2~3WAp0F(B $BJd0d(B3 ($B@lLg0Q0w2q1?1D5,B'0F(B)</a> (<a href="draft-kaikaku-v5-amd3.ja.doc">Microsoft Word</a> 23.00kilo-octets; <a href="draft-kaikaku-v5-amd3.ja.pdf">PDF</a> 122.63kilo-octets)</dt>
<dt>$B1|Cf$N(B i18n ($B9q:]2=(B) $B$H(B l10n ($BCO0h2=(B) $B$X$NDs0F(B</dt>
	<dd>$BBj$,0UL#ITL@(B ($BH>J,^/Mn(B) $B$G$9$,!"(B
	$B$=$&$$$&Ds0F$N0lIt$H$7$F0LCVIU$1$i$l$F$$$^$7$?(B($BFf(B)$B!#(B</dd>
	<dd><dl>
	<dt><a href="propose-open-computer">$B%3%s%T%e!<%?<<$N3+J|$NDs0F(B</a> (<a href="propose-open-computer.ja.doc">Microsoft Word</a> 20.50kilo-octets; <a href="propose-open-computer.ja.pdf">PDF</a> 71.09kilo-octets)</dt>
		<dd>$BJ?@.(B11$BG/EY$h$j!VFCJL65<<$N3+J|!W(B
		$B$H>N$7$FJ|2]8e$KFCJL65<<$r;\>{$;$:@8EL$,MxMQ2DG=$K$J$j$^$7$?$,!"(B
		$B%3%s%T%e!<%?<<$ONc30$G$7$?!#(B ($B$?$@$7%Q%=%3%sIt$N3hF0$,9T$o$l$F$$$?F|$O!"(B
		($B%Q%=%3%sItIt0w0J30$b(B) $BB?$/$N?M$,MxMQ$7$F$$$^$7$?!#(B)
		$B$3$N>u67$r2~A1$7$h$&$H$9$kDs0F$G$9!#(B</dd>
	<dt><a href="propose-rename-computer">$B%3%s%T%e!<%?<<$N2~>N$NDs0F(B</a> (<a href="propose-rename-computer.ja.doc">Microsoft Word</a> 23.00kilo-octets; <a href="propose-rename-computer.ja.pdf">PDF</a> 73.05kilo-octets)</dt>
		<dd>$B$[$H$s$I^/Mn$G$9!#(B</dd>
	</dl></dd>
<dt><a href="propose-seitokai-computer">$B@8EL2q<<$X$N7W;;5!@_CV$NDs0F(B</a> (<a href="propose-seitokai-computer.ja.doc">Microsoft Word</a> 20.50kilo-octets; <a href="propose-seitokai-computer.ja.pdf">PDF</a> 70.58kilo-octets)</dt>
	<dd>$B@8EL2q<<$K$"$C$?7W;;5!$O8E$/$F(B (5 $B7?%U%m%C%T!<!&%G%#%9%/!&%I%i%$%V$,$D$$$F$?$j$7$F(B)$B!"(B
	$BJ?@.(B11$BG/EYA04|$NESCf$G<N$F$i$l$^$7$?!#(B
	$B;H$$J*$K$J$i$J$$$N$G@h@8$d@8EL$,%N!<%H7?$N7W;;5!$r;};2$7$?$j!"(B
	$B0l!9%3%s%T%e!<%?<<$KB-$r1?$s$@$j$7$F$$$^$7$?!#(B
	($B9T$C$F$_$?$i80$,$+$+$C$F$$$?$j$b$9$k!#(B
	$B$=$N>e@h@8$,2q5DCf$@$C$?$j$7$?$iF'$s$@$j$1$C$?$j!#(B)
	$B@8EL2q3hF0$N1_3j$J1?MQ$N$?$a$K7W;;5!$N@_CV$,Ds0F$5$l$^$7$?!#(B</dd>
</dl>

<p>$BCm0U(B : $B$3$3$K5s$2$?J8=q$N$[$H$s$I$O!"@8EL2qLr0w$N0lIt$N0U8+$r=R$Y$?$b$N$G$"$C$F!"@8EL2qLr0wA4BN$"$k$$$O@8EL2qA4BN$N0U8+$rI=L@$9$k$b$N$G$O$J$$$3$H$K$4Cm0U2<$5$$!#(B</p>

</body>

</html>
