<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="http://suika.fam.cx/okuchuu/blue-oceans/" />
<title>404 $B8+$D$+$j$^$;$s!#(B</title>
<?xml-stylesheet href="/s/simpledoc"?>
<link rel="stylesheet" href="/s/simpledoc" />
<?xml-stylesheet href="bo-style"?>
<link rel="stylesheet" href="bo-style" />
<link rev="made" href="mailto:w@suika.fam.cx" />
<link rel="index" href="./" />
<link rel="bookmark" href="http://suika.fam.cx/okuchuu/blue-oceans/" />
<link rel="copyright" href="/c/pd" />
<link rel="shortcut icon" href="/~wakaba/art/icon/okuchuu-bl.ico" />
<meta name="author" content="Okuda Blue Oceans" />
</head>
<body>

<h1>$B8+$D$+$j$^$;$s!#(B</h1>

<p>$B;XDj$5$l$?;q8;$O8+$D$+$j$^$;$s$G$7$?!#(B</p>

<p>$B$I$3$+$N(B Web $BJG$J$I$N%j%s%/$+$i$3$3$KE~C#$7$?>l9g$O!"(B
$B$=$N%j%s%/$,4V0c$C$F$$$k$N$+$b$7$l$^$;$s!#$=$N(B Web $BJG$N4IM}<T$K(B
$BO"Mm$7$F$_$F2<$5$$!#(B</p>

<p>URI $B$rD>@\;XDj$7$?>l9g$O!"$=$N(B URI $B$,4V0c$C$F$$$J$$$+$I$&$+(B
$B8f3NG'2<$5$$!#(B</p>

<p>$B2?$+$4ITL@$JE@$,$4$6$$$^$7$?$i!"8f<j?t$G$9$,(B
<a href="mailto:webmaster@suika.fam.cx">$B4IM}<T(B</a>$B$^$G(B
$B8fO"Mm$$$?$@$/$+!"(B<a href="board-t/board">$B7G<(HD(B</a>$B$K(B
$B=q$$$F2<$5$$!#(B</p>

<div class="navigation">
<a href="./" rel="contents" lang="en">Okuda Blue Oceans</a>
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
<a href="http://validator.w3.org/check?uri=http://suika.fam.cx/okuchuu/blue-oceans/404.ja.html" lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11"
        alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/blue-oceans/404.ja.html" lang="en">
  <img style="width:88px;height:31px"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a>
</div>
<div class="update">$Date: 2002/04/07 02:46:43 $</div>
</body></html>
