html
	{background-color: #ddddff; color: black;
	background-image: url(logo-ss-blue);
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed}

.ed
	{margin: 1em 1em 1em 2em; border: blue solid thin; padding: .2em}

a:link, a:visited
	{border-style: none;
	text-decoration: none}

a:hover
	{background-image: url(bo-style-li);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-color: transparent;
	border-style: none}
