html
	{background-image: none}

body
	{margin: 0 0.12em}

h1
	{margin: 0;
	border-style: none; padding: 0;
	line-height: 110%}

h2
	{cursor: pointer; color: blue}

#subtitle
	{margin-top: -2em; margin-right: 1em;
	text-align: right}

#image
	{text-align: center}

#image .image-intro
	{margin-top: 0; padding-top: 0.01em;
	text-align: center; font-size: 70%}

li
	{display: list-item; margin-right: 1em}

#whatsnew li
	{display: list-item}

strong
	{color: red; font-size: 200%}
