<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ja">
<head>
<title>$B%V%k!<%*!<%7%c%s%:(B</title>
<link rel="stylesheet" href="/s/simpledoc">
<link rel="stylesheet" href="bo-style">
<link rel="stylesheet" href="bo-top-style">
<link rev="made" href="mailto:w@suika.fam.cx">
<link rel="index" href="../bu">
<link rel="bookmark" href="http://suika.fam.cx/okuchuu/blue-oceans/" title="Okuda Blue Oceans">
<link rel="shortcut icon" href="/~wakaba/art/icon/okuchuu-bl.ico" type="image/vnd.microsoft.icon">
<meta name="author" content="Okuda Blue Oceans, $BF#0f(B, $B<cMU(B">
<meta name="keywords" content="$B1|EDCf3X9;(B, $B1|Cf(B, $B?aAU3ZIt(B, $BA49qBg2q(B">
<meta name="keywords" lang="en" content="$B%V%k!<%*!<%7%c%s%:(B, blue oceans, Okuda Blue Oceans, BlueOceans">
<meta name="description" content="$BIY;3;TN)1|EDCf3X9;$N?aAU3ZIt(B, $B%V%k!<%*!<%7%c%s%:$N(B($B5l(B)$B8x<0(B Web $B%5%$%H!#(B">
</head>
<body>

<h1 style="text-align: center">
<img src="logo-s" alt="Blue Oceans">
</h1>
<div id="subtitle">$BIY;3;TN)1|EDCf3X9;?aAU3ZIt(B</div>
<div id="image">
<img src="2002/0324/Fh010036-small" alt="Okuda Blue Oceans 1st Concert (2002/3/24)">
<div class="image-intro" style="font-style: italic">Okuda Blue Oceans 1st Concert (2002/3/24)</div>
<img src="/~wakaba/bin/count/bo" alt="($B;2>H?t(B)">
</div>


<p style="margin: 0.5em; border: 0.5em blue dotted; padding: 0.5em">
$B%V%k!<%*!<%7%c%s%:$N(B Web site $B$O(B
&lt;<a href="http://www.ctt.ne.jp/~bluocean/" title="$B1|ED(B $B%V%k!<%*!<%7%c%s%:(B">http://www.ctt.ne.jp/~bluocean/</a>&gt;
$B$K0\E>$7$^$7$?!#(B
</p>

<div style="text-align: center" id="toc">$B!=(B $BL\<!(B $B!=(B</div>

<!--
<div class="menuitem" id="new">
<h2 onclick="if (document.all.new_list.style.display!='none') {document.all.new_list.style.display='none'} else {document.all.new_list.style.display='inline'}">What's New?</h2>
<ul id="new_list">
</ul>
</div>
-->

<div class="menuitem" id="katsudou">
<h2 onclick="if (document.all.katsudou_list.style.display!='none') {document.all.katsudou_list.style.display='none'} else {document.all.katsudou_list.style.display='inline'}">$B3hF0(B</h2>

<ul id="katsudou_list">
<li><a href="2002/04">$B:#7n$NM=Dj(B</a></li>
<li><a href="2001/">$B:#G/EYM=Dj(B</a></li>

<li><a href="2001/taikai">$B:#G/EYBg2q;22CM=Dj(B</a></li>
</ul>
</div>

<div class="menuitem" id="marching">
<h2 onclick="if (document.all.marching_list.style.display!='none') {document.all.marching_list.style.display='none'} else {document.all.marching_list.style.display='inline'}">$B%^!<%A%s%0$K$D$$$F(B</h2>

<ul id="marching_list">
<li><a href="2001/theme">$BK\G/$N%F!<%^(B</a></li>
<li><a href="taikai/jisseki">$BBg2q<B@S(B</a></li>
<li><a href="taikai/marching">$B%^!<%A%s%0$H$O(B?</a></li>
<!--
<li><a href="taikai/photo">$BBg2q!&%$%Y%s%H;22C<L??(B</a></li>
-->
</ul>
</div>

<div class="menuitem" id="member">
<h2 onclick="if (document.all.member_list.style.display!='none') {document.all.member_list.style.display='none'} else {document.all.member_list.style.display='inline'}">$B9=@.%a%s%P!<(B</h2>

<ul id="member_list">
<li><a href="2001/part/latest">$B:#=5$N0l2!$7%Q!<%H(B!?</a></li>
<li><a href="2001/newmember">$B?7F~It0w>R2p(B</a></li>
<li><a href="katsudou/koushi">$B9V;U>R2p(B</a></li>
</ul>
</div>

<div class="menuitem" id="dantai">
<h2 onclick="if (document.all.dantai_list.style.display!='none') {document.all.dantai_list.style.display='none'} else {document.all.dantai_list.style.display='inline'}">$B$4$"$s$J$$(B</h2>

<ul id="dantai_list">
<li><a href="introduction">BlueOcens $B$H$O(B</a></li>
<li><a href="history">BlueOceans $B$NNr;K(B</a></li>
<li><a href="kouen_ob/">$B8e1g2q$H(B OB$B!&(BOG $B2q$K$D$$$F(B</a></li>
<li><a href="kouen_ob/kaichou">OB$B!&(BOG $B2qD9$K$D$$$F(B</a></li>
<!--
<li><a href="kouen_ob/join">OB$B!&(BOG$B2q(B ($B8e1g2q(B) $BF~2q$K$D$$$F(B</a></li>
-->
</ul>
</div>

<div class="menuitem" id="iken">
<h2 onclick="if (document.all.iken_list.style.display!='none') {document.all.iken_list.style.display='none'} else {document.all.iken_list.style.display='inline'}">$B8f0U8+%3!<%J!<(B</h2>

<ul id="iken_list">
<li><a href="board-t/board">$B7G<(HD(B</a></li>
<li><a href="mailto:blue-oceans@suika.fam.cx" lang="en">e-mail</a></li>
</ul>
</div>
<!--
<div class="menuitem">
<ul>
	<li><a href="link" title="$B4XO"%5%$%H(B">$B%j%s%/=8(B</a></li>
</ul>
</div>
-->

<div class="navigation">
<a href="mailto:blue-oceans@suika.fam.cx" lang="en">$B%V%k!<%*!<%7%c%s%:(B</a> [<a href="http://www.tym.ed.jp/sc259/">$BIY;3;TN)1|EDCf3X9;(B</a>]
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
</address>

<div class="update">$Date: 2004/08/17 06:58:09 $
<a href="http://validator.w3.org/check/referer" lang="en"><img
        src="http://www.w3.org/Icons/valid-html401" id="w3c-html"
        alt="Valid HTML 4.01!" style="height: 31px; width: 88px"></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://suika.fam.cx/okuchuu/blue-oceans/index.ja.html" lang="en">
  <img style="width:88px;height:31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!">
</a></div>
<script type="text/javascript">
document.all.katsudou_list.style.display = "none";
document.all.marching_list.style.display = "none";
document.all.member_list.style.display = "none";
document.all.dantai_list.style.display = "none";
document.all.iken_list.style.display = "none";
document.all.new_list.style.display = "none";
//document.styleSheets(0).addRule("div.menuitem", "display: inline");
document.styleSheets(0).addRule("div.menuitem", "margin-left: 30%; margin-right: 25%");
document.styleSheets(0).addRule("div.menuitem", "margin-right: 1em");
document.styleSheets(0).addRule("div.menuitem ul", "display: inline");
document.styleSheets(0).addRule("div.menuitem h2", "display: inline");
document.styleSheets(0).addRule("body", "font-size: 130%");
document.styleSheets(0).addRule("div.navigation", "font-size: 80%");
document.styleSheets(0).addRule("div.update", "font-size: 80%");
document.styleSheets(0).addRule("#new", "font-size: 80%; line-height: 115%");
//document.styleSheets(0).addRule("#new li", "margin: 0 0 0.12em 0; padding: 0");
</script>

</body></html>
